metadata/dtds/fenix-database.dtd

<!ELEMENT dataset (
    mw_curricular_course_outside_student_degree*,
    weekly_ocupation*,
    turmas*,
    ass_cargo*,
    campus*,
    conversaolocalconcelho*,
    ass_horarioexcepcao_regime*,
    posgrad_area_cientifica*,
    posgrad_pagamento_guia*,
    seminary*,
    section*,
    mw_pessoa*,
    ojb_dlist*,
    curricular_course_execution_course*,
    almeida_nacionalidade*,
    mw_course*,
    ojb_dmap_entries*,
    responsavel*,
    paisexpansao*,
    posgrad_tabela_precos*,
    ass_unidade_marcacao*,
    degree_curricular_plan_enrolment_info*,
    exam_execution_course*,
    aux_smn_students*,
    posgrad_cargo*,
    possible_curricular_course_for_optional_curricular_course*,
    ass_funcionario*,
    curricular_course_scope*,
    execution_year*,
    ass_marcacao_ponto*,
    student*,
    enrolment_equivalence*,
    ass_func_nao_docente*,
    room*,
    branch_20032004*,
    person*,
    mw_curricular_course_scope*,
    master_degree_proof_version_jury*,
    seminarycandidacy_seminarycasestudy*,
    curricular_year*,
    ass_ferias*,
    degree*,
    role*,
    aulas*,
    curricular_semester*,
    teacher_shift_percentage*,
    mw_aluno_temp*,
    posgrad_candidato_mestrado*,
    person_role*,
    degree_info*,
    execution_period*,
    ass_status*,
    lessons_update*,
    seminary_curricularcourse*,
    zzzz*,
    posgrad_disc_area*,
    exam_student_room*,
    support_lessons_timetable*,
    country*,
    candidate_situation*,
    mw_average*,
    equivalence*,
    credits_manager_department*,
    guide*,
    website*,
    xpto*,
    ass_url*,
    website_section*,
    ass_periodo_ferias*,
    seminary_casestudy*,
    student_test_question*,
    mw_enrolment*,
    restriction*,
    curricular_course_equivalence*,
    shift_lesson*,
    student_group_attend*,
    conversaocidadepais*,
    price*,
    ass_param_justificacao*,
    paisnaturalidade*,
    evaluation*,
    advisory*,
    class*,
    student_test_log*,
    orientation*,
    curricular_course_enrolment_info*,
    mw_university*,
    plano_curricular_2003final*,
    ojb_dset*,
    degree_objectives*,
    guide_entry*,
    disciplinas*,
    ass_regime*,
    concelhoexpansao*,
    guide_situation*,
    item*,
    posgrad_aluno_mestrado*,
    ass_horario_excepcao*,
    atribuicaodisciplinas*,
    metadata*,
    master_degree_thesis_data_version_guider*,
    department*,
    mw_degree_translation*,
    branch*,
    teacher*,
    seminary_candidacy*,
    posgrad_candidato_situacao*,
    equivalency_theme*,
    equivalent_enrolment_for_enrolment_equivalence*,
    class_shift*,
    master_degree_proof_version*,
    posgrad_disciplina*,
    xml_documents*,
    mw_student_class*,
    category*,
    student_kind*,
    ojb_nrm*,
    exam_student*,
    candidate_enrolment*,
    mw_students_with_various_numbers*,
    site*,
    abreviaturas*,
    external_person*,
    mw_curricular_course*,
    curriculum*,
    almeida_aluno*,
    freguesia*,
    posgrad_situacao*,
    mw_curricular_course_scope_temp*,
    ass_feriado*,
    almeida_disc*,
    ass_cargo_url*,
    tests*,
    posgrad_guia_tabela*,
    contributor*,
    master_degree_thesis_data_version_assistent_guider*,
    summary*,
    distributed_tests*,
    ojb_seq*,
    ass_centro_custo*,
    degree_final_project*,
    master_degree_thesis_data_version*,
    enrolment_evaluation*,
    seminary_modality*,
    external_activity*,
    ass_horariotipo_regime*,
    student_curricular_plan_degree_final_project*,
    department_course*,
    enrolment_period*,
    ass_regularizacao_marcacao*,
    xpto4*,
    shift*,
    ass_horario_tipo*,
    ass_horario*,
    posgrad_guia*,
    evaluation_method*,
    almeida_curram*,
    topwords*,
    master_degree_candidate*,
    master_degree_thesis_data_version_external_assistent_guider*,
    curricular_course*,
    freguesiaexpansao*,
    almeida_coddisc*,
    ojb_hl_seq*,
    almeida_inscricoes*,
    student_group_info*,
    course_report*,
    seminary_theme*,
    responsiblefor*,
    test_question*,
    concelho*,
    student_curricular_plan*,
    lesson*,
    professorships*,
    distrito*,
    exam_room*,
    publications_number*,
    degree_final_project_orientation*,
    mw_aluno*,
    posgrad_disc_area_aluno*,
    ass_param_ferias*,
    gratuity*,
    student_group*,
    ass_pessoa_cargo*,
    ass_modalidade*,
    career*,
    service_provider_regime*,
    shift_student*,
    ojb_dset_entries*,
    coordinator*,
    ass_cartao*,
    ojb_dmap*,
    execution_course*,
    precedence*,
    university*,
    enrolment*,
    ojb_lockentry*,
    degree_curricular_plan*,
    qualification*,
    mark*,
    ass_param_regularizacao*,
    group_properties*,
    posgrad_docente*,
    mw_branch*,
    person_advisory*,
    master_degree_thesis*,
    ojb_dlist_entries*,
    credits*,
    mw_person_with_duplicate_id*,
    posgrad_pessoa*,
    ass_justificacao*,
    posgrad_curso_mestrado*,
    posgrad_pessoa_cargo*,
    ass_funcionario_historico*,
    mw_enrolment_temp*,
    ass_horario_regime*,
    announcement*,
    publication*,
    attend*,
    grant_owner*,
    curricular_course_equivalence_restriction*,
    bibliographic_reference*,
    execution_degree*,
    website_item*,
    conversaolocaldistrito*,
    REIMBURSEMENT_GUIDE_SITUATION*,
    REIMBURSEMENT_GUIDE*)>

<!ELEMENT mw_curricular_course_outside_student_degree EMPTY>
<!ATTLIST mw_curricular_course_outside_student_degree
    courseCode CDATA #REQUIRED
    degreeCode CDATA #REQUIRED
    keyCurricularCourse CDATA #REQUIRED
    idInternal CDATA #REQUIRED
>

<!ELEMENT weekly_ocupation EMPTY>
<!ATTLIST weekly_ocupation
    ID_INTERNAL CDATA #REQUIRED
    RESEARCH CDATA #IMPLIED
    MANAGEMENT CDATA #IMPLIED
    LECTURE CDATA #IMPLIED
    SUPPORT CDATA #IMPLIED
    OTHER CDATA #IMPLIED
    LAST_MODIFICATION_DATE CDATA #IMPLIED
    KEY_TEACHER CDATA #REQUIRED
>

<!ELEMENT turmas EMPTY>
<!ATTLIST turmas
    Sigla CDATA #IMPLIED
    Titulo CDATA #IMPLIED
    Epoca_Inicio CDATA #IMPLIED
    Epoca_Fim CDATA #IMPLIED
>

<!ELEMENT ass_cargo EMPTY>
<!ATTLIST ass_cargo
    chaveCargo CDATA #REQUIRED
    cargo CDATA #REQUIRED
>

<!ELEMENT campus EMPTY>
<!ATTLIST campus
    ID_INTERNAL CDATA #REQUIRED
    KEY_DEGREE CDATA #REQUIRED
    NAME CDATA #REQUIRED
>

<!ELEMENT conversaolocalconcelho EMPTY>
<!ATTLIST conversaolocalconcelho
    localidade CDATA #IMPLIED
    concelho CDATA #IMPLIED
>

<!ELEMENT ass_horarioexcepcao_regime EMPTY>
<!ATTLIST ass_horarioexcepcao_regime
    chaveHorario CDATA #REQUIRED
    chaveRegime CDATA #REQUIRED
>

<!ELEMENT posgrad_area_cientifica EMPTY>
<!ATTLIST posgrad_area_cientifica
    codigoInterno CDATA #REQUIRED
    nome CDATA #REQUIRED
    codigoCursoMestrado CDATA #REQUIRED
    anoLectivo CDATA #REQUIRED
    codigoInternoRamo CDATA #IMPLIED
>

<!ELEMENT posgrad_pagamento_guia EMPTY>
<!ATTLIST posgrad_pagamento_guia
    codigoInterno CDATA #REQUIRED
    codigoGuia CDATA #REQUIRED
    dataPagamento CDATA #REQUIRED
    montante CDATA #REQUIRED
    numeroPrestacao CDATA #REQUIRED
>

<!ELEMENT seminary EMPTY>
<!ATTLIST seminary
    id_internal CDATA #REQUIRED
    name CDATA #REQUIRED
    description CDATA #IMPLIED
    allowed_candidacies_per_student CDATA #IMPLIED
>

<!ELEMENT section EMPTY>
<!ATTLIST section
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #IMPLIED
    SECTION_ORDER CDATA #IMPLIED
    KEY_SITE CDATA #REQUIRED
    KEY_SUPERIOR_SECTION CDATA #IMPLIED
    LAST_MODIFIED_DATE CDATA #IMPLIED
>

<!ELEMENT mw_pessoa EMPTY>
<!ATTLIST mw_pessoa
    documentIdNumber CDATA #REQUIRED
    documentIdType CDATA #IMPLIED
    documentIdPlace CDATA #IMPLIED
    documentIdDate CDATA #IMPLIED
    name CDATA #IMPLIED
    sex CDATA #IMPLIED
    maritalStatus CDATA #IMPLIED
    dateOfBirth CDATA #IMPLIED
    fatherName CDATA #IMPLIED
    motherName CDATA #IMPLIED
    countryCode CDATA #IMPLIED
    parishOfBirth CDATA #IMPLIED
    municipalityOfBirth CDATA #IMPLIED
    districtOfBirth CDATA #IMPLIED
    address CDATA #IMPLIED
    addressAreaCode CDATA #IMPLIED
    zipCode CDATA #IMPLIED
    zipAreaCode CDATA #IMPLIED
    parishOfAddress CDATA #IMPLIED
    municipalityOfAddress CDATA #IMPLIED
    districtOfAddress CDATA #IMPLIED
    phone CDATA #IMPLIED
    mobilePhone CDATA #IMPLIED
    email CDATA #IMPLIED
    homePage CDATA #IMPLIED
    contributorNumber CDATA #IMPLIED
    job CDATA #IMPLIED
    username CDATA #IMPLIED
    password CDATA #IMPLIED
    fiscalCode CDATA #IMPLIED
    documentIdValidation CDATA #IMPLIED
    financialRepCode CDATA #IMPLIED
    idInternal CDATA #REQUIRED
>

<!ELEMENT ojb_dlist EMPTY>
<!ATTLIST ojb_dlist
    ID CDATA #REQUIRED
    SIZE_ CDATA #IMPLIED
>

<!ELEMENT curricular_course_execution_course EMPTY>
<!ATTLIST curricular_course_execution_course
    INTERNAL_CODE CDATA #REQUIRED
    KEY_CURRICULAR_COURSE CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
>

<!ELEMENT almeida_nacionalidade EMPTY>
<!ATTLIST almeida_nacionalidade
    numero CDATA #REQUIRED
    nome CDATA #IMPLIED
>

<!ELEMENT mw_course EMPTY>
<!ATTLIST mw_course
    courseCode CDATA #REQUIRED
    courseName CDATA #IMPLIED
    universityCode CDATA #IMPLIED
>

<!ELEMENT ojb_dmap_entries EMPTY>
<!ATTLIST ojb_dmap_entries
    ID CDATA #REQUIRED
    DMAP_ID CDATA #REQUIRED
    KEY_OID CDATA #IMPLIED
    VALUE_OID CDATA #IMPLIED
>

<!ELEMENT responsavel EMPTY>
<!ATTLIST responsavel
    Id_Internal CDATA #REQUIRED
    Ano_Lectivo CDATA #IMPLIED
    Cod_Curso CDATA #IMPLIED
    Ano_Curr CDATA #IMPLIED
    Semestre CDATA #IMPLIED
    Cod_Ramo CDATA #IMPLIED
    Cod_Disc CDATA #IMPLIED
    No_Mec CDATA #IMPLIED
    Data_act CDATA #IMPLIED
    Observacoes CDATA #IMPLIED
    depto CDATA #IMPLIED
>

<!ELEMENT paisexpansao EMPTY>
<!ATTLIST paisexpansao
    descr1 CDATA #REQUIRED
    descr2 CDATA #REQUIRED
>

<!ELEMENT posgrad_tabela_precos EMPTY>
<!ATTLIST posgrad_tabela_precos
    codigoInterno CDATA #REQUIRED
    tipo CDATA #REQUIRED
    designacao CDATA #REQUIRED
    montante CDATA #REQUIRED
    valido CDATA #REQUIRED
>

<!ELEMENT ass_unidade_marcacao EMPTY>
<!ATTLIST ass_unidade_marcacao
    codigoInterno CDATA #REQUIRED
    sigla CDATA #REQUIRED
    descricao CDATA #REQUIRED
    id CDATA #REQUIRED
>

<!ELEMENT degree_curricular_plan_enrolment_info EMPTY>
<!ATTLIST degree_curricular_plan_enrolment_info
    ID_INTERNAL CDATA #REQUIRED
    KEY_DEGREE_CURRICULAR_PLAN CDATA #REQUIRED
    DEGREE_DURATION CDATA #REQUIRED
    MINIMAL_YEAR_FOR_OPTIONAL_COURSES CDATA #REQUIRED
>

<!ELEMENT exam_execution_course EMPTY>
<!ATTLIST exam_execution_course
    ID_INTERNAL CDATA #REQUIRED
    KEY_EVALUATION CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
>

<!ELEMENT aux_smn_students EMPTY>
<!ATTLIST aux_smn_students
    number CDATA #IMPLIED
    degree CDATA #IMPLIED
    key_modality CDATA #IMPLIED
    key_theme CDATA #IMPLIED
>

<!ELEMENT posgrad_cargo EMPTY>
<!ATTLIST posgrad_cargo
    codigoInterno CDATA #REQUIRED
    cargoNome CDATA #REQUIRED
>

<!ELEMENT possible_curricular_course_for_optional_curricular_course EMPTY>
<!ATTLIST possible_curricular_course_for_optional_curricular_course
    ID_INTERNAL CDATA #REQUIRED
    KEY_POSSIBLE_CURRICULAR_COURSE CDATA #REQUIRED
    KEY_OPTIONAL_CURRICULAR_COURSE CDATA #REQUIRED
>

<!ELEMENT ass_funcionario EMPTY>
<!ATTLIST ass_funcionario
    codigoInterno CDATA #REQUIRED
    chavePessoa CDATA #REQUIRED
    numeroMecanografico CDATA #REQUIRED
    chaveHorarioActual CDATA #REQUIRED
    antiguidade CDATA #REQUIRED
>

<!ELEMENT curricular_course_scope EMPTY>
<!ATTLIST curricular_course_scope
    ID_INTERNAL CDATA #REQUIRED
    KEY_CURRICULAR_SEMESTER CDATA #REQUIRED
    KEY_CURRICULAR_COURSE CDATA #REQUIRED
    KEY_BRANCH CDATA #REQUIRED
    THEORETICAL_HOURS CDATA #IMPLIED
    PRATICAL_HOURS CDATA #IMPLIED
    THEO_PRAT_HOURS CDATA #IMPLIED
    LAB_HOURS CDATA #IMPLIED
    SCOPE_TYPE CDATA #REQUIRED
    MAX_INCREMENT_NAC CDATA #IMPLIED
    MIN_INCREMENT_NAC CDATA #IMPLIED
    WEIGTH CDATA #IMPLIED
    CREDITS CDATA #IMPLIED
    ECTS_CREDITS CDATA #IMPLIED
    BEGIN_DATE CDATA #REQUIRED
    END_DATE CDATA #IMPLIED
>

<!ELEMENT execution_year EMPTY>
<!ATTLIST execution_year
    ID_INTERNAL CDATA #REQUIRED
    YEAR CDATA #REQUIRED
    STATE CDATA #REQUIRED
    BEGIN_DATE CDATA #REQUIRED
    END_DATE CDATA #REQUIRED
>

<!ELEMENT ass_marcacao_ponto EMPTY>
<!ATTLIST ass_marcacao_ponto
    codigoInterno CDATA #REQUIRED
    unidade CDATA #IMPLIED
    siglaUnidade CDATA #IMPLIED
    dataMarcacao CDATA #IMPLIED
    numCartao CDATA #IMPLIED
    numFuncionario CDATA #IMPLIED
    estado CDATA #IMPLIED
>

<!ELEMENT student EMPTY>
<!ATTLIST student
    ID_INTERNAL CDATA #REQUIRED
    NUMBER CDATA #REQUIRED
    KEY_PERSON CDATA #REQUIRED
    STATE CDATA #REQUIRED
    DEGREE_TYPE CDATA #REQUIRED
    KEY_STUDENT_KIND CDATA #REQUIRED
>

<!ELEMENT enrolment_equivalence EMPTY>
<!ATTLIST enrolment_equivalence
    ID_INTERNAL CDATA #REQUIRED
    KEY_ENROLMENT CDATA #REQUIRED
>

<!ELEMENT ass_func_nao_docente EMPTY>
<!ATTLIST ass_func_nao_docente
    codigoInterno CDATA #REQUIRED
    chaveFuncionario CDATA #REQUIRED
>

<!ELEMENT room EMPTY>
<!ATTLIST room
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #REQUIRED
    BUILDING CDATA #REQUIRED
    FLOOR CDATA #REQUIRED
    TYPE CDATA #REQUIRED
    NORMAL_CAPACITY CDATA #REQUIRED
    EXAM_CAPACITY CDATA #REQUIRED
>

<!ELEMENT branch_20032004 EMPTY>
<!ATTLIST branch_20032004
    ID_INTERNAL CDATA #REQUIRED
    BRANCH_CODE CDATA #REQUIRED
    BRANCH_NAME CDATA #REQUIRED
    KEY_DEGREE_CURRICULAR_PLAN CDATA #REQUIRED
>

<!ELEMENT person EMPTY>
<!ATTLIST person
    ID_INTERNAL CDATA #REQUIRED
    DOCUMENT_ID_NUMBER CDATA #REQUIRED
    EMISSION_LOCATION_OF_DOCUMENT_ID CDATA #IMPLIED
    EMISSION_DATE_OF_DOCUMENT_ID CDATA #IMPLIED
    EXPERATION_DATE_OF_DOCUMENT_ID CDATA #IMPLIED
    NAME CDATA #IMPLIED
    DATE_OF_BIRTH CDATA #IMPLIED
    NAME_OF_FATHER CDATA #IMPLIED
    NAME_OF_MOTHER CDATA #IMPLIED
    NATIONALITY CDATA #IMPLIED
    PARISH_OF_BIRTH CDATA #IMPLIED
    DISTRICT_SUBDIVISION_OF_BIRTH CDATA #IMPLIED
    DISTRICT_OF_BIRTH CDATA #IMPLIED
    ADDRESS CDATA #IMPLIED
    AREA CDATA #IMPLIED
    AREA_CODE CDATA #IMPLIED
    AREA_OF_AREA_CODE CDATA #IMPLIED
    PARISH_OF_RESIDENCE CDATA #IMPLIED
    DISTRICT_SUBDIVISION_OF_RESIDENCE CDATA #IMPLIED
    DISTRICT_OF_RESIDENCE CDATA #IMPLIED
    PHONE CDATA #IMPLIED
    MOBILE CDATA #IMPLIED
    EMAIL CDATA #IMPLIED
    WEB_ADRDRESS CDATA #IMPLIED
    SOCIAL_SECURITY_NUMBER CDATA #IMPLIED
    PROFESSION CDATA #IMPLIED
    USERNAME CDATA #REQUIRED
    PASSWD CDATA #IMPLIED
    KEY_COUNTRY CDATA #IMPLIED
    FISCAL_CODE CDATA #IMPLIED
    TYPE_ID_DOCUMENT CDATA #REQUIRED
    SEX CDATA #IMPLIED
    MARITAL_STATUS CDATA #IMPLIED
>

<!ELEMENT mw_curricular_course_scope EMPTY>
<!ATTLIST mw_curricular_course_scope
    executionYear CDATA #REQUIRED
    courseCode CDATA #REQUIRED
    degreeCode CDATA #REQUIRED
    branchCode CDATA #REQUIRED
    curricularYear CDATA #IMPLIED
    curricularSemester CDATA #IMPLIED
    courseType CDATA #IMPLIED
    theoreticalHours CDATA #IMPLIED
    praticaHours CDATA #IMPLIED
    labHours CDATA #IMPLIED
    theoPratHours CDATA #IMPLIED
    credits CDATA #IMPLIED
    orientation CDATA #IMPLIED
>

<!ELEMENT master_degree_proof_version_jury EMPTY>
<!ATTLIST master_degree_proof_version_jury
    ID_INTERNAL CDATA #REQUIRED
    KEY_MASTER_DEGREE_PROOF_VERSION CDATA #REQUIRED
    KEY_TEACHER CDATA #REQUIRED
>

<!ELEMENT seminarycandidacy_seminarycasestudy EMPTY>
<!ATTLIST seminarycandidacy_seminarycasestudy
    candidacy_id_internal CDATA #REQUIRED
    casestudy_id_internal CDATA #REQUIRED
    preference_order CDATA #REQUIRED
>

<!ELEMENT curricular_year EMPTY>
<!ATTLIST curricular_year
    ID_INTERNAL CDATA #REQUIRED
    YEAR CDATA #REQUIRED
>

<!ELEMENT ass_ferias EMPTY>
<!ATTLIST ass_ferias
    codigoInterno CDATA #REQUIRED
    chaveFuncionario CDATA #REQUIRED
    anoCorrente CDATA #REQUIRED
    diasNormais CDATA #REQUIRED
    diasEpocaBaixa CDATA #REQUIRED
    diasHorasExtras CDATA #REQUIRED
    diasAntiguidade CDATA #REQUIRED
    diasMeioDia CDATA #REQUIRED
    diasDispensaServico CDATA #REQUIRED
    diasTolerancia CDATA #REQUIRED
    diasTransferidos CDATA #REQUIRED
    diasTransHorasExtras CDATA #REQUIRED
    diasTransAntiguidade CDATA #REQUIRED
>

<!ELEMENT degree EMPTY>
<!ATTLIST degree
    ID_INTERNAL CDATA #REQUIRED
    CODE CDATA #REQUIRED
    NAME CDATA #REQUIRED
    TYPE_DEGREE CDATA #REQUIRED
>

<!ELEMENT role EMPTY>
<!ATTLIST role
    ID_INTERNAL CDATA #REQUIRED
    ROLE_TYPE CDATA #REQUIRED
    PORTAL_SUB_APPLICATION CDATA #IMPLIED
    PAGE CDATA #IMPLIED
    PAGE_NAME_PROPERTY CDATA #IMPLIED
>

<!ELEMENT aulas EMPTY>
<!ATTLIST aulas
    id CDATA #REQUIRED
    NumEpoca CDATA #IMPLIED
    Turma CDATA #IMPLIED
    Dia CDATA #IMPLIED
    Hora CDATA #IMPLIED
    Disciplina CDATA #IMPLIED
    TipoAula CDATA #IMPLIED
    NumTurno CDATA #IMPLIED
    Sala CDATA #IMPLIED
    Fixa CDATA #IMPLIED
>

<!ELEMENT curricular_semester EMPTY>
<!ATTLIST curricular_semester
    ID_INTERNAL CDATA #REQUIRED
    KEY_CURRICULAR_YEAR CDATA #REQUIRED
    SEMESTER CDATA #REQUIRED
>

<!ELEMENT teacher_shift_percentage EMPTY>
<!ATTLIST teacher_shift_percentage
    ID_INTERNAL CDATA #REQUIRED
    KEY_PROFESSOR_SHIP CDATA #REQUIRED
    KEY_SHIFT CDATA #REQUIRED
    PERCENTAGE CDATA #REQUIRED
>

<!ELEMENT mw_aluno_temp EMPTY>
<!ATTLIST mw_aluno_temp
    documentIdNumber CDATA #REQUIRED
    number CDATA #IMPLIED
    degreeCode CDATA #IMPLIED
    branchCode CDATA #IMPLIED
    year CDATA #IMPLIED
    ISTUniversity CDATA #IMPLIED
    worker CDATA #IMPLIED
    gratuitySituation CDATA #IMPLIED
    trash CDATA #IMPLIED
    answer1 CDATA #IMPLIED
    answer2 CDATA #IMPLIED
    answer3 CDATA #IMPLIED
    answer4 CDATA #IMPLIED
    answer5 CDATA #IMPLIED
    answer6 CDATA #IMPLIED
    answer7 CDATA #IMPLIED
    idInternal CDATA #REQUIRED
>

<!ELEMENT posgrad_candidato_mestrado EMPTY>
<!ATTLIST posgrad_candidato_mestrado
    codigoInterno CDATA #REQUIRED
    numeroDocumentoIdentificacao CDATA #IMPLIED
    tipoDocumentoIdentificacao CDATA #IMPLIED
    localEmissaoDocumentoIdentificacao CDATA #IMPLIED
    dataEmissaoDocumentoIdentificacao CDATA #IMPLIED
    nome CDATA #IMPLIED
    sexo CDATA #IMPLIED
    estadoCivil CDATA #IMPLIED
    nascimento CDATA #IMPLIED
    nomePai CDATA #IMPLIED
    nomeMae CDATA #IMPLIED
    nacionalidade CDATA #IMPLIED
    freguesiaNaturalidade CDATA #IMPLIED
    concelhoNaturalidade CDATA #IMPLIED
    distritoNaturalidade CDATA #IMPLIED
    morada CDATA #IMPLIED
    localidade CDATA #IMPLIED
    codigoPostal CDATA #IMPLIED
    freguesiaMorada CDATA #IMPLIED
    concelhoMorada CDATA #IMPLIED
    distritoMorada CDATA #IMPLIED
    telefone CDATA #IMPLIED
    telemovel CDATA #IMPLIED
    email CDATA #IMPLIED
    enderecoWeb CDATA #IMPLIED
    numContribuinte CDATA #IMPLIED
    profissao CDATA #IMPLIED
    licenciatura CDATA #IMPLIED
    username CDATA #IMPLIED
    password CDATA #IMPLIED
    codigoCursoMestrado CDATA #IMPLIED
    numeroCandidato CDATA #IMPLIED
    anoCandidatura CDATA #IMPLIED
    especializacao CDATA #IMPLIED
    escolaLicenciatura CDATA #IMPLIED
    anoLicenciatura CDATA #IMPLIED
    media CDATA #IMPLIED
>

<!ELEMENT person_role EMPTY>
<!ATTLIST person_role
    ID_INTERNAL CDATA #REQUIRED
    KEY_ROLE CDATA #REQUIRED
    KEY_PERSON CDATA #REQUIRED
>

<!ELEMENT degree_info EMPTY>
<!ATTLIST degree_info
    ID_INTERNAL CDATA #REQUIRED
    KEY_DEGREE CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    OBJECTIVES CDATA #IMPLIED
    HISTORY CDATA #IMPLIED
    PROFESSIONAL_EXITS CDATA #IMPLIED
    ADDITIONAL_INFO CDATA #IMPLIED
    LINKS CDATA #IMPLIED
    TEST_INGRESSION CDATA #IMPLIED
    DRIFTS_INITIAL CDATA #IMPLIED
    DRIFTS_FIRST CDATA #IMPLIED
    DRIFTS_SECOND CDATA #IMPLIED
    CLASSIFICATIONS CDATA #IMPLIED
    MARK_MIN CDATA #IMPLIED
    MARK_MAX CDATA #IMPLIED
    MARK_AVERAGE CDATA #IMPLIED
    DESCRIPTION_EN CDATA #IMPLIED
    OBJECTIVES_EN CDATA #IMPLIED
    HISTORY_EN CDATA #IMPLIED
    PROFESSIONAL_EXITS_EN CDATA #IMPLIED
    ADDITIONAL_INFO_EN CDATA #IMPLIED
    LINKS_EN CDATA #IMPLIED
    TEST_INGRESSION_EN CDATA #IMPLIED
    CLASSIFICATIONS_EN CDATA #IMPLIED
    LAST_MODIFICATION_DATE CDATA #IMPLIED
>

<!ELEMENT execution_period EMPTY>
<!ATTLIST execution_period
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #REQUIRED
    KEY_EXECUTION_YEAR CDATA #REQUIRED
    STATE CDATA #REQUIRED
    SEMESTER CDATA #REQUIRED
    BEGIN_DATE CDATA #REQUIRED
    END_DATE CDATA #REQUIRED
>

<!ELEMENT ass_status EMPTY>
<!ATTLIST ass_status
    codigoInterno CDATA #REQUIRED
    sigla CDATA #REQUIRED
    designacao CDATA #REQUIRED
    estado CDATA #REQUIRED
    assiduidade CDATA #REQUIRED
    quem CDATA #REQUIRED
    quando CDATA #REQUIRED
>

<!ELEMENT lessons_update EMPTY>
<!ATTLIST lessons_update
    ID_INTERNAL CDATA #REQUIRED
    WEEKDAY CDATA #REQUIRED
    START_TIME CDATA #REQUIRED
    END_TIME CDATA #REQUIRED
    KEY_ROOM CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
    TYPE CDATA #REQUIRED
    KEY_EXECUTION_PERIOD CDATA #REQUIRED
>

<!ELEMENT seminary_curricularcourse EMPTY>
<!ATTLIST seminary_curricularcourse
    id_internal CDATA #REQUIRED
    seminary_id_internal CDATA #REQUIRED
    curricular_course_id_internal CDATA #REQUIRED
    modality_id_internal CDATA #REQUIRED
>

<!ELEMENT zzzz EMPTY>
<!ATTLIST zzzz
    number CDATA #IMPLIED
>

<!ELEMENT posgrad_disc_area EMPTY>
<!ATTLIST posgrad_disc_area
    codigoInterno CDATA #REQUIRED
    codigoAreaCientifica CDATA #REQUIRED
    codigoDisciplina CDATA #REQUIRED
    anoLectivo CDATA #REQUIRED
>

<!ELEMENT exam_student_room EMPTY>
<!ATTLIST exam_student_room
    ID_INTERNAL CDATA #REQUIRED
    KEY_EVALUATION CDATA #REQUIRED
    KEY_STUDENT CDATA #REQUIRED
    KEY_ROOM CDATA #IMPLIED
>

<!ELEMENT support_lessons_timetable EMPTY>
<!ATTLIST support_lessons_timetable
    ID_INTERNAL CDATA #REQUIRED
    WEEKDAY CDATA #REQUIRED
    START_TIME CDATA #REQUIRED
    END_TIME CDATA #REQUIRED
    PLACE CDATA #REQUIRED
    KEY_TEACHER CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
>

<!ELEMENT country EMPTY>
<!ATTLIST country
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #REQUIRED
    NATIONALITY CDATA #REQUIRED
    CODE CDATA #REQUIRED
>

<!ELEMENT candidate_situation EMPTY>
<!ATTLIST candidate_situation
    ID_INTERNAL CDATA #REQUIRED
    DATE CDATA #REQUIRED
    REMARKS CDATA #IMPLIED
    VALIDATION CDATA #REQUIRED
    CANDIDATE_KEY CDATA #REQUIRED
    SITUATION CDATA #REQUIRED
>

<!ELEMENT mw_average EMPTY>
<!ATTLIST mw_average
    number CDATA #REQUIRED
    numberOfCoursesEnrolled CDATA #REQUIRED
    numberOfCoursesApproved CDATA #IMPLIED
    sum CDATA #IMPLIED
    average CDATA #IMPLIED
>

<!ELEMENT equivalence EMPTY>
<!ATTLIST equivalence
    ID_INTERNAL CDATA #REQUIRED
    KEY_EQUIVALENT_ENROLMENT CDATA #REQUIRED
    KEY_ENROLMENT CDATA #REQUIRED
    EQUIVALENCE_TYPE CDATA #REQUIRED
>

<!ELEMENT credits_manager_department EMPTY>
<!ATTLIST credits_manager_department
    ID_INTERNAL CDATA #REQUIRED
    KEY_PERSON CDATA #REQUIRED
    KEY_DEPARTMENT CDATA #REQUIRED
>

<!ELEMENT guide EMPTY>
<!ATTLIST guide
    ID_INTERNAL CDATA #REQUIRED
    NUMBER CDATA #REQUIRED
    YEAR CDATA #REQUIRED
    KEY_CONTRIBUTOR CDATA #REQUIRED
    KEY_PERSON CDATA #REQUIRED
    TOTAL CDATA #REQUIRED
    REMARKS CDATA #IMPLIED
    GUIDE_REQUESTER CDATA #REQUIRED
    KEY_EXECUTION_DEGREE CDATA #REQUIRED
    PAYMENT_TYPE CDATA #IMPLIED
    CREATION_DATE CDATA #REQUIRED
    VERSION CDATA #REQUIRED
    PAYMENT_DATE CDATA #IMPLIED
>

<!ELEMENT website EMPTY>
<!ATTLIST website
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #REQUIRED
    MAIL CDATA #IMPLIED
    STYLE CDATA #IMPLIED
    CLASS_NAME CDATA #IMPLIED
>

<!ELEMENT xpto EMPTY>
<!ATTLIST xpto
    ccid CDATA #REQUIRED
    ccname CDATA #REQUIRED
    cc2id CDATA #REQUIRED
    cc2name CDATA #REQUIRED
>

<!ELEMENT ass_url EMPTY>
<!ATTLIST ass_url
    chaveUrl CDATA #REQUIRED
    url CDATA #REQUIRED
>

<!ELEMENT website_section EMPTY>
<!ATTLIST website_section
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #REQUIRED
    SIZE CDATA #REQUIRED
    SORTING_ORDER CDATA #REQUIRED
    WHAT_TO_SORT CDATA #REQUIRED
    EXCERPT_SIZE CDATA #IMPLIED
    KEY_WEBSITE CDATA #REQUIRED
>

<!ELEMENT ass_periodo_ferias EMPTY>
<!ATTLIST ass_periodo_ferias
    codigoInterno CDATA #REQUIRED
    chaveFuncionario CDATA #REQUIRED
    dataInicio CDATA #REQUIRED
    dataFim CDATA #IMPLIED
    numDiasUteis CDATA #REQUIRED
    tipoFerias CDATA #REQUIRED
    quem CDATA #REQUIRED
    quando CDATA #REQUIRED
>

<!ELEMENT seminary_casestudy EMPTY>
<!ATTLIST seminary_casestudy
    id_internal CDATA #REQUIRED
    name CDATA #REQUIRED
    description CDATA #IMPLIED
    code CDATA #REQUIRED
    seminary_theme_Id_Internal CDATA #IMPLIED
>

<!ELEMENT student_test_question EMPTY>
<!ATTLIST student_test_question
    ID_INTERNAL CDATA #REQUIRED
    KEY_STUDENT CDATA #REQUIRED
    KEY_DISTRIBUTED_TEST CDATA #REQUIRED
    KEY_XML_DOCUMENT CDATA #REQUIRED
    TEST_QUESTION_ORDER CDATA #REQUIRED
    TEST_QUESTION_VALUE CDATA #REQUIRED
    TEST_QUESTION_MARK CDATA #REQUIRED
    RESPONSE CDATA #REQUIRED
    OPTION_SHUFFLE CDATA #IMPLIED
>

<!ELEMENT mw_enrolment EMPTY>
<!ATTLIST mw_enrolment
    number CDATA #IMPLIED
    enrolmentYear CDATA #IMPLIED
    curricularCourseYear CDATA #IMPLIED
    curricularCourseSemester CDATA #IMPLIED
    season CDATA #IMPLIED
    courseCode CDATA #IMPLIED
    degreeCode CDATA #IMPLIED
    branchCode CDATA #IMPLIED
    grade CDATA #IMPLIED
    teacherNumber CDATA #IMPLIED
    examDate CDATA #IMPLIED
    universityCode CDATA #IMPLIED
    remarks CDATA #IMPLIED
    idinternal CDATA #REQUIRED
>

<!ELEMENT restriction EMPTY>
<!ATTLIST restriction
    ID_INTERNAL CDATA #REQUIRED
    CLASS_NAME CDATA #REQUIRED
    KEY_PRECEDENCE CDATA #REQUIRED
    KEY_CURRICULAR_COURSE CDATA #IMPLIED
    NUMBER_OF_CURRICULAR_COURSE_DONE CDATA #IMPLIED
>

<!ELEMENT curricular_course_equivalence EMPTY>
<!ATTLIST curricular_course_equivalence
    ID_INTERNAL CDATA #REQUIRED
    KEY_CURRICULAR_COURSE CDATA #REQUIRED
>

<!ELEMENT shift_lesson EMPTY>
<!ATTLIST shift_lesson
    ID_INTERNAL CDATA #REQUIRED
    KEY_SHIFT CDATA #REQUIRED
    KEY_LESSON CDATA #REQUIRED
>

<!ELEMENT student_group_attend EMPTY>
<!ATTLIST student_group_attend
    ID_INTERNAL CDATA #REQUIRED
    KEY_ATTEND CDATA #REQUIRED
    KEY_STUDENT_GROUP CDATA #REQUIRED
>

<!ELEMENT conversaocidadepais EMPTY>
<!ATTLIST conversaocidadepais
    descr1 CDATA #IMPLIED
    descr2 CDATA #IMPLIED
>

<!ELEMENT price EMPTY>
<!ATTLIST price
    ID_INTERNAL CDATA #REQUIRED
    GRADUATION_TYPE CDATA #REQUIRED
    DOCUMENT_TYPE CDATA #REQUIRED
    DESCRIPTION CDATA #REQUIRED
    PRICE CDATA #REQUIRED
>

<!ELEMENT ass_param_justificacao EMPTY>
<!ATTLIST ass_param_justificacao
    codigoInterno CDATA #REQUIRED
    sigla CDATA #REQUIRED
    descricao CDATA #REQUIRED
    tipo CDATA #REQUIRED
    tipoDias CDATA #REQUIRED
    grupo CDATA #IMPLIED
    quem CDATA #REQUIRED
    quando CDATA #REQUIRED
>

<!ELEMENT paisnaturalidade EMPTY>
<!ATTLIST paisnaturalidade
    Cod CDATA #REQUIRED
    Origem CDATA #REQUIRED
>

<!ELEMENT evaluation EMPTY>
<!ATTLIST evaluation
    ID_INTERNAL CDATA #REQUIRED
    CLASS_NAME CDATA #REQUIRED
    DAY CDATA #IMPLIED
    BEGINNING CDATA #IMPLIED
    END CDATA #IMPLIED
    SEASON CDATA #REQUIRED
    ENROLLMENT_BEGIN_DAY CDATA #IMPLIED
    ENROLLMENT_BEGIN_TIME CDATA #IMPLIED
    ENROLLMENT_END_DAY CDATA #IMPLIED
    ENROLLMENT_END_TIME CDATA #IMPLIED
    PUBLISHMENT_MESSAGE CDATA #IMPLIED
>

<!ELEMENT advisory EMPTY>
<!ATTLIST advisory
    ID_INTERNAL CDATA #REQUIRED
    SENDER CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    SUBJECT CDATA #REQUIRED
    MESSAGE CDATA #REQUIRED
    EXPIRES CDATA #REQUIRED
    ONLY_SHOW_ONCE CDATA #REQUIRED
>

<!ELEMENT class EMPTY>
<!ATTLIST class
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #REQUIRED
    SEMESTER CDATA #IMPLIED
    CURRICULAR_YEAR CDATA #REQUIRED
    KEY_EXECUTION_DEGREE CDATA #REQUIRED
    KEY_DEGREE CDATA #IMPLIED
    KEY_EXECUTION_PERIOD CDATA #REQUIRED
>

<!ELEMENT student_test_log EMPTY>
<!ATTLIST student_test_log
    ID_INTERNAL CDATA #REQUIRED
    KEY_STUDENT CDATA #REQUIRED
    KEY_DISTRIBUTED_TEST CDATA #REQUIRED
    DATE CDATA #IMPLIED
    EVENT CDATA #IMPLIED
>

<!ELEMENT orientation EMPTY>
<!ATTLIST orientation
    ID_INTERNAL CDATA #REQUIRED
    ORIENTATION_TYPE CDATA #IMPLIED
    LAST_MODIFICATION_DATE CDATA #IMPLIED
    NUMBER_OF_STUDENTS CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    KEY_TEACHER CDATA #REQUIRED
>

<!ELEMENT curricular_course_enrolment_info EMPTY>
<!ATTLIST curricular_course_enrolment_info
    ID_INTERNAL CDATA #REQUIRED
    MAX_INCREMENT_NAC CDATA #REQUIRED
    MIN_INCREMENT_NAC CDATA #REQUIRED
    WEIGTH CDATA #REQUIRED
>

<!ELEMENT mw_university EMPTY>
<!ATTLIST mw_university
    universityCode CDATA #IMPLIED
    universityName CDATA #IMPLIED
>

<!ELEMENT plano_curricular_2003final EMPTY>
<!ATTLIST plano_curricular_2003final
    Id_Internal CDATA #REQUIRED
    Ano_Lectivo CDATA #IMPLIED
    Codigo_Lic CDATA #IMPLIED
    Codigo_Ramo CDATA #IMPLIED
    Ano_Curricular CDATA #IMPLIED
    Semestre CDATA #IMPLIED
    Codigo_Disc CDATA #IMPLIED
    Nome_Disc CDATA #IMPLIED
    ciencia_base CDATA #IMPLIED
    ender_web CDATA #IMPLIED
    Objectivos CDATA #IMPLIED
    Progr_Res CDATA #IMPLIED
    bib_princ_1 CDATA #IMPLIED
    bib_princ_2 CDATA #IMPLIED
    bib_princ_3 CDATA #IMPLIED
    bib_sec_1 CDATA #IMPLIED
    bib_sec_2 CDATA #IMPLIED
    bib_sec_3 CDATA #IMPLIED
    Crit_Av CDATA #IMPLIED
    data_act CDATA #IMPLIED
    Ingles_Nome_Disc CDATA #IMPLIED
    Ingles_Objectivos CDATA #IMPLIED
    Ingles_Progr_Res CDATA #IMPLIED
    Ingles_Crit_Av CDATA #IMPLIED
    Ingles_relatorio CDATA #IMPLIED
    Ingles_data_act CDATA #IMPLIED
>

<!ELEMENT ojb_dset EMPTY>
<!ATTLIST ojb_dset
    ID CDATA #REQUIRED
    SIZE_ CDATA #IMPLIED
>

<!ELEMENT degree_objectives EMPTY>
<!ATTLIST degree_objectives
    ID_INTERNAL CDATA #REQUIRED
    KEY_DEGREE CDATA #REQUIRED
    GENERAL_OBJECTIVES CDATA #IMPLIED
    OPERACIONAL_OBJECTIVES CDATA #IMPLIED
    STARTING_DATE CDATA #IMPLIED
    END_DATE CDATA #IMPLIED
>

<!ELEMENT guide_entry EMPTY>
<!ATTLIST guide_entry
    ID_INTERNAL CDATA #REQUIRED
    KEY_GUIDE CDATA #REQUIRED
    GRADUATION_TYPE CDATA #IMPLIED
    DOCUMENT_TYPE CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    PRICE CDATA #REQUIRED
    QUANTITY CDATA #REQUIRED
>

<!ELEMENT disciplinas EMPTY>
<!ATTLIST disciplinas
    Sigla CDATA #IMPLIED
    Nome CDATA #IMPLIED
    Aulas_Teoricas CDATA #IMPLIED
    Aulas_Praticas CDATA #IMPLIED
    Tipo_Sala_Teorica CDATA #IMPLIED
    Tipo_Sala_Pratica CDATA #IMPLIED
    Tipo_Sala_Teorica_Pratica CDATA #IMPLIED
    Tipo_Sala_Laboratorio CDATA #IMPLIED
    Epoca_Inicio CDATA #IMPLIED
    Epoca_Fim CDATA #IMPLIED
>

<!ELEMENT ass_regime EMPTY>
<!ATTLIST ass_regime
    codigoInterno CDATA #REQUIRED
    designacao CDATA #REQUIRED
>

<!ELEMENT concelhoexpansao EMPTY>
<!ATTLIST concelhoexpansao
    descr1 CDATA #IMPLIED
    descr2 CDATA #IMPLIED
>

<!ELEMENT guide_situation EMPTY>
<!ATTLIST guide_situation
    ID_INTERNAL CDATA #REQUIRED
    KEY_GUIDE CDATA #REQUIRED
    SITUATION CDATA #REQUIRED
    DATE CDATA #REQUIRED
    REMARKS CDATA #IMPLIED
    STATE CDATA #REQUIRED
>

<!ELEMENT item EMPTY>
<!ATTLIST item
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #IMPLIED
    ITEM_ORDER CDATA #IMPLIED
    INFORMATION CDATA #IMPLIED
    URGENT CDATA #IMPLIED
    KEY_SECTION CDATA #REQUIRED
>

<!ELEMENT posgrad_aluno_mestrado EMPTY>
<!ATTLIST posgrad_aluno_mestrado
    codigoInterno CDATA #REQUIRED
    numero CDATA #REQUIRED
    codigoPessoa CDATA #REQUIRED
    codigoCursoMestrado CDATA #REQUIRED
    especializacao CDATA #REQUIRED
    anoCandidatura CDATA #REQUIRED
    escolaLicenciatura CDATA #IMPLIED
    anoLicenciatura CDATA #IMPLIED
    media CDATA #IMPLIED
    creditos CDATA #IMPLIED
    observacoes CDATA #IMPLIED
>

<!ELEMENT ass_horario_excepcao EMPTY>
<!ATTLIST ass_horario_excepcao
    codigoInterno CDATA #REQUIRED
    chaveHorarioTipo CDATA #REQUIRED
    chaveFuncionario CDATA #REQUIRED
    sigla CDATA #IMPLIED
    modalidade CDATA #IMPLIED
    duracaoSemanal CDATA #IMPLIED
    inicioPF1 CDATA #IMPLIED
    fimPF1 CDATA #IMPLIED
    inicioPF2 CDATA #IMPLIED
    fimPF2 CDATA #IMPLIED
    inicioHN1 CDATA #IMPLIED
    fimHN1 CDATA #IMPLIED
    inicioHN2 CDATA #IMPLIED
    fimHN2 CDATA #IMPLIED
    inicioRefeicao CDATA #IMPLIED
    fimRefeicao CDATA #IMPLIED
    descontoObrigatorio CDATA #IMPLIED
    descontoMinimo CDATA #IMPLIED
    inicioExpediente CDATA #IMPLIED
    fimExpediente CDATA #IMPLIED
    dataInicio CDATA #REQUIRED
    dataFim CDATA #IMPLIED
    numDias CDATA #IMPLIED
    posicao CDATA #IMPLIED
    trabalhoConsecutivo CDATA #IMPLIED
    quem CDATA #REQUIRED
    quando CDATA #REQUIRED
>

<!ELEMENT atribuicaodisciplinas EMPTY>
<!ATTLIST atribuicaodisciplinas
    NumEpoca CDATA #IMPLIED
    Turma CDATA #IMPLIED
    Disciplina CDATA #IMPLIED
    TipoAula CDATA #IMPLIED
    NumDivisao CDATA #IMPLIED
    HorasMax CDATA #IMPLIED
    HorasDadas CDATA #IMPLIED
    HorasAula CDATA #IMPLIED
    AlunosDivisao CDATA #IMPLIED
    SalaPreferencial CDATA #IMPLIED
>

<!ELEMENT metadata EMPTY>
<!ATTLIST metadata
    ID_INTERNAL CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
    METADATA_FILE CDATA #IMPLIED
    VISIBILITY CDATA #REQUIRED
>

<!ELEMENT master_degree_thesis_data_version_guider EMPTY>
<!ATTLIST master_degree_thesis_data_version_guider
    ID_INTERNAL CDATA #REQUIRED
    KEY_MASTER_DEGREE_THESIS_DATA_VERSION CDATA #REQUIRED
    KEY_TEACHER CDATA #REQUIRED
>

<!ELEMENT department EMPTY>
<!ATTLIST department
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #REQUIRED
    CODE CDATA #REQUIRED
>

<!ELEMENT mw_degree_translation EMPTY>
<!ATTLIST mw_degree_translation
    ADM_DEGREE_CODE CDATA #IMPLIED
    KEY_DEGREE CDATA #IMPLIED
>

<!ELEMENT branch EMPTY>
<!ATTLIST branch
    ID_INTERNAL CDATA #REQUIRED
    BRANCH_CODE CDATA #REQUIRED
    BRANCH_NAME CDATA #REQUIRED
    KEY_DEGREE_CURRICULAR_PLAN CDATA #REQUIRED
    BRANCH_ACRONYM CDATA #IMPLIED
>

<!ELEMENT teacher EMPTY>
<!ATTLIST teacher
    ID_INTERNAL CDATA #REQUIRED
    TEACHER_NUMBER CDATA #IMPLIED
    KEY_PERSON CDATA #REQUIRED
    KEY_CATEGORY CDATA #IMPLIED
>

<!ELEMENT seminary_candidacy EMPTY>
<!ATTLIST seminary_candidacy
    id_internal CDATA #REQUIRED
    student_id_internal CDATA #REQUIRED
    curricular_course_id_internal CDATA #REQUIRED
    seminary_id_internal CDATA #REQUIRED
    seminary_theme_id_internal CDATA #IMPLIED
    seminary_modality_id_internal CDATA #REQUIRED
    motivation CDATA #REQUIRED
    APPROVED CDATA #IMPLIED
>

<!ELEMENT posgrad_candidato_situacao EMPTY>
<!ATTLIST posgrad_candidato_situacao
    codigoInterno CDATA #REQUIRED
    codigoCandidato CDATA #REQUIRED
    codigoSituacao CDATA #REQUIRED
    data CDATA #REQUIRED
    observacoes CDATA #IMPLIED
    valido CDATA #REQUIRED
>

<!ELEMENT equivalency_theme EMPTY>
<!ATTLIST equivalency_theme
    theme_id CDATA #REQUIRED
    equivalency_id CDATA #REQUIRED
>

<!ELEMENT equivalent_enrolment_for_enrolment_equivalence EMPTY>
<!ATTLIST equivalent_enrolment_for_enrolment_equivalence
    ID_INTERNAL CDATA #REQUIRED
    KEY_ENROLMENT_EQUIVALENCE CDATA #REQUIRED
    KEY_EQUIVALENT_ENROLMENT CDATA #REQUIRED
>

<!ELEMENT class_shift EMPTY>
<!ATTLIST class_shift
    ID_INTERNAL CDATA #REQUIRED
    KEY_CLASS CDATA #REQUIRED
    KEY_SHIFT CDATA #REQUIRED
>

<!ELEMENT master_degree_proof_version EMPTY>
<!ATTLIST master_degree_proof_version
    ID_INTERNAL CDATA #REQUIRED
    KEY_MASTER_DEGREE_THESIS CDATA #REQUIRED
    KEY_EMPLOYEE CDATA #REQUIRED
    PROOF_DATE CDATA #IMPLIED
    THESIS_DELIVERY_DATE CDATA #IMPLIED
    FINAL_RESULT CDATA #REQUIRED
    ATTACHED_COPIES_NUMBER CDATA #IMPLIED
    LAST_MODIFICATION CDATA #IMPLIED
    CURRENT_STATE CDATA #REQUIRED
>

<!ELEMENT posgrad_disciplina EMPTY>
<!ATTLIST posgrad_disciplina
    codigoInterno CDATA #REQUIRED
    nome CDATA #REQUIRED
    codigoCursoMestrado CDATA #REQUIRED
    creditos CDATA #IMPLIED
    sigla CDATA #IMPLIED
    tipo CDATA #IMPLIED
    semestre CDATA #IMPLIED
    optativa CDATA #IMPLIED
    codigoCurricularCourse CDATA #IMPLIED
>

<!ELEMENT xml_documents EMPTY>
<!ATTLIST xml_documents
    ID_INTERNAL CDATA #REQUIRED
    XML_FILE CDATA #REQUIRED
    XML_FILE_NAME CDATA #REQUIRED
    KEY_METADATA CDATA #REQUIRED
    VISIBILITY CDATA #REQUIRED
>

<!ELEMENT mw_student_class EMPTY>
<!ATTLIST mw_student_class
    STUDENT_NUMBER CDATA #IMPLIED
    STUDENT_NAME CDATA #IMPLIED
    DEGREE_CODE CDATA #IMPLIED
    AVERAGE CDATA #IMPLIED
    CLASS_NAME CDATA #IMPLIED
>

<!ELEMENT category EMPTY>
<!ATTLIST category
    ID_INTERNAL CDATA #REQUIRED
    CODE CDATA #REQUIRED
    LONG_NAME CDATA #REQUIRED
    SHORT_NAME CDATA #REQUIRED
>

<!ELEMENT student_kind EMPTY>
<!ATTLIST student_kind
    ID_INTERNAL CDATA #REQUIRED
    STUDENT_TYPE CDATA #REQUIRED
    MIN_COURSES_TO_ENROL CDATA #REQUIRED
    MAX_COURSES_TO_ENROL CDATA #REQUIRED
    MAX_NAC_TO_ENROL CDATA #REQUIRED
>

<!ELEMENT ojb_nrm EMPTY>
<!ATTLIST ojb_nrm
    NAME CDATA #REQUIRED
    OID_ CDATA #IMPLIED
>

<!ELEMENT exam_student EMPTY>
<!ATTLIST exam_student
    ID_INTERNAL CDATA #REQUIRED
    KEY_EVALUATION CDATA #REQUIRED
    KEY_STUDENT CDATA #REQUIRED
>

<!ELEMENT candidate_enrolment EMPTY>
<!ATTLIST candidate_enrolment
    ID_INTERNAL CDATA #REQUIRED
    KEY_MASTER_DEGREE_CANDIDATE CDATA #REQUIRED
    KEY_CURRICULAR_COURSE_SCOPE CDATA #REQUIRED
>

<!ELEMENT mw_students_with_various_numbers EMPTY>
<!ATTLIST mw_students_with_various_numbers
    documentidnumber CDATA #REQUIRED
    number CDATA #IMPLIED
    maxidinternal CDATA #IMPLIED
    total CDATA #REQUIRED
>

<!ELEMENT site EMPTY>
<!ATTLIST site
    ID_INTERNAL CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
    KEY_INITIAL_SECTION CDATA #IMPLIED
    ALTERNATIVE_SITE CDATA #IMPLIED
    MAIL CDATA #IMPLIED
    INITIAL_STATEMENT CDATA #IMPLIED
    INTRODUCTION CDATA #IMPLIED
    STYLE CDATA #IMPLIED
>

<!ELEMENT abreviaturas EMPTY>
<!ATTLIST abreviaturas
    abrv CDATA #IMPLIED
    expansao CDATA #IMPLIED
>

<!ELEMENT external_person EMPTY>
<!ATTLIST external_person
    ID_INTERNAL CDATA #REQUIRED
    WORK_LOCATION CDATA #REQUIRED
    KEY_PERSON CDATA #REQUIRED
>

<!ELEMENT mw_curricular_course EMPTY>
<!ATTLIST mw_curricular_course
    courseCode CDATA #REQUIRED
    courseName CDATA #REQUIRED
    universityCode CDATA #IMPLIED
>

<!ELEMENT curriculum EMPTY>
<!ATTLIST curriculum
    ID_INTERNAL CDATA #REQUIRED
    KEY_CURRICULAR_COURSE CDATA #IMPLIED
    GENERAL_OBJECTIVES CDATA #IMPLIED
    OPERACIONAL_OBJECTIVES CDATA #IMPLIED
    PROGRAM CDATA #IMPLIED
    OPERACIONAL_OBJECTIVES_EN CDATA #IMPLIED
    GENERAL_OBJECTIVES_EN CDATA #IMPLIED
    PROGRAM_EN CDATA #IMPLIED
    LAST_MODIFICATION_DATE CDATA #IMPLIED
>

<!ELEMENT almeida_aluno EMPTY>
<!ATTLIST almeida_aluno
    numero CDATA #REQUIRED
    nome CDATA #IMPLIED
    nascimento CDATA #IMPLIED
    bi CDATA #IMPLIED
    curso CDATA #IMPLIED
    ramo CDATA #IMPLIED
    sexo CDATA #IMPLIED
    nacionalidade CDATA #IMPLIED
    freguesia CDATA #IMPLIED
    concelho CDATA #IMPLIED
    distrito CDATA #IMPLIED
    nomePai CDATA #IMPLIED
    nomeMae CDATA #IMPLIED
    morada CDATA #IMPLIED
    localidadeMorada CDATA #IMPLIED
    cp CDATA #IMPLIED
    localidadeCP CDATA #IMPLIED
    telefone CDATA #IMPLIED
    email CDATA #IMPLIED
>

<!ELEMENT freguesia EMPTY>
<!ATTLIST freguesia
    Chave CDATA #REQUIRED
    chaveDistrito CDATA #REQUIRED
    chaveConcelho CDATA #REQUIRED
    Designacao CDATA #REQUIRED
>

<!ELEMENT posgrad_situacao EMPTY>
<!ATTLIST posgrad_situacao
    codigoInterno CDATA #REQUIRED
    situacao CDATA #REQUIRED
>

<!ELEMENT mw_curricular_course_scope_temp EMPTY>
<!ATTLIST mw_curricular_course_scope_temp
    executionYear CDATA #REQUIRED
    courseCode CDATA #REQUIRED
    degreeCode CDATA #REQUIRED
    branchCode CDATA #REQUIRED
    curricularYear CDATA #IMPLIED
    curricularSemester CDATA #IMPLIED
    courseType CDATA #IMPLIED
    theoreticalHours CDATA #IMPLIED
    praticaHours CDATA #IMPLIED
    labHours CDATA #IMPLIED
    theoPratHours CDATA #IMPLIED
    credits CDATA #IMPLIED
    orientation CDATA #IMPLIED
    idInternal CDATA #REQUIRED
>

<!ELEMENT ass_feriado EMPTY>
<!ATTLIST ass_feriado
    codigoInterno CDATA #REQUIRED
    tipoFeriado CDATA #REQUIRED
    descricao CDATA #IMPLIED
    data CDATA #IMPLIED
>

<!ELEMENT almeida_disc EMPTY>
<!ATTLIST almeida_disc
    codInt CDATA #REQUIRED
    codCur CDATA #IMPLIED
    codRam CDATA #IMPLIED
    anoDis CDATA #IMPLIED
    semDis CDATA #IMPLIED
    codDis CDATA #IMPLIED
    tipo CDATA #IMPLIED
    teo CDATA #IMPLIED
    pra CDATA #IMPLIED
    lab CDATA #IMPLIED
    teoPra CDATA #IMPLIED
    nomeDis CDATA #IMPLIED
>

<!ELEMENT ass_cargo_url EMPTY>
<!ATTLIST ass_cargo_url
    chaveCargo CDATA #REQUIRED
    chaveUrl CDATA #REQUIRED
>

<!ELEMENT tests EMPTY>
<!ATTLIST tests
    ID_INTERNAL CDATA #REQUIRED
    TITLE CDATA #REQUIRED
    INFORMATION CDATA #IMPLIED
    NUMBER_OF_QUESTIONS CDATA #REQUIRED
    CREATION_DATE CDATA #IMPLIED
    LAST_MODIFICATION_DATE CDATA #IMPLIED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
>

<!ELEMENT posgrad_guia_tabela EMPTY>
<!ATTLIST posgrad_guia_tabela
    codigoInterno CDATA #REQUIRED
    codigoGuia CDATA #REQUIRED
    codigoTabela CDATA #REQUIRED
>

<!ELEMENT contributor EMPTY>
<!ATTLIST contributor
    ID_INTERNAL CDATA #REQUIRED
    CONTRIBUTOR_NUMBER CDATA #REQUIRED
    CONTRIBUTOR_NAME CDATA #REQUIRED
    CONTRIBUTOR_ADDRESS CDATA #REQUIRED
>

<!ELEMENT master_degree_thesis_data_version_assistent_guider EMPTY>
<!ATTLIST master_degree_thesis_data_version_assistent_guider
    ID_INTERNAL CDATA #REQUIRED
    KEY_MASTER_DEGREE_THESIS_DATA_VERSION CDATA #REQUIRED
    KEY_TEACHER CDATA #REQUIRED
>

<!ELEMENT summary EMPTY>
<!ATTLIST summary
    ID_INTERNAL CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
    TITLE CDATA #IMPLIED
    SUMMARY_DATE CDATA #IMPLIED
    SUMMARY_HOUR CDATA #IMPLIED
    LAST_MODIFICATION_DATE CDATA #IMPLIED
    SUMMARY_TEXT CDATA #IMPLIED
    SUMMARY_TYPE CDATA #IMPLIED
>

<!ELEMENT distributed_tests EMPTY>
<!ATTLIST distributed_tests
    ID_INTERNAL CDATA #REQUIRED
    TITLE CDATA #REQUIRED
    TEST_INFORMATION CDATA #IMPLIED
    TEST_BEGIN_DATE CDATA #IMPLIED
    TEST_BEGIN_HOUR CDATA #IMPLIED
    TEST_END_DATE CDATA #IMPLIED
    TEST_END_HOUR CDATA #IMPLIED
    TEST_TYPE CDATA #REQUIRED
    CORRECTION_AVAILABILITY CDATA #REQUIRED
    STUDENT_FEEDBACK CDATA #REQUIRED
    NUMBER_OF_QUESTIONS CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
>

<!ELEMENT ojb_seq EMPTY>
<!ATTLIST ojb_seq
    TABLENAME CDATA #REQUIRED
    FIELDNAME CDATA #REQUIRED
    LAST_NUM CDATA #IMPLIED
>

<!ELEMENT ass_centro_custo EMPTY>
<!ATTLIST ass_centro_custo
    codigoInterno CDATA #REQUIRED
    sigla CDATA #REQUIRED
    departamento CDATA #IMPLIED
    seccao1 CDATA #IMPLIED
    seccao2 CDATA #IMPLIED
>

<!ELEMENT degree_final_project EMPTY>
<!ATTLIST degree_final_project
    ID_INTERNAL CDATA #REQUIRED
    KEY_EXECUTION_YEAR CDATA #REQUIRED
    TITLE CDATA #IMPLIED
>

<!ELEMENT master_degree_thesis_data_version EMPTY>
<!ATTLIST master_degree_thesis_data_version
    ID_INTERNAL CDATA #REQUIRED
    KEY_MASTER_DEGREE_THESIS CDATA #REQUIRED
    KEY_EMPLOYEE CDATA #REQUIRED
    DISSERTATION_TITLE CDATA #REQUIRED
    LAST_MODIFICATION CDATA #IMPLIED
    CURRENT_STATE CDATA #REQUIRED
>

<!ELEMENT enrolment_evaluation EMPTY>
<!ATTLIST enrolment_evaluation
    ID_INTERNAL CDATA #REQUIRED
    GRADE CDATA #IMPLIED
    EVALUATION_TYPE CDATA #REQUIRED
    EXAM_DATE CDATA #IMPLIED
    GRADE_AVAILABLE_DATE CDATA #IMPLIED
    RESPONSIBLE_PERSON CDATA #IMPLIED
    STATE CDATA #REQUIRED
    KEY_ENROLMENT CDATA #REQUIRED
    KEY_EMPLOYEE CDATA #IMPLIED
    WHEN_ALTER CDATA #IMPLIED
    CHECKSUM CDATA #IMPLIED
    OBSERVATION CDATA #IMPLIED
>

<!ELEMENT seminary_modality EMPTY>
<!ATTLIST seminary_modality
    id_internal CDATA #REQUIRED
    name CDATA #REQUIRED
    description CDATA #IMPLIED
>

<!ELEMENT external_activity EMPTY>
<!ATTLIST external_activity
    ID_INTERNAL CDATA #REQUIRED
    ACTIVITY CDATA #IMPLIED
    LAST_MODIFICATION_DATE CDATA #IMPLIED
    KEY_TEACHER CDATA #REQUIRED
>

<!ELEMENT ass_horariotipo_regime EMPTY>
<!ATTLIST ass_horariotipo_regime
    chaveHorarioTipo CDATA #REQUIRED
    chaveRegime CDATA #REQUIRED
>

<!ELEMENT student_curricular_plan_degree_final_project EMPTY>
<!ATTLIST student_curricular_plan_degree_final_project
    ID_INTERNAL CDATA #REQUIRED
    KEY_DEGREE_FINAL_PROJECT CDATA #IMPLIED
    KEY_STUDENT_CURRICULAR_PLAN CDATA #IMPLIED
>

<!ELEMENT department_course EMPTY>
<!ATTLIST department_course
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #REQUIRED
    CODE CDATA #REQUIRED
    KEY_DEPARTMENT CDATA #REQUIRED
>

<!ELEMENT enrolment_period EMPTY>
<!ATTLIST enrolment_period
    ID_INTERNAL CDATA #REQUIRED
    KEY_DEGREE_CURRICULAR_PLAN CDATA #REQUIRED
    KEY_EXECUTION_PERIOD CDATA #REQUIRED
    START_DATE CDATA #REQUIRED
    END_DATE CDATA #REQUIRED
>

<!ELEMENT ass_regularizacao_marcacao EMPTY>
<!ATTLIST ass_regularizacao_marcacao
    codigoInterno CDATA #REQUIRED
    chaveMarcacaoPonto CDATA #REQUIRED
    chaveParamRegularizacao CDATA #REQUIRED
    quem CDATA #REQUIRED
    quando CDATA #REQUIRED
>

<!ELEMENT xpto4 EMPTY>
<!ATTLIST xpto4
    candidate_key CDATA #REQUIRED
>

<!ELEMENT shift EMPTY>
<!ATTLIST shift
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
    TYPE CDATA #REQUIRED
    CAPACITY CDATA #REQUIRED
    AVAILLABILITY_FINAL CDATA #IMPLIED
>

<!ELEMENT ass_horario_tipo EMPTY>
<!ATTLIST ass_horario_tipo
    codigoInterno CDATA #REQUIRED
    sigla CDATA #REQUIRED
    modalidade CDATA #REQUIRED
    duracaoSemanal CDATA #REQUIRED
    inicioPF1 CDATA #IMPLIED
    fimPF1 CDATA #IMPLIED
    inicioPF2 CDATA #IMPLIED
    fimPF2 CDATA #IMPLIED
    inicioHN1 CDATA #REQUIRED
    fimHN1 CDATA #REQUIRED
    inicioHN2 CDATA #IMPLIED
    fimHN2 CDATA #IMPLIED
    inicioRefeicao CDATA #IMPLIED
    fimRefeicao CDATA #IMPLIED
    descontoObrigatorio CDATA #IMPLIED
    descontoMinimo CDATA #IMPLIED
    inicioExpediente CDATA #IMPLIED
    fimExpediente CDATA #IMPLIED
    trabalhoConsecutivo CDATA #IMPLIED
>

<!ELEMENT ass_horario EMPTY>
<!ATTLIST ass_horario
    codigoInterno CDATA #REQUIRED
    chaveHorarioTipo CDATA #REQUIRED
    chaveFuncionario CDATA #REQUIRED
    sigla CDATA #IMPLIED
    modalidade CDATA #IMPLIED
    duracaoSemanal CDATA #IMPLIED
    inicioPF1 CDATA #IMPLIED
    fimPF1 CDATA #IMPLIED
    inicioPF2 CDATA #IMPLIED
    fimPF2 CDATA #IMPLIED
    inicioHN1 CDATA #IMPLIED
    fimHN1 CDATA #IMPLIED
    inicioHN2 CDATA #IMPLIED
    fimHN2 CDATA #IMPLIED
    inicioRefeicao CDATA #IMPLIED
    fimRefeicao CDATA #IMPLIED
    descontoObrigatorio CDATA #IMPLIED
    descontoMinimo CDATA #IMPLIED
    inicioExpediente CDATA #IMPLIED
    fimExpediente CDATA #IMPLIED
    dataInicio CDATA #REQUIRED
    dataFim CDATA #IMPLIED
    numDias CDATA #IMPLIED
    posicao CDATA #IMPLIED
    trabalhoConsecutivo CDATA #IMPLIED
    quem CDATA #REQUIRED
    quando CDATA #REQUIRED
>

<!ELEMENT posgrad_guia EMPTY>
<!ATTLIST posgrad_guia
    codigoInterno CDATA #REQUIRED
    numeroGuia CDATA #REQUIRED
    dataEmissao CDATA #REQUIRED
    anoGuia CDATA #REQUIRED
    situacao CDATA #REQUIRED
    entidadeContribuinte CDATA #REQUIRED
    entidadeNome CDATA #REQUIRED
    entidadeMorada CDATA #REQUIRED
    numeroAluno CDATA #REQUIRED
    tipoAluno CDATA #REQUIRED
    codigoCursoMestrado CDATA #REQUIRED
    total CDATA #REQUIRED
    observacoes CDATA #IMPLIED
>

<!ELEMENT evaluation_method EMPTY>
<!ATTLIST evaluation_method
    ID_INTERNAL CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #IMPLIED
    EVALUATION_ELEMENTS CDATA #IMPLIED
    EVALUATION_ELEMENTS_EN CDATA #IMPLIED
>

<!ELEMENT almeida_curram EMPTY>
<!ATTLIST almeida_curram
    codInt CDATA #REQUIRED
    codCur CDATA #IMPLIED
    codRam CDATA #IMPLIED
    codOrien CDATA #IMPLIED
    descri CDATA #IMPLIED
>

<!ELEMENT topwords EMPTY>
<!ATTLIST topwords
    Palavra CDATA #REQUIRED
>

<!ELEMENT master_degree_candidate EMPTY>
<!ATTLIST master_degree_candidate
    ID_INTERNAL CDATA #REQUIRED
    PERSON_KEY CDATA #REQUIRED
    EXECUTION_DEGREE_KEY CDATA #REQUIRED
    CANDIDATE_NUMBER CDATA #IMPLIED
    SPECIALIZATION CDATA #REQUIRED
    MAJOR_DEGREE CDATA #IMPLIED
    MAJOR_DEGREE_SCHOOL CDATA #IMPLIED
    MAJOR_DEGREE_YEAR CDATA #IMPLIED
    AVERAGE CDATA #IMPLIED
    SPECIALIZATION_AREA CDATA #IMPLIED
    SUBSTITUTE_ORDER CDATA #IMPLIED
    GIVEN_CREDITS CDATA #IMPLIED
    GIVEN_CREDITS_REMARKS CDATA #IMPLIED
>

<!ELEMENT master_degree_thesis_data_version_external_assistent_guider EMPTY>
<!ATTLIST master_degree_thesis_data_version_external_assistent_guider
    ID_INTERNAL CDATA #REQUIRED
    KEY_MASTER_DEGREE_THESIS_DATA_VERSION CDATA #REQUIRED
    KEY_EXTERNAL_PERSON CDATA #REQUIRED
>

<!ELEMENT curricular_course EMPTY>
<!ATTLIST curricular_course
    ID_INTERNAL CDATA #REQUIRED
    KEY_DEPARTMENT_COURSE CDATA #IMPLIED
    KEY_DEGREE_CURRICULAR_PLAN CDATA #REQUIRED
    CREDITS CDATA #IMPLIED
    THEORETICAL_HOURS CDATA #IMPLIED
    PRATICAL_HOURS CDATA #IMPLIED
    THEO_PRAT_HOURS CDATA #IMPLIED
    LAB_HOURS CDATA #IMPLIED
    NAME CDATA #REQUIRED
    CODE CDATA #REQUIRED
    TYPE CDATA #IMPLIED
    EXECUTION_SCOPE CDATA #IMPLIED
    MANDATORY CDATA #IMPLIED
    KEY_CURRICULAR_COURSE_ENROLMENT_INFO CDATA #IMPLIED
    KEY_UNIVERSITY CDATA #IMPLIED
    BASIC CDATA #IMPLIED
>

<!ELEMENT freguesiaexpansao EMPTY>
<!ATTLIST freguesiaexpansao
    descr1 CDATA #IMPLIED
    descr2 CDATA #IMPLIED
>

<!ELEMENT almeida_coddisc EMPTY>
<!ATTLIST almeida_coddisc
    codint CDATA #REQUIRED
    coddis CDATA #IMPLIED
    nomedis CDATA #IMPLIED
>

<!ELEMENT ojb_hl_seq EMPTY>
<!ATTLIST ojb_hl_seq
    TABLENAME CDATA #REQUIRED
    FIELDNAME CDATA #REQUIRED
    MAX_KEY CDATA #IMPLIED
    GRAB_SIZE CDATA #IMPLIED
>

<!ELEMENT almeida_inscricoes EMPTY>
<!ATTLIST almeida_inscricoes
    codInt CDATA #REQUIRED
    numero CDATA #IMPLIED
    ano CDATA #IMPLIED
    semestre CDATA #IMPLIED
    codDis CDATA #IMPLIED
    anoInscricao CDATA #IMPLIED
    curso CDATA #IMPLIED
    ramo CDATA #IMPLIED
>

<!ELEMENT student_group_info EMPTY>
<!ATTLIST student_group_info
    ID_INTERNAL CDATA #REQUIRED
    STUDENT_TYPE CDATA #REQUIRED
    MIN_COURSES_TO_ENROL CDATA #REQUIRED
    MAX_COURSES_TO_ENROL CDATA #REQUIRED
    MAX_NAC_TO_ENROL CDATA #REQUIRED
>

<!ELEMENT course_report EMPTY>
<!ATTLIST course_report
    ID_INTERNAL CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
    REPORT CDATA #IMPLIED
    LAST_MODIFICATION_DATE CDATA #IMPLIED
>

<!ELEMENT seminary_theme EMPTY>
<!ATTLIST seminary_theme
    id_internal CDATA #REQUIRED
    name CDATA #REQUIRED
    short_name CDATA #IMPLIED
    description CDATA #IMPLIED
>

<!ELEMENT responsiblefor EMPTY>
<!ATTLIST responsiblefor
    INTERNAL_CODE CDATA #REQUIRED
    KEY_TEACHER CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
>

<!ELEMENT test_question EMPTY>
<!ATTLIST test_question
    ID_INTERNAL CDATA #REQUIRED
    TEST_QUESTION_ORDER CDATA #REQUIRED
    TEST_QUESTION_VALUE CDATA #REQUIRED
    KEY_XML_DOCUMENT CDATA #REQUIRED
    KEY_TEST CDATA #REQUIRED
>

<!ELEMENT concelho EMPTY>
<!ATTLIST concelho
    Chave CDATA #REQUIRED
    chaveDistrito CDATA #REQUIRED
    Designacao CDATA #REQUIRED
>

<!ELEMENT student_curricular_plan EMPTY>
<!ATTLIST student_curricular_plan
    ID_INTERNAL CDATA #REQUIRED
    KEY_STUDENT CDATA #REQUIRED
    KEY_DEGREE_CURRICULAR_PLAN CDATA #REQUIRED
    CURRENT_STATE CDATA #REQUIRED
    START_DATE CDATA #REQUIRED
    KEY_BRANCH CDATA #REQUIRED
    SPECIALIZATION CDATA #IMPLIED
    GIVEN_CREDITS CDATA #IMPLIED
    COMPLETED_COURSES CDATA #IMPLIED
    ENROLLED_COURSES CDATA #IMPLIED
    CLASSIFICATION CDATA #IMPLIED
    OBSERVATIONS CDATA #IMPLIED
    KEY_EMPLOYEE CDATA #IMPLIED
    WHEN_ALTER CDATA #IMPLIED
>

<!ELEMENT lesson EMPTY>
<!ATTLIST lesson
    ID_INTERNAL CDATA #REQUIRED
    WEEKDAY CDATA #REQUIRED
    START_TIME CDATA #REQUIRED
    END_TIME CDATA #REQUIRED
    KEY_ROOM CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
    TYPE CDATA #REQUIRED
    KEY_EXECUTION_PERIOD CDATA #REQUIRED
>

<!ELEMENT professorships EMPTY>
<!ATTLIST professorships
    INTERNAL_CODE CDATA #REQUIRED
    KEY_TEACHER CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
    CREDITS CDATA #IMPLIED
>

<!ELEMENT distrito EMPTY>
<!ATTLIST distrito
    Chave CDATA #REQUIRED
    Designacao CDATA #REQUIRED
>

<!ELEMENT exam_room EMPTY>
<!ATTLIST exam_room
    ID_INTERNAL CDATA #REQUIRED
    KEY_EVALUATION CDATA #REQUIRED
    KEY_ROOM CDATA #REQUIRED
>

<!ELEMENT publications_number EMPTY>
<!ATTLIST publications_number
    ID_INTERNAL CDATA #REQUIRED
    PUBLICATION_TYPE CDATA #IMPLIED
    LAST_MODIFICATION_DATE CDATA #IMPLIED
    NATIONAL CDATA #IMPLIED
    INTERNATIONAL CDATA #IMPLIED
    KEY_TEACHER CDATA #REQUIRED
>

<!ELEMENT degree_final_project_orientation EMPTY>
<!ATTLIST degree_final_project_orientation
    ID_INTERNAL CDATA #REQUIRED
    KEY_DEGREE_FINAL_PROJECT CDATA #REQUIRED
    KEY_TEACHER CDATA #REQUIRED
    CO_ORIENTATION CDATA #IMPLIED
    PERCENTAGE CDATA #IMPLIED
>

<!ELEMENT mw_aluno EMPTY>
<!ATTLIST mw_aluno
    documentIdNumber CDATA #REQUIRED
    number CDATA #IMPLIED
    degreeCode CDATA #IMPLIED
    branchCode CDATA #IMPLIED
    year CDATA #IMPLIED
    ISTUniversity CDATA #IMPLIED
    worker CDATA #IMPLIED
    gratuitySituation CDATA #IMPLIED
    trash CDATA #IMPLIED
    answer1 CDATA #IMPLIED
    answer2 CDATA #IMPLIED
    answer3 CDATA #IMPLIED
    answer4 CDATA #IMPLIED
    answer5 CDATA #IMPLIED
    answer6 CDATA #IMPLIED
    answer7 CDATA #IMPLIED
    idInternal CDATA #REQUIRED
>

<!ELEMENT posgrad_disc_area_aluno EMPTY>
<!ATTLIST posgrad_disc_area_aluno
    codigoInterno CDATA #REQUIRED
    codigoAluno CDATA #REQUIRED
    codigoAreaDisciplina CDATA #REQUIRED
    dataExame CDATA #IMPLIED
    dataLancamento CDATA #IMPLIED
    nota CDATA #IMPLIED
    equivalencia CDATA #IMPLIED
    creditos CDATA #IMPLIED
>

<!ELEMENT ass_param_ferias EMPTY>
<!ATTLIST ass_param_ferias
    codigoInterno CDATA #REQUIRED
    sigla CDATA #REQUIRED
    designacao CDATA #REQUIRED
>

<!ELEMENT gratuity EMPTY>
<!ATTLIST gratuity
    ID_INTERNAL CDATA #REQUIRED
    KEY_STUDENT_CURRICULAR_PLAN CDATA #REQUIRED
    STATE CDATA #IMPLIED
    GRATUITY_STATE CDATA #IMPLIED
    DATE CDATA #IMPLIED
    REMARKS CDATA #IMPLIED
>

<!ELEMENT student_group EMPTY>
<!ATTLIST student_group
    ID_INTERNAL CDATA #REQUIRED
    GROUP_NUMBER CDATA #REQUIRED
    KEY_SHIFT CDATA #REQUIRED
    KEY_GROUP_PROPERTIES CDATA #REQUIRED
>

<!ELEMENT ass_pessoa_cargo EMPTY>
<!ATTLIST ass_pessoa_cargo
    chavePessoa CDATA #REQUIRED
    chaveCargo CDATA #REQUIRED
>

<!ELEMENT ass_modalidade EMPTY>
<!ATTLIST ass_modalidade
    codigoInterno CDATA #REQUIRED
    designacao CDATA #REQUIRED
>

<!ELEMENT career EMPTY>
<!ATTLIST career
    ID_INTERNAL CDATA #REQUIRED
    CLASS_NAME CDATA #REQUIRED
    BEGIN_YEAR CDATA #IMPLIED
    END_YEAR CDATA #IMPLIED
    LAST_MODIFICATION_DATE CDATA #IMPLIED
    KEY_TEACHER CDATA #REQUIRED
    ENTITY CDATA #IMPLIED
    FUNCTION CDATA #IMPLIED
    COURSE_OR_POSITION CDATA #IMPLIED
    KEY_CATEGORY CDATA #IMPLIED
>

<!ELEMENT service_provider_regime EMPTY>
<!ATTLIST service_provider_regime
    ID_INTERNAL CDATA #REQUIRED
    PROVIDER_REGIME_TYPE CDATA #IMPLIED
    LAST_MODIFICATION_DATE CDATA #IMPLIED
    KEY_TEACHER CDATA #REQUIRED
>

<!ELEMENT shift_student EMPTY>
<!ATTLIST shift_student
    ID_INTERNAL CDATA #REQUIRED
    KEY_SHIFT CDATA #REQUIRED
    KEY_STUDENT CDATA #REQUIRED
>

<!ELEMENT ojb_dset_entries EMPTY>
<!ATTLIST ojb_dset_entries
    ID CDATA #REQUIRED
    DLIST_ID CDATA #REQUIRED
    POSITION_ CDATA #IMPLIED
    OID_ CDATA #IMPLIED
>

<!ELEMENT coordinator EMPTY>
<!ATTLIST coordinator
    ID_INTERNAL CDATA #REQUIRED
    KEY_EXECUTION_DEGREE CDATA #REQUIRED
    KEY_TEACHER CDATA #REQUIRED
    RESPONSIBLE CDATA #REQUIRED
>

<!ELEMENT ass_cartao EMPTY>
<!ATTLIST ass_cartao
    codigoInterno CDATA #REQUIRED
    numCartao CDATA #REQUIRED
    chaveFuncionario CDATA #REQUIRED
    dataInicio CDATA #REQUIRED
    dataFim CDATA #IMPLIED
    quem CDATA #REQUIRED
    quando CDATA #REQUIRED
    estado CDATA #REQUIRED
>

<!ELEMENT ojb_dmap EMPTY>
<!ATTLIST ojb_dmap
    ID CDATA #REQUIRED
    SIZE_ CDATA #IMPLIED
>

<!ELEMENT execution_course EMPTY>
<!ATTLIST execution_course
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #IMPLIED
    CODE CDATA #REQUIRED
    THEORETICAL_HOURS CDATA #IMPLIED
    PRATICAL_HOURS CDATA #IMPLIED
    THEO_PRAT_HOURS CDATA #IMPLIED
    LAB_HOURS CDATA #IMPLIED
    SEMESTER CDATA #IMPLIED
    KEY_EXECUTION_PERIOD CDATA #REQUIRED
    COMMENT CDATA #REQUIRED
>

<!ELEMENT precedence EMPTY>
<!ATTLIST precedence
    ID_INTERNAL CDATA #REQUIRED
    KEY_CURRICULAR_COURSE CDATA #REQUIRED
    SCOPE_TO_APPLY CDATA #REQUIRED
>

<!ELEMENT university EMPTY>
<!ATTLIST university
    ID_INTERNAL CDATA #REQUIRED
    CODE CDATA #REQUIRED
    NAME CDATA #REQUIRED
>

<!ELEMENT enrolment EMPTY>
<!ATTLIST enrolment
    ID_INTERNAL CDATA #REQUIRED
    KEY_STUDENT_CURRICULAR_PLAN CDATA #REQUIRED
    KEY_CURRICULAR_COURSE_SCOPE CDATA #REQUIRED
    KEY_EXECUTION_PERIOD CDATA #REQUIRED
    STATE CDATA #REQUIRED
    CLASS_NAME CDATA #REQUIRED
    KEY_CURRICULAR_COURSE_FOR_OPTION CDATA #IMPLIED
    EVALUATION_TYPE CDATA #REQUIRED
>

<!ELEMENT ojb_lockentry EMPTY>
<!ATTLIST ojb_lockentry
    OID_ CDATA #REQUIRED
    TX_ID CDATA #REQUIRED
    TIMESTAMP_ CDATA #IMPLIED
    ISOLATIONLEVEL CDATA #IMPLIED
    LOCKTYPE CDATA #IMPLIED
>

<!ELEMENT degree_curricular_plan EMPTY>
<!ATTLIST degree_curricular_plan
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #REQUIRED
    KEY_DEGREE CDATA #REQUIRED
    STATE CDATA #IMPLIED
    INITIAL_DATE CDATA #IMPLIED
    END_DATE CDATA #IMPLIED
    DEGREE_DURATION CDATA #REQUIRED
    MINIMAL_YEAR_FOR_OPTIONAL_COURSES CDATA #REQUIRED
    MARK_TYPE CDATA #IMPLIED
    NEEDED_CREDITS CDATA #IMPLIED
    NUMERUS_CLAUSUS CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    DESCRIPTION_EN CDATA #IMPLIED
>

<!ELEMENT qualification EMPTY>
<!ATTLIST qualification
    ID_INTERNAL CDATA #REQUIRED
    KEY_PERSON CDATA #REQUIRED
    YEAR CDATA #IMPLIED
    MARK CDATA #IMPLIED
    SCHOOL CDATA #IMPLIED
    TITLE CDATA #IMPLIED
    DEGREE CDATA #IMPLIED
>

<!ELEMENT mark EMPTY>
<!ATTLIST mark
    ID_INTERNAL CDATA #REQUIRED
    MARK CDATA #IMPLIED
    PUBLISHED_MARK CDATA #IMPLIED
    KEY_EVALUATION CDATA #REQUIRED
    KEY_ATTEND CDATA #REQUIRED
>

<!ELEMENT ass_param_regularizacao EMPTY>
<!ATTLIST ass_param_regularizacao
    codigoInterno CDATA #REQUIRED
    sigla CDATA #REQUIRED
    descricao CDATA #REQUIRED
    quem CDATA #REQUIRED
    quando CDATA #REQUIRED
>

<!ELEMENT group_properties EMPTY>
<!ATTLIST group_properties
    ID_INTERNAL CDATA #REQUIRED
    MAXIMUM_CAPACITY CDATA #IMPLIED
    MINIMUM_CAPACITY CDATA #IMPLIED
    IDEAL_CAPACITY CDATA #IMPLIED
    ENROLMENT_POLICY CDATA #IMPLIED
    GROUP_MAXIMUM_NUMBER CDATA #IMPLIED
    NAME CDATA #REQUIRED
    SHIFT_TYPE CDATA #IMPLIED
    ENROLMENT_BEGIN_DAY CDATA #IMPLIED
    ENROLMENT_END_DAY CDATA #IMPLIED
    PROJECT_DESCRIPTION CDATA #IMPLIED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
>

<!ELEMENT posgrad_docente EMPTY>
<!ATTLIST posgrad_docente
    codigoInterno CDATA #REQUIRED
    cat CDATA #IMPLIED
    numdec CDATA #REQUIRED
    bi CDATA #IMPLIED
    cont CDATA #IMPLIED
    nome CDATA #REQUIRED
>

<!ELEMENT mw_branch EMPTY>
<!ATTLIST mw_branch
    degreeCode CDATA #IMPLIED
    branchCode CDATA #IMPLIED
    orientationCode CDATA #IMPLIED
    description CDATA #IMPLIED
    id_internal CDATA #REQUIRED
>

<!ELEMENT person_advisory EMPTY>
<!ATTLIST person_advisory
    ID_INTERNAL CDATA #REQUIRED
    KEY_PERSON CDATA #REQUIRED
    KEY_ADVISORY CDATA #REQUIRED
>

<!ELEMENT master_degree_thesis EMPTY>
<!ATTLIST master_degree_thesis
    ID_INTERNAL CDATA #REQUIRED
    KEY_STUDENT_CURRICULAR_PLAN CDATA #REQUIRED
>

<!ELEMENT ojb_dlist_entries EMPTY>
<!ATTLIST ojb_dlist_entries
    ID CDATA #REQUIRED
    DLIST_ID CDATA #REQUIRED
    POSITION_ CDATA #IMPLIED
    OID_ CDATA #IMPLIED
>

<!ELEMENT credits EMPTY>
<!ATTLIST credits
    ID_INTERNAL CDATA #REQUIRED
    KEY_EXECUTION_PERIOD CDATA #REQUIRED
    KEY_TEACHER CDATA #REQUIRED
    TFC_STUDENTS_NUMBER CDATA #REQUIRED
    CREDITS CDATA #IMPLIED
    ADDITIONAL_CREDITS CDATA #IMPLIED
    ADDITIONAL_CREDITS_JUSTIFICATION CDATA #IMPLIED
>

<!ELEMENT mw_person_with_duplicate_id EMPTY>
<!ATTLIST mw_person_with_duplicate_id
    documentidnumber CDATA #REQUIRED
    maxidinternal CDATA #IMPLIED
    total CDATA #REQUIRED
>

<!ELEMENT posgrad_pessoa EMPTY>
<!ATTLIST posgrad_pessoa
    codigoInterno CDATA #REQUIRED
    numeroDocumentoIdentificacao CDATA #IMPLIED
    tipoDocumentoIdentificacao CDATA #IMPLIED
    localEmissaoDocumentoIdentificacao CDATA #IMPLIED
    dataEmissaoDocumentoIdentificacao CDATA #IMPLIED
    nome CDATA #IMPLIED
    sexo CDATA #IMPLIED
    estadoCivil CDATA #IMPLIED
    nascimento CDATA #IMPLIED
    nomePai CDATA #IMPLIED
    nomeMae CDATA #IMPLIED
    nacionalidade CDATA #IMPLIED
    freguesiaNaturalidade CDATA #IMPLIED
    concelhoNaturalidade CDATA #IMPLIED
    distritoNaturalidade CDATA #IMPLIED
    morada CDATA #IMPLIED
    localidade CDATA #IMPLIED
    codigoPostal CDATA #IMPLIED
    freguesiaMorada CDATA #IMPLIED
    concelhoMorada CDATA #IMPLIED
    distritoMorada CDATA #IMPLIED
    telefone CDATA #IMPLIED
    telemovel CDATA #IMPLIED
    email CDATA #IMPLIED
    enderecoWeb CDATA #IMPLIED
    numContribuinte CDATA #IMPLIED
    profissao CDATA #IMPLIED
    username CDATA #IMPLIED
    password CDATA #IMPLIED
>

<!ELEMENT ass_justificacao EMPTY>
<!ATTLIST ass_justificacao
    codigoInterno CDATA #REQUIRED
    chaveParamJustificacao CDATA #REQUIRED
    chaveFuncionario CDATA #REQUIRED
    diaInicio CDATA #REQUIRED
    horaInicio CDATA #IMPLIED
    diaFim CDATA #IMPLIED
    horaFim CDATA #IMPLIED
    observacao CDATA #IMPLIED
    quem CDATA #REQUIRED
    quando CDATA #REQUIRED
>

<!ELEMENT posgrad_curso_mestrado EMPTY>
<!ATTLIST posgrad_curso_mestrado
    codigoInterno CDATA #REQUIRED
    nomeMestrado CDATA #REQUIRED
    anoLectivo CDATA #REQUIRED
>

<!ELEMENT posgrad_pessoa_cargo EMPTY>
<!ATTLIST posgrad_pessoa_cargo
    codigoInterno CDATA #REQUIRED
    codigoPessoa CDATA #REQUIRED
    codigoCargo CDATA #REQUIRED
    data CDATA #REQUIRED
>

<!ELEMENT ass_funcionario_historico EMPTY>
<!ATTLIST ass_funcionario_historico
    codigoInterno CDATA #REQUIRED
    chaveFuncionario CDATA #REQUIRED
    chaveFuncResponsavel CDATA #IMPLIED
    chaveCCLocalTrabalho CDATA #IMPLIED
    chaveCCCorrespondencia CDATA #IMPLIED
    chaveCCVencimento CDATA #IMPLIED
    calendario CDATA #IMPLIED
    chaveStatus CDATA #IMPLIED
    dataInicio CDATA #REQUIRED
    dataFim CDATA #IMPLIED
    quem CDATA #REQUIRED
    quando CDATA #REQUIRED
>

<!ELEMENT mw_enrolment_temp EMPTY>
<!ATTLIST mw_enrolment_temp
    number CDATA #IMPLIED
    enrolmentYear CDATA #IMPLIED
    curricularCourseYear CDATA #IMPLIED
    curricularCourseSemester CDATA #IMPLIED
    season CDATA #IMPLIED
    courseCode CDATA #IMPLIED
    degreeCode CDATA #IMPLIED
    branchCode CDATA #IMPLIED
    grade CDATA #IMPLIED
    teacherNumber CDATA #IMPLIED
    examDate CDATA #IMPLIED
    universityCode CDATA #IMPLIED
    remarks CDATA #IMPLIED
    idinternal CDATA #REQUIRED
>

<!ELEMENT ass_horario_regime EMPTY>
<!ATTLIST ass_horario_regime
    chaveHorario CDATA #REQUIRED
    chaveRegime CDATA #REQUIRED
>

<!ELEMENT announcement EMPTY>
<!ATTLIST announcement
    ID_INTERNAL CDATA #REQUIRED
    TITLE CDATA #IMPLIED
    CREATION_DATE CDATA #IMPLIED
    LAST_MODIFICATION_DATE CDATA #IMPLIED
    INFORMATION CDATA #IMPLIED
    KEY_SITE CDATA #REQUIRED
>

<!ELEMENT publication EMPTY>
<!ATTLIST publication
    ID_INTERNAL CDATA #REQUIRED
    CLASS_NAME CDATA #REQUIRED
    CONFERENCE CDATA #REQUIRED
    JOURNAL CDATA #REQUIRED
    LOCATION CDATA #REQUIRED
    MONTH CDATA #REQUIRED
    NUMBER CDATA #REQUIRED
    PAGES CDATA #REQUIRED
    PUBLISHER CDATA #REQUIRED
    SERIES CDATA #REQUIRED
    TITLE CDATA #REQUIRED
    TRNUMBER CDATA #REQUIRED
    UNIVERSITY CDATA #REQUIRED
    VOLUME CDATA #REQUIRED
    YEAR CDATA #REQUIRED
>

<!ELEMENT attend EMPTY>
<!ATTLIST attend
    ID_INTERNAL CDATA #REQUIRED
    KEY_STUDENT CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
    KEY_ENROLMENT CDATA #IMPLIED
>

<!ELEMENT grant_owner EMPTY>
<!ATTLIST grant_owner
    ID_INTERNAL CDATA #REQUIRED
    KEY_PERSON CDATA #REQUIRED
    NUMBER CDATA #REQUIRED
    DATE_SEND_CGD CDATA #IMPLIED
    CARD_COPY_NUMBER CDATA #IMPLIED
>

<!ELEMENT curricular_course_equivalence_restriction EMPTY>
<!ATTLIST curricular_course_equivalence_restriction
    ID_INTERNAL CDATA #REQUIRED
    KEY_CURRICULAR_COURSE_EQUIVALENCE CDATA #REQUIRED
    KEY_EQUIVALENT_CURRICULAR_COURSE CDATA #REQUIRED
    YEAR_OF_EQUIVALENCE CDATA #REQUIRED
>

<!ELEMENT bibliographic_reference EMPTY>
<!ATTLIST bibliographic_reference
    ID_INTERNAL CDATA #REQUIRED
    TITLE CDATA #REQUIRED
    AUTHORS CDATA #REQUIRED
    REFERENCE CDATA #REQUIRED
    YEAR CDATA #REQUIRED
    OPTIONAL CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
>

<!ELEMENT execution_degree EMPTY>
<!ATTLIST execution_degree
    ID_INTERNAL CDATA #REQUIRED
    ACADEMIC_YEAR CDATA #REQUIRED
    KEY_DEGREE_CURRICULAR_PLAN CDATA #REQUIRED
    KEY_TEACHER CDATA #IMPLIED
    TEMPORARY_EXAM_MAP CDATA #IMPLIED
    KEY_CAMPUS CDATA #REQUIRED
>

<!ELEMENT website_item EMPTY>
<!ATTLIST website_item
    ID_INTERNAL CDATA #REQUIRED
    TITLE CDATA #REQUIRED
    MAIN_ENTRY_TEXT CDATA #REQUIRED
    EXCERPT CDATA #IMPLIED
    PUBLISHED CDATA #REQUIRED
    CREATION_DATE CDATA #REQUIRED
    KEY_EDITOR CDATA #REQUIRED
    AUTHOR_NAME CDATA #REQUIRED
    AUTHOR_EMAIL CDATA #REQUIRED
    KEYWORDS CDATA #REQUIRED
    ONLINE_BEGIN_DAY CDATA #IMPLIED
    ONLINE_END_DAY CDATA #IMPLIED
    ITEM_BEGIN_DAY CDATA #IMPLIED
    ITEM_END_DAY CDATA #IMPLIED
    KEY_WEBSITE_SECTION CDATA #REQUIRED
>

<!ELEMENT conversaolocaldistrito EMPTY>
<!ATTLIST conversaolocaldistrito
    localidade CDATA #IMPLIED
    distrito CDATA #IMPLIED
>

<!ELEMENT REIMBURSEMENT_GUIDE EMPTY>
<!ATTLIST REIMBURSEMENT_GUIDE
    id_internal CDATA #REQUIRED
    number CDATA #REQUIRED
    value CDATA #REQUIRED
    justification CDATA #IMPLIED
    key_guide CDATA #REQUIRED
    creation_date CDATA #REQUIRED
>

<!ELEMENT REIMBURSEMENT_GUIDE_SITUATION EMPTY>
<!ATTLIST REIMBURSEMENT_GUIDE_SITUATION
    id_internal CDATA #REQUIRED
    state CDATA #REQUIRED
    key_reimbursement_guide CDATA #REQUIRED
    remarks CDATA #IMPLIED
    key_employee CDATA #REQUIRED
    modification_date CDATA #REQUIRED
    reimbursement_guide_state CDATA #REQUIRED
>