metadata/dtds/fenix-database.dtd

<!ELEMENT dataset (
    mw_ALUNO_temp*,
    OJB_HL_SEQ*,
    CURRICULAR_COURSE_EXECUTION_COURSE*,
    posgrad_area_cientifica*,
    ass_PARAM_FERIAS*,
    GRATUITY*,
    mw_ALUNO*,
    OJB_DSET*,
    xpto*,
    OJB_DMAP*,
    ass_CARGO_URL*,
    EXECUTION_PERIOD*,
    CANDIDATE_ENROLMENT*,
    Disciplinas*,
    CURRICULAR_COURSE*,
    posgrad_pessoa*,
    PERSON_ADVISORY*,
    mw_STUDENT_CLASS*,
    mw_PESSOA*,
    GUIDE*,
    almeida_curram*,
    ass_FERIADO*,
    PERSON*,
    mw_DEGREE_TRANSLATION*,
    Turmas*,
    lessons_update*,
    ass_CARTAO*,
    DEGREE*,
    EQUIVALENCY_THEME*,
    Aulas*,
    CURRICULAR_YEAR*,
    ANNOUNCEMENT*,
    SITE*,
    DISTRIBUTED_TESTS*,
    ENROLMENT*,
    ass_PARAM_JUSTIFICACAO*,
    CURRICULAR_SEMESTER*,
    CURRICULAR_COURSE_ENROLMENT_INFO*,
    TEACHER*,
    DEGREE_CURRICULAR_PLAN*,
    ass_MARCACAO_PONTO*,
    GUIDE_SITUATION*,
    CURRICULUM*,
    STUDENT_GROUP*,
    ass_FUNC_NAO_DOCENTE*,
    ass_JUSTIFICACAO*,
    GUIDE_ENTRY*,
    METADATA*,
    RESTRICTION*,
    ass_REGIME*,
    posgrad_disciplina*,
    CREDITS_MANAGER_DEPARTMENT*,
    PRICE*,
    DEPARTMENT_COURSE*,
    PROFESSORSHIPS*,
    SEMINARY*,
    OJB_DSET_ENTRIES*,
    SEMINARY_CURRICULARCOURSE*,
    mw_ENROLMENT_temp*,
    ass_UNIDADE_MARCACAO*,
    posgrad_candidato_mestrado*,
    BRANCH*,
    SEMINARY_CASESTUDY*,
    xpto4*,
    OJB_DMAP_ENTRIES*,
    ENROLMENT_PERIOD*,
    STUDENT*,
    posgrad_disc_area*,
    ATTEND*,
    ass_MODALIDADE*,
    SEMINARY_MODALITY*,
    ass_PERIODO_FERIAS*,
    ass_HORARIOTIPO_REGIME*,
    GROUP_PROPERTIES*,
    ITEM*,
    RESPONSIBLEFOR*,
    ass_HORARIO_EXCEPCAO*,
    STUDENT_CURRICULAR_PLAN*,
    DEGREE_CURRICULAR_PLAN_ENROLMENT_INFO*,
    SUMMARY*,
    posgrad_aluno_mestrado*,
    TESTS*,
    ass_CENTRO_CUSTO*,
    ass_FUNCIONARIO*,
    EXAM_STUDENT*,
    EXAM_ROOM*,
    CREDITS*,
    COUNTRY*,
    ROLE*,
    TEACHER_SHIFT_PERCENTAGE*,
    posgrad_curso_mestrado*,
    TEST_QUESTION*,
    EXECUTION_DEGREE*,
    ass_STATUS*,
    ass_PARAM_REGULARIZACAO*,
    MASTER_DEGREE_CANDIDATE*,
    OJB_DLIST*,
    mw_AVERAGE*,
    ass_FERIAS*,
    plano_curricular_2003final*,
    EXAM_EXECUTION_COURSE*,
    AtribuicaoDisciplinas*,
    SHIFT*,
    ass_CARGO*,
    ROOM*,
    CLASS*,
    mw_BRANCH*,
    ass_HORARIOEXCEPCAO_REGIME*,
    DEPARTMENT*,
    SEMINARY_THEME*,
    mw_COURSE*,
    XML_DOCUMENTS*,
    QUALIFICATION*,
    STUDENT_TEST_QUESTION*,
    MARK*,
    ass_HORARIO_REGIME*,
    OJB_SEQ*,
    SECTION*,
    EVALUATION_METHOD*,
    almeida_inscricoes*,
    EXECUTION_COURSE*,
    responsavel*,
    SHIFT_STUDENT*,
    EVALUATION*,
    CONTRIBUTOR*,
    CLASS_SHIFT*,
    ADVISORY*,
    LESSON*,
    STUDENT_KIND*,
    SHIFT_LESSON*,
    STUDENT_GROUP_INFO*,
    EXECUTION_YEAR*,
    PERSON_ROLE*,
    EXAM_STUDENT_ROOM*,
    STUDENT_GROUP_ATTEND*,
    BIBLIOGRAPHIC_REFERENCE*,
    CURRICULAR_COURSE_SCOPE*,
    OJB_DLIST_ENTRIES*,
    STUDENT_TEST_LOG*,
    ENROLMENT_EVALUATION*,
    ass_REGULARIZACAO_MARCACAO*,
    SEMINARYCANDIDACY_SEMINARYCASESTUDY*,
    mw_CURRICULAR_COURSE*,
    ass_URL*,
    almeida_disc*,
    almeida_coddisc*,
    OJB_NRM*,
    SEMINARY_CANDIDACY*,
    ass_HORARIO_TIPO*,
    OJB_LOCKENTRY*,
    EQUIVALENCE*,
    PRECEDENCE*,
    posgrad_disc_area_aluno*,
    mw_CURRICULAR_COURSE_SCOPE*,
    ass_HORARIO*,
    ass_PESSOA_CARGO*,
    CANDIDATE_SITUATION*,
    branch_20032004*)>

<!ELEMENT mw_ALUNO_temp EMPTY>
<!ATTLIST mw_ALUNO_temp
    documentIdNumber CDATA #REQUIRED
    number CDATA #IMPLIED
    degreeCode CDATA #IMPLIED
    branchCode CDATA #IMPLIED
    year CDATA #IMPLIED
    ISTUniversity CDATA #IMPLIED
    worker CDATA #IMPLIED
    gratuitySituation CDATA #IMPLIED
    trash CDATA #IMPLIED
    answer1 CDATA #IMPLIED
    answer2 CDATA #IMPLIED
    answer3 CDATA #IMPLIED
    answer4 CDATA #IMPLIED
    answer5 CDATA #IMPLIED
    answer6 CDATA #IMPLIED
    answer7 CDATA #IMPLIED
>

<!ELEMENT OJB_HL_SEQ EMPTY>
<!ATTLIST OJB_HL_SEQ
    TABLENAME CDATA #REQUIRED
    FIELDNAME CDATA #REQUIRED
    MAX_KEY CDATA #IMPLIED
    GRAB_SIZE CDATA #IMPLIED
>

<!ELEMENT CURRICULAR_COURSE_EXECUTION_COURSE EMPTY>
<!ATTLIST CURRICULAR_COURSE_EXECUTION_COURSE
    INTERNAL_CODE CDATA #REQUIRED
    KEY_CURRICULAR_COURSE CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
>

<!ELEMENT posgrad_area_cientifica EMPTY>
<!ATTLIST posgrad_area_cientifica
    codigoInterno CDATA #REQUIRED
    nome CDATA #REQUIRED
    codigoCursoMestrado CDATA #REQUIRED
    anoLectivo CDATA #REQUIRED
    codigoInternoRamo CDATA #IMPLIED
>

<!ELEMENT ass_PARAM_FERIAS EMPTY>
<!ATTLIST ass_PARAM_FERIAS
    codigoInterno CDATA #REQUIRED
    sigla CDATA #REQUIRED
    designacao CDATA #REQUIRED
>

<!ELEMENT GRATUITY EMPTY>
<!ATTLIST GRATUITY
    ID_INTERNAL CDATA #REQUIRED
    KEY_STUDENT_CURRICULAR_PLAN CDATA #REQUIRED
    STATE CDATA #IMPLIED
    GRATUITY_STATE CDATA #IMPLIED
    DATE CDATA #IMPLIED
    REMARKS CDATA #IMPLIED
>

<!ELEMENT mw_ALUNO EMPTY>
<!ATTLIST mw_ALUNO
    documentIdNumber CDATA #REQUIRED
    number CDATA #IMPLIED
    degreeCode CDATA #IMPLIED
    branchCode CDATA #IMPLIED
    year CDATA #IMPLIED
    ISTUniversity CDATA #IMPLIED
    worker CDATA #IMPLIED
    gratuitySituation CDATA #IMPLIED
    trash CDATA #IMPLIED
    answer1 CDATA #IMPLIED
    answer2 CDATA #IMPLIED
    answer3 CDATA #IMPLIED
    answer4 CDATA #IMPLIED
    answer5 CDATA #IMPLIED
    answer6 CDATA #IMPLIED
    answer7 CDATA #IMPLIED
>

<!ELEMENT OJB_DSET EMPTY>
<!ATTLIST OJB_DSET
    ID CDATA #REQUIRED
    SIZE_ CDATA #IMPLIED
>

<!ELEMENT xpto EMPTY>
<!ATTLIST xpto
    ccid CDATA #REQUIRED
    ccname CDATA #REQUIRED
    cc2id CDATA #REQUIRED
    cc2name CDATA #REQUIRED
>

<!ELEMENT OJB_DMAP EMPTY>
<!ATTLIST OJB_DMAP
    ID CDATA #REQUIRED
    SIZE_ CDATA #IMPLIED
>

<!ELEMENT ass_CARGO_URL EMPTY>
<!ATTLIST ass_CARGO_URL
    chaveCargo CDATA #REQUIRED
    chaveUrl CDATA #REQUIRED
>

<!ELEMENT EXECUTION_PERIOD EMPTY>
<!ATTLIST EXECUTION_PERIOD
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #REQUIRED
    KEY_EXECUTION_YEAR CDATA #REQUIRED
    STATE CDATA #REQUIRED
    SEMESTER CDATA #REQUIRED
>

<!ELEMENT CANDIDATE_ENROLMENT EMPTY>
<!ATTLIST CANDIDATE_ENROLMENT
    ID_INTERNAL CDATA #REQUIRED
    KEY_MASTER_DEGREE_CANDIDATE CDATA #REQUIRED
    KEY_CURRICULAR_COURSE_SCOPE CDATA #REQUIRED
>

<!ELEMENT Disciplinas EMPTY>
<!ATTLIST Disciplinas
    Sigla CDATA #IMPLIED
    Nome CDATA #IMPLIED
    Aulas_Teoricas CDATA #IMPLIED
    Aulas_Praticas CDATA #IMPLIED
    Tipo_Sala_Teorica CDATA #IMPLIED
    Tipo_Sala_Pratica CDATA #IMPLIED
    Tipo_Sala_Teorica_Pratica CDATA #IMPLIED
    Tipo_Sala_Laboratorio CDATA #IMPLIED
    Epoca_Inicio CDATA #IMPLIED
    Epoca_Fim CDATA #IMPLIED
>

<!ELEMENT CURRICULAR_COURSE EMPTY>
<!ATTLIST CURRICULAR_COURSE
    ID_INTERNAL CDATA #REQUIRED
    KEY_DEPARTMENT_COURSE CDATA #IMPLIED
    KEY_DEGREE_CURRICULAR_PLAN CDATA #REQUIRED
    CREDITS CDATA #IMPLIED
    THEORETICAL_HOURS CDATA #IMPLIED
    PRATICAL_HOURS CDATA #IMPLIED
    THEO_PRAT_HOURS CDATA #IMPLIED
    LAB_HOURS CDATA #IMPLIED
    NAME CDATA #REQUIRED
    CODE CDATA #REQUIRED
    TYPE CDATA #IMPLIED
    EXECUTION_SCOPE CDATA #IMPLIED
    MANDATORY CDATA #IMPLIED
    KEY_CURRICULAR_COURSE_ENROLMENT_INFO CDATA #IMPLIED
    KEY_UNIVERSITY CDATA #IMPLIED
    BASIC CDATA #IMPLIED
>

<!ELEMENT posgrad_pessoa EMPTY>
<!ATTLIST posgrad_pessoa
    codigoInterno CDATA #REQUIRED
    numeroDocumentoIdentificacao CDATA #IMPLIED
    tipoDocumentoIdentificacao CDATA #IMPLIED
    localEmissaoDocumentoIdentificacao CDATA #IMPLIED
    dataEmissaoDocumentoIdentificacao CDATA #IMPLIED
    nome CDATA #IMPLIED
    sexo CDATA #IMPLIED
    estadoCivil CDATA #IMPLIED
    nascimento CDATA #IMPLIED
    nomePai CDATA #IMPLIED
    nomeMae CDATA #IMPLIED
    nacionalidade CDATA #IMPLIED
    freguesiaNaturalidade CDATA #IMPLIED
    concelhoNaturalidade CDATA #IMPLIED
    distritoNaturalidade CDATA #IMPLIED
    morada CDATA #IMPLIED
    localidade CDATA #IMPLIED
    codigoPostal CDATA #IMPLIED
    freguesiaMorada CDATA #IMPLIED
    concelhoMorada CDATA #IMPLIED
    distritoMorada CDATA #IMPLIED
    telefone CDATA #IMPLIED
    telemovel CDATA #IMPLIED
    email CDATA #IMPLIED
    enderecoWeb CDATA #IMPLIED
    numContribuinte CDATA #IMPLIED
    profissao CDATA #IMPLIED
    username CDATA #IMPLIED
    password CDATA #IMPLIED
>

<!ELEMENT PERSON_ADVISORY EMPTY>
<!ATTLIST PERSON_ADVISORY
    ID_INTERNAL CDATA #REQUIRED
    KEY_PERSON CDATA #REQUIRED
    KEY_ADVISORY CDATA #REQUIRED
>

<!ELEMENT mw_STUDENT_CLASS EMPTY>
<!ATTLIST mw_STUDENT_CLASS
    STUDENT_NUMBER CDATA #IMPLIED
    STUDENT_NAME CDATA #IMPLIED
    DEGREE_CODE CDATA #IMPLIED
    AVERAGE CDATA #IMPLIED
    CLASS_NAME CDATA #IMPLIED
>

<!ELEMENT mw_PESSOA EMPTY>
<!ATTLIST mw_PESSOA
    documentIdNumber CDATA #REQUIRED
    documentIdType CDATA #IMPLIED
    documentIdPlace CDATA #IMPLIED
    documentIdDate CDATA #IMPLIED
    name CDATA #IMPLIED
    sex CDATA #IMPLIED
    maritalStatus CDATA #IMPLIED
    dateOfBirth CDATA #IMPLIED
    fatherName CDATA #IMPLIED
    motherName CDATA #IMPLIED
    countryCode CDATA #IMPLIED
    parishOfBirth CDATA #IMPLIED
    municipalityOfBirth CDATA #IMPLIED
    districtOfBirth CDATA #IMPLIED
    address CDATA #IMPLIED
    areaCode CDATA #IMPLIED
    zipCode CDATA #IMPLIED
    parishOfAddress CDATA #IMPLIED
    municipalityOfAddress CDATA #IMPLIED
    districtOfAddress CDATA #IMPLIED
    phone CDATA #IMPLIED
    mobilePhone CDATA #IMPLIED
    email CDATA #IMPLIED
    homePage CDATA #IMPLIED
    contributorNumber CDATA #IMPLIED
    username CDATA #IMPLIED
    password CDATA #IMPLIED
    fiscalCode CDATA #IMPLIED
    documentIdValidation CDATA #IMPLIED
    financialRepCode CDATA #IMPLIED
>

<!ELEMENT GUIDE EMPTY>
<!ATTLIST GUIDE
    ID_INTERNAL CDATA #REQUIRED
    NUMBER CDATA #REQUIRED
    YEAR CDATA #REQUIRED
    KEY_CONTRIBUTOR CDATA #REQUIRED
    KEY_PERSON CDATA #REQUIRED
    TOTAL CDATA #REQUIRED
    REMARKS CDATA #IMPLIED
    GUIDE_REQUESTER CDATA #REQUIRED
    KEY_EXECUTION_DEGREE CDATA #REQUIRED
    PAYMENT_TYPE CDATA #IMPLIED
    CREATION_DATE CDATA #REQUIRED
    VERSION CDATA #REQUIRED
    PAYMENT_DATE CDATA #IMPLIED
>

<!ELEMENT almeida_curram EMPTY>
<!ATTLIST almeida_curram
    codInt CDATA #REQUIRED
    codCur CDATA #IMPLIED
    codRam CDATA #IMPLIED
    codOrien CDATA #IMPLIED
    descri CDATA #IMPLIED
>

<!ELEMENT ass_FERIADO EMPTY>
<!ATTLIST ass_FERIADO
    codigoInterno CDATA #REQUIRED
    tipoFeriado CDATA #REQUIRED
    descricao CDATA #IMPLIED
    data CDATA #IMPLIED
>

<!ELEMENT PERSON EMPTY>
<!ATTLIST PERSON
    ID_INTERNAL CDATA #REQUIRED
    DOCUMENT_ID_NUMBER CDATA #REQUIRED
    EMISSION_LOCATION_OF_DOCUMENT_ID CDATA #IMPLIED
    EMISSION_DATE_OF_DOCUMENT_ID CDATA #IMPLIED
    EXPERATION_DATE_OF_DOCUMENT_ID CDATA #IMPLIED
    NAME CDATA #IMPLIED
    DATE_OF_BIRTH CDATA #IMPLIED
    NAME_OF_FATHER CDATA #IMPLIED
    NAME_OF_MOTHER CDATA #IMPLIED
    NATIONALITY CDATA #IMPLIED
    PARISH_OF_BIRTH CDATA #IMPLIED
    DISTRICT_SUBDIVISION_OF_BIRTH CDATA #IMPLIED
    DISTRICT_OF_BIRTH CDATA #IMPLIED
    ADDRESS CDATA #IMPLIED
    AREA CDATA #IMPLIED
    AREA_CODE CDATA #IMPLIED
    AREA_OF_AREA_CODE CDATA #IMPLIED
    PARISH_OF_RESIDENCE CDATA #IMPLIED
    DISTRICT_SUBDIVISION_OF_RESIDENCE CDATA #IMPLIED
    DISTRICT_OF_RESIDENCE CDATA #IMPLIED
    PHONE CDATA #IMPLIED
    MOBILE CDATA #IMPLIED
    EMAIL CDATA #IMPLIED
    WEB_ADRDRESS CDATA #IMPLIED
    SOCIAL_SECURITY_NUMBER CDATA #IMPLIED
    PROFESSION CDATA #IMPLIED
    USERNAME CDATA #REQUIRED
    PASSWD CDATA #IMPLIED
    KEY_COUNTRY CDATA #IMPLIED
    FISCAL_CODE CDATA #IMPLIED
    TYPE_ID_DOCUMENT CDATA #REQUIRED
    SEX CDATA #IMPLIED
    MARITAL_STATUS CDATA #IMPLIED
>

<!ELEMENT mw_DEGREE_TRANSLATION EMPTY>
<!ATTLIST mw_DEGREE_TRANSLATION
    ADM_DEGREE_CODE CDATA #IMPLIED
    KEY_DEGREE CDATA #IMPLIED
>

<!ELEMENT Turmas EMPTY>
<!ATTLIST Turmas
    Sigla CDATA #IMPLIED
    Titulo CDATA #IMPLIED
    Epoca_Inicio CDATA #IMPLIED
    Epoca_Fim CDATA #IMPLIED
>

<!ELEMENT lessons_update EMPTY>
<!ATTLIST lessons_update
    ID_INTERNAL CDATA #REQUIRED
    WEEKDAY CDATA #REQUIRED
    START_TIME CDATA #REQUIRED
    END_TIME CDATA #REQUIRED
    KEY_ROOM CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
    TYPE CDATA #REQUIRED
    KEY_EXECUTION_PERIOD CDATA #REQUIRED
>

<!ELEMENT ass_CARTAO EMPTY>
<!ATTLIST ass_CARTAO
    codigoInterno CDATA #REQUIRED
    numCartao CDATA #REQUIRED
    chaveFuncionario CDATA #REQUIRED
    dataInicio CDATA #REQUIRED
    dataFim CDATA #IMPLIED
    quem CDATA #REQUIRED
    quando CDATA #REQUIRED
    estado CDATA #REQUIRED
>

<!ELEMENT DEGREE EMPTY>
<!ATTLIST DEGREE
    ID_INTERNAL CDATA #REQUIRED
    CODE CDATA #REQUIRED
    NAME CDATA #REQUIRED
    TYPE_DEGREE CDATA #REQUIRED
>

<!ELEMENT EQUIVALENCY_THEME EMPTY>
<!ATTLIST EQUIVALENCY_THEME
    theme_id CDATA #REQUIRED
    equivalency_id CDATA #REQUIRED
>

<!ELEMENT Aulas EMPTY>
<!ATTLIST Aulas
    id CDATA #REQUIRED
    NumEpoca CDATA #IMPLIED
    Turma CDATA #IMPLIED
    Dia CDATA #IMPLIED
    Hora CDATA #IMPLIED
    Disciplina CDATA #IMPLIED
    TipoAula CDATA #IMPLIED
    NumTurno CDATA #IMPLIED
    Sala CDATA #IMPLIED
    Fixa CDATA #IMPLIED
>

<!ELEMENT CURRICULAR_YEAR EMPTY>
<!ATTLIST CURRICULAR_YEAR
    ID_INTERNAL CDATA #REQUIRED
    YEAR CDATA #REQUIRED
>

<!ELEMENT ANNOUNCEMENT EMPTY>
<!ATTLIST ANNOUNCEMENT
    ID_INTERNAL CDATA #REQUIRED
    TITLE CDATA #IMPLIED
    CREATION_DATE CDATA #IMPLIED
    LAST_MODIFICATION_DATE CDATA #IMPLIED
    INFORMATION CDATA #IMPLIED
    KEY_SITE CDATA #REQUIRED
>

<!ELEMENT SITE EMPTY>
<!ATTLIST SITE
    ID_INTERNAL CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
    KEY_INITIAL_SECTION CDATA #IMPLIED
    ALTERNATIVE_SITE CDATA #IMPLIED
    MAIL CDATA #IMPLIED
    INITIAL_STATEMENT CDATA #IMPLIED
    INTRODUCTION CDATA #IMPLIED
    STYLE CDATA #IMPLIED
>

<!ELEMENT DISTRIBUTED_TESTS EMPTY>
<!ATTLIST DISTRIBUTED_TESTS
    ID_INTERNAL CDATA #REQUIRED
    TITLE CDATA #REQUIRED
    TEST_INFORMATION CDATA #IMPLIED
    TEST_BEGIN_DATE CDATA #IMPLIED
    TEST_BEGIN_HOUR CDATA #IMPLIED
    TEST_END_DATE CDATA #IMPLIED
    TEST_END_HOUR CDATA #IMPLIED
    TEST_TYPE CDATA #REQUIRED
    CORRECTION_AVAILABILITY CDATA #REQUIRED
    STUDENT_FEEDBACK CDATA #REQUIRED
    NUMBER_OF_QUESTIONS CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
>

<!ELEMENT ENROLMENT EMPTY>
<!ATTLIST ENROLMENT
    ID_INTERNAL CDATA #REQUIRED
    KEY_STUDENT_CURRICULAR_PLAN CDATA #REQUIRED
    KEY_CURRICULAR_COURSE_SCOPE CDATA #REQUIRED
    KEY_EXECUTION_PERIOD CDATA #REQUIRED
    STATE CDATA #REQUIRED
    CLASS_NAME CDATA #REQUIRED
    KEY_CURRICULAR_COURSE_FOR_OPTION CDATA #IMPLIED
    EVALUATION_TYPE CDATA #REQUIRED
>

<!ELEMENT ass_PARAM_JUSTIFICACAO EMPTY>
<!ATTLIST ass_PARAM_JUSTIFICACAO
    codigoInterno CDATA #REQUIRED
    sigla CDATA #REQUIRED
    descricao CDATA #REQUIRED
    tipo CDATA #REQUIRED
    tipoDias CDATA #REQUIRED
    grupo CDATA #IMPLIED
    quem CDATA #REQUIRED
    quando CDATA #REQUIRED
>

<!ELEMENT CURRICULAR_SEMESTER EMPTY>
<!ATTLIST CURRICULAR_SEMESTER
    ID_INTERNAL CDATA #REQUIRED
    KEY_CURRICULAR_YEAR CDATA #REQUIRED
    SEMESTER CDATA #REQUIRED
>

<!ELEMENT CURRICULAR_COURSE_ENROLMENT_INFO EMPTY>
<!ATTLIST CURRICULAR_COURSE_ENROLMENT_INFO
    ID_INTERNAL CDATA #REQUIRED
    MAX_INCREMENT_NAC CDATA #REQUIRED
    MIN_INCREMENT_NAC CDATA #REQUIRED
    WEIGTH CDATA #REQUIRED
>

<!ELEMENT TEACHER EMPTY>
<!ATTLIST TEACHER
    ID_INTERNAL CDATA #REQUIRED
    TEACHER_NUMBER CDATA #IMPLIED
    KEY_PERSON CDATA #REQUIRED
>

<!ELEMENT DEGREE_CURRICULAR_PLAN EMPTY>
<!ATTLIST DEGREE_CURRICULAR_PLAN
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #REQUIRED
    KEY_DEGREE CDATA #REQUIRED
    STATE CDATA #IMPLIED
    INITIAL_DATE CDATA #IMPLIED
    END_DATE CDATA #IMPLIED
    DEGREE_DURATION CDATA #REQUIRED
    MINIMAL_YEAR_FOR_OPTIONAL_COURSES CDATA #REQUIRED
    MARK_TYPE CDATA #IMPLIED
    NEEDED_CREDITS CDATA #IMPLIED
    NUMERUS_CLAUSUS CDATA #IMPLIED
>

<!ELEMENT ass_MARCACAO_PONTO EMPTY>
<!ATTLIST ass_MARCACAO_PONTO
    codigoInterno CDATA #REQUIRED
    unidade CDATA #IMPLIED
    siglaUnidade CDATA #IMPLIED
    dataMarcacao CDATA #IMPLIED
    numCartao CDATA #IMPLIED
    numFuncionario CDATA #IMPLIED
    estado CDATA #IMPLIED
>

<!ELEMENT GUIDE_SITUATION EMPTY>
<!ATTLIST GUIDE_SITUATION
    ID_INTERNAL CDATA #REQUIRED
    KEY_GUIDE CDATA #REQUIRED
    SITUATION CDATA #REQUIRED
    DATE CDATA #REQUIRED
    REMARKS CDATA #IMPLIED
    STATE CDATA #REQUIRED
>

<!ELEMENT CURRICULUM EMPTY>
<!ATTLIST CURRICULUM
    ID_INTERNAL CDATA #REQUIRED
    KEY_CURRICULAR_COURSE CDATA #IMPLIED
    GENERAL_OBJECTIVES CDATA #IMPLIED
    OPERACIONAL_OBJECTIVES CDATA #IMPLIED
    PROGRAM CDATA #IMPLIED
    OPERACIONAL_OBJECTIVES_EN CDATA #IMPLIED
    GENERAL_OBJECTIVES_EN CDATA #IMPLIED
    PROGRAM_EN CDATA #IMPLIED
    EVALUATION_ELEMENTS CDATA #IMPLIED
    EVALUATION_ELEMENTS_EN CDATA #IMPLIED
    LAST_MODIFICATION_DATE CDATA #IMPLIED
>

<!ELEMENT STUDENT_GROUP EMPTY>
<!ATTLIST STUDENT_GROUP
    ID_INTERNAL CDATA #REQUIRED
    GROUP_NUMBER CDATA #REQUIRED
    KEY_SHIFT CDATA #REQUIRED
    KEY_GROUP_PROPERTIES CDATA #REQUIRED
>

<!ELEMENT ass_FUNC_NAO_DOCENTE EMPTY>
<!ATTLIST ass_FUNC_NAO_DOCENTE
    codigoInterno CDATA #REQUIRED
    chaveFuncionario CDATA #REQUIRED
>

<!ELEMENT ass_JUSTIFICACAO EMPTY>
<!ATTLIST ass_JUSTIFICACAO
    codigoInterno CDATA #REQUIRED
    chaveParamJustificacao CDATA #REQUIRED
    chaveFuncionario CDATA #REQUIRED
    diaInicio CDATA #REQUIRED
    horaInicio CDATA #IMPLIED
    diaFim CDATA #IMPLIED
    horaFim CDATA #IMPLIED
    observacao CDATA #IMPLIED
    quem CDATA #REQUIRED
    quando CDATA #REQUIRED
>

<!ELEMENT GUIDE_ENTRY EMPTY>
<!ATTLIST GUIDE_ENTRY
    ID_INTERNAL CDATA #REQUIRED
    KEY_GUIDE CDATA #REQUIRED
    GRADUATION_TYPE CDATA #IMPLIED
    DOCUMENT_TYPE CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    PRICE CDATA #REQUIRED
    QUANTITY CDATA #REQUIRED
>

<!ELEMENT METADATA EMPTY>
<!ATTLIST METADATA
    ID_INTERNAL CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
    METADATA_FILE CDATA #IMPLIED
>

<!ELEMENT RESTRICTION EMPTY>
<!ATTLIST RESTRICTION
    ID_INTERNAL CDATA #REQUIRED
    CLASS_NAME CDATA #REQUIRED
    KEY_PRECEDENCE CDATA #REQUIRED
    KEY_CURRICULAR_COURSE CDATA #IMPLIED
    NUMBER_OF_CURRICULAR_COURSE_DONE CDATA #IMPLIED
>

<!ELEMENT ass_REGIME EMPTY>
<!ATTLIST ass_REGIME
    codigoInterno CDATA #REQUIRED
    designacao CDATA #REQUIRED
>

<!ELEMENT posgrad_disciplina EMPTY>
<!ATTLIST posgrad_disciplina
    codigoInterno CDATA #REQUIRED
    nome CDATA #REQUIRED
    codigoCursoMestrado CDATA #REQUIRED
    creditos CDATA #IMPLIED
    sigla CDATA #IMPLIED
    tipo CDATA #IMPLIED
    semestre CDATA #IMPLIED
    optativa CDATA #IMPLIED
    codigoCurricularCourse CDATA #IMPLIED
>

<!ELEMENT CREDITS_MANAGER_DEPARTMENT EMPTY>
<!ATTLIST CREDITS_MANAGER_DEPARTMENT
    ID_INTERNAL CDATA #REQUIRED
    KEY_PERSON CDATA #REQUIRED
    KEY_DEPARTMENT CDATA #REQUIRED
>

<!ELEMENT PRICE EMPTY>
<!ATTLIST PRICE
    ID_INTERNAL CDATA #REQUIRED
    GRADUATION_TYPE CDATA #REQUIRED
    DOCUMENT_TYPE CDATA #REQUIRED
    DESCRIPTION CDATA #REQUIRED
    PRICE CDATA #REQUIRED
>

<!ELEMENT DEPARTMENT_COURSE EMPTY>
<!ATTLIST DEPARTMENT_COURSE
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #REQUIRED
    CODE CDATA #REQUIRED
    KEY_DEPARTMENT CDATA #REQUIRED
>

<!ELEMENT PROFESSORSHIPS EMPTY>
<!ATTLIST PROFESSORSHIPS
    INTERNAL_CODE CDATA #REQUIRED
    KEY_TEACHER CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
>

<!ELEMENT SEMINARY EMPTY>
<!ATTLIST SEMINARY
    id_internal CDATA #REQUIRED
    name CDATA #REQUIRED
    description CDATA #IMPLIED
    allowed_candidacies_per_student CDATA #IMPLIED
>

<!ELEMENT OJB_DSET_ENTRIES EMPTY>
<!ATTLIST OJB_DSET_ENTRIES
    ID CDATA #REQUIRED
    DLIST_ID CDATA #REQUIRED
    POSITION_ CDATA #IMPLIED
    OID_ CDATA #IMPLIED
>

<!ELEMENT SEMINARY_CURRICULARCOURSE EMPTY>
<!ATTLIST SEMINARY_CURRICULARCOURSE
    id_internal CDATA #REQUIRED
    seminary_id_internal CDATA #REQUIRED
    curricular_course_id_internal CDATA #REQUIRED
    modality_id_internal CDATA #REQUIRED
>

<!ELEMENT mw_ENROLMENT_temp EMPTY>
<!ATTLIST mw_ENROLMENT_temp
    number CDATA #IMPLIED
    enrolmentYear CDATA #IMPLIED
    curricularCourseYear CDATA #IMPLIED
    curricularCourseSemester CDATA #IMPLIED
    season CDATA #IMPLIED
    courseCode CDATA #IMPLIED
    degreeCode CDATA #IMPLIED
    branchCode CDATA #IMPLIED
    grade CDATA #IMPLIED
    teacherNumber CDATA #IMPLIED
    examDate CDATA #IMPLIED
    universityCode CDATA #IMPLIED
    remarks CDATA #IMPLIED
    idinternal CDATA #REQUIRED
>

<!ELEMENT ass_UNIDADE_MARCACAO EMPTY>
<!ATTLIST ass_UNIDADE_MARCACAO
    codigoInterno CDATA #REQUIRED
    sigla CDATA #REQUIRED
    descricao CDATA #REQUIRED
    id CDATA #REQUIRED
>

<!ELEMENT posgrad_candidato_mestrado EMPTY>
<!ATTLIST posgrad_candidato_mestrado
    codigoInterno CDATA #REQUIRED
    numeroDocumentoIdentificacao CDATA #IMPLIED
    tipoDocumentoIdentificacao CDATA #IMPLIED
    localEmissaoDocumentoIdentificacao CDATA #IMPLIED
    dataEmissaoDocumentoIdentificacao CDATA #IMPLIED
    nome CDATA #IMPLIED
    sexo CDATA #IMPLIED
    estadoCivil CDATA #IMPLIED
    nascimento CDATA #IMPLIED
    nomePai CDATA #IMPLIED
    nomeMae CDATA #IMPLIED
    nacionalidade CDATA #IMPLIED
    freguesiaNaturalidade CDATA #IMPLIED
    concelhoNaturalidade CDATA #IMPLIED
    distritoNaturalidade CDATA #IMPLIED
    morada CDATA #IMPLIED
    localidade CDATA #IMPLIED
    codigoPostal CDATA #IMPLIED
    freguesiaMorada CDATA #IMPLIED
    concelhoMorada CDATA #IMPLIED
    distritoMorada CDATA #IMPLIED
    telefone CDATA #IMPLIED
    telemovel CDATA #IMPLIED
    email CDATA #IMPLIED
    enderecoWeb CDATA #IMPLIED
    numContribuinte CDATA #IMPLIED
    profissao CDATA #IMPLIED
    licenciatura CDATA #IMPLIED
    username CDATA #IMPLIED
    password CDATA #IMPLIED
    codigoCursoMestrado CDATA #IMPLIED
    numeroCandidato CDATA #IMPLIED
    anoCandidatura CDATA #IMPLIED
    especializacao CDATA #IMPLIED
    escolaLicenciatura CDATA #IMPLIED
    anoLicenciatura CDATA #IMPLIED
    media CDATA #IMPLIED
>

<!ELEMENT BRANCH EMPTY>
<!ATTLIST BRANCH
    ID_INTERNAL CDATA #REQUIRED
    BRANCH_CODE CDATA #REQUIRED
    BRANCH_NAME CDATA #REQUIRED
    KEY_DEGREE_CURRICULAR_PLAN CDATA #REQUIRED
>

<!ELEMENT SEMINARY_CASESTUDY EMPTY>
<!ATTLIST SEMINARY_CASESTUDY
    id_internal CDATA #REQUIRED
    name CDATA #REQUIRED
    description CDATA #IMPLIED
    code CDATA #REQUIRED
    seminary_theme_Id_Internal CDATA #IMPLIED
>

<!ELEMENT xpto4 EMPTY>
<!ATTLIST xpto4
    candidate_key CDATA #REQUIRED
>

<!ELEMENT OJB_DMAP_ENTRIES EMPTY>
<!ATTLIST OJB_DMAP_ENTRIES
    ID CDATA #REQUIRED
    DMAP_ID CDATA #REQUIRED
    KEY_OID CDATA #IMPLIED
    VALUE_OID CDATA #IMPLIED
>

<!ELEMENT ENROLMENT_PERIOD EMPTY>
<!ATTLIST ENROLMENT_PERIOD
    ID_INTERNAL CDATA #REQUIRED
    KEY_DEGREE_CURRICULAR_PLAN CDATA #REQUIRED
    KEY_EXECUTION_PERIOD CDATA #REQUIRED
    START_DATE CDATA #REQUIRED
    END_DATE CDATA #REQUIRED
>

<!ELEMENT STUDENT EMPTY>
<!ATTLIST STUDENT
    ID_INTERNAL CDATA #REQUIRED
    NUMBER CDATA #REQUIRED
    KEY_PERSON CDATA #REQUIRED
    STATE CDATA #REQUIRED
    DEGREE_TYPE CDATA #REQUIRED
    KEY_STUDENT_KIND CDATA #REQUIRED
>

<!ELEMENT posgrad_disc_area EMPTY>
<!ATTLIST posgrad_disc_area
    codigoInterno CDATA #REQUIRED
    codigoAreaCientifica CDATA #REQUIRED
    codigoDisciplina CDATA #REQUIRED
    anoLectivo CDATA #REQUIRED
>

<!ELEMENT ATTEND EMPTY>
<!ATTLIST ATTEND
    ID_INTERNAL CDATA #REQUIRED
    KEY_STUDENT CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
    KEY_ENROLMENT CDATA #IMPLIED
>

<!ELEMENT ass_MODALIDADE EMPTY>
<!ATTLIST ass_MODALIDADE
    codigoInterno CDATA #REQUIRED
    designacao CDATA #REQUIRED
>

<!ELEMENT SEMINARY_MODALITY EMPTY>
<!ATTLIST SEMINARY_MODALITY
    id_internal CDATA #REQUIRED
    name CDATA #REQUIRED
    description CDATA #IMPLIED
>

<!ELEMENT ass_PERIODO_FERIAS EMPTY>
<!ATTLIST ass_PERIODO_FERIAS
    codigoInterno CDATA #REQUIRED
    chaveFuncionario CDATA #REQUIRED
    dataInicio CDATA #REQUIRED
    dataFim CDATA #IMPLIED
    numDiasUteis CDATA #REQUIRED
    tipoFerias CDATA #REQUIRED
    quem CDATA #REQUIRED
    quando CDATA #REQUIRED
>

<!ELEMENT ass_HORARIOTIPO_REGIME EMPTY>
<!ATTLIST ass_HORARIOTIPO_REGIME
    chaveHorarioTipo CDATA #REQUIRED
    chaveRegime CDATA #REQUIRED
>

<!ELEMENT GROUP_PROPERTIES EMPTY>
<!ATTLIST GROUP_PROPERTIES
    ID_INTERNAL CDATA #REQUIRED
    MAXIMUM_CAPACITY CDATA #IMPLIED
    MINIMUM_CAPACITY CDATA #IMPLIED
    IDEAL_CAPACITY CDATA #IMPLIED
    ENROLMENT_POLICY CDATA #IMPLIED
    GROUP_MAXIMUM_NUMBER CDATA #IMPLIED
    NAME CDATA #REQUIRED
    SHIFT_TYPE CDATA #IMPLIED
    ENROLMENT_BEGIN_DAY CDATA #IMPLIED
    ENROLMENT_END_DAY CDATA #IMPLIED
    PROJECT_DESCRIPTION CDATA #IMPLIED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
>

<!ELEMENT ITEM EMPTY>
<!ATTLIST ITEM
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #IMPLIED
    ITEM_ORDER CDATA #IMPLIED
    INFORMATION CDATA #IMPLIED
    URGENT CDATA #IMPLIED
    KEY_SECTION CDATA #REQUIRED
>

<!ELEMENT RESPONSIBLEFOR EMPTY>
<!ATTLIST RESPONSIBLEFOR
    INTERNAL_CODE CDATA #REQUIRED
    KEY_TEACHER CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
>

<!ELEMENT ass_HORARIO_EXCEPCAO EMPTY>
<!ATTLIST ass_HORARIO_EXCEPCAO
    codigoInterno CDATA #REQUIRED
    chaveHorarioTipo CDATA #REQUIRED
    chaveFuncionario CDATA #REQUIRED
    sigla CDATA #IMPLIED
    modalidade CDATA #IMPLIED
    duracaoSemanal CDATA #IMPLIED
    inicioPF1 CDATA #IMPLIED
    fimPF1 CDATA #IMPLIED
    inicioPF2 CDATA #IMPLIED
    fimPF2 CDATA #IMPLIED
    inicioHN1 CDATA #IMPLIED
    fimHN1 CDATA #IMPLIED
    inicioHN2 CDATA #IMPLIED
    fimHN2 CDATA #IMPLIED
    inicioRefeicao CDATA #IMPLIED
    fimRefeicao CDATA #IMPLIED
    descontoObrigatorio CDATA #IMPLIED
    descontoMinimo CDATA #IMPLIED
    inicioExpediente CDATA #IMPLIED
    fimExpediente CDATA #IMPLIED
    dataInicio CDATA #REQUIRED
    dataFim CDATA #IMPLIED
    numDias CDATA #IMPLIED
    posicao CDATA #IMPLIED
    quem CDATA #REQUIRED
    quando CDATA #REQUIRED
>

<!ELEMENT STUDENT_CURRICULAR_PLAN EMPTY>
<!ATTLIST STUDENT_CURRICULAR_PLAN
    ID_INTERNAL CDATA #REQUIRED
    KEY_STUDENT CDATA #REQUIRED
    KEY_DEGREE_CURRICULAR_PLAN CDATA #REQUIRED
    CURRENT_STATE CDATA #REQUIRED
    START_DATE CDATA #REQUIRED
    KEY_BRANCH CDATA #REQUIRED
    SPECIALIZATION CDATA #IMPLIED
    GIVEN_CREDITS CDATA #IMPLIED
    COMPLETED_COURSES CDATA #IMPLIED
    ENROLLED_COURSES CDATA #IMPLIED
    CLASSIFICATION CDATA #IMPLIED
>

<!ELEMENT DEGREE_CURRICULAR_PLAN_ENROLMENT_INFO EMPTY>
<!ATTLIST DEGREE_CURRICULAR_PLAN_ENROLMENT_INFO
    ID_INTERNAL CDATA #REQUIRED
    KEY_DEGREE_CURRICULAR_PLAN CDATA #REQUIRED
    DEGREE_DURATION CDATA #REQUIRED
    MINIMAL_YEAR_FOR_OPTIONAL_COURSES CDATA #REQUIRED
>

<!ELEMENT SUMMARY EMPTY>
<!ATTLIST SUMMARY
    ID_INTERNAL CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
    TITLE CDATA #IMPLIED
    SUMMARY_DATE CDATA #IMPLIED
    SUMMARY_HOUR CDATA #IMPLIED
    LAST_MODIFICATION_DATE CDATA #IMPLIED
    SUMMARY_TEXT CDATA #IMPLIED
    SUMMARY_TYPE CDATA #IMPLIED
>

<!ELEMENT posgrad_aluno_mestrado EMPTY>
<!ATTLIST posgrad_aluno_mestrado
    codigoInterno CDATA #REQUIRED
    numero CDATA #REQUIRED
    codigoPessoa CDATA #REQUIRED
    codigoCursoMestrado CDATA #REQUIRED
    especializacao CDATA #REQUIRED
    anoCandidatura CDATA #REQUIRED
    escolaLicenciatura CDATA #IMPLIED
    anoLicenciatura CDATA #IMPLIED
    media CDATA #IMPLIED
    creditos CDATA #IMPLIED
    observacoes CDATA #IMPLIED
>

<!ELEMENT TESTS EMPTY>
<!ATTLIST TESTS
    ID_INTERNAL CDATA #REQUIRED
    TITLE CDATA #REQUIRED
    INFORMATION CDATA #IMPLIED
    NUMBER_OF_QUESTIONS CDATA #REQUIRED
    CREATION_DATE CDATA #IMPLIED
    LAST_MODIFICATION_DATE CDATA #IMPLIED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
>

<!ELEMENT ass_CENTRO_CUSTO EMPTY>
<!ATTLIST ass_CENTRO_CUSTO
    codigoInterno CDATA #REQUIRED
    sigla CDATA #REQUIRED
    departamento CDATA #IMPLIED
    seccao1 CDATA #IMPLIED
    seccao2 CDATA #IMPLIED
>

<!ELEMENT ass_FUNCIONARIO EMPTY>
<!ATTLIST ass_FUNCIONARIO
    codigoInterno CDATA #REQUIRED
    chavePessoa CDATA #REQUIRED
    numeroMecanografico CDATA #REQUIRED
    chaveHorarioActual CDATA #REQUIRED
    antiguidade CDATA #REQUIRED
    chaveFuncResponsavel CDATA #REQUIRED
    chaveCCLocalTrabalho CDATA #REQUIRED
    chaveCCCorrespondencia CDATA #REQUIRED
    chaveCCVencimento CDATA #REQUIRED
    calendario CDATA #REQUIRED
    chaveStatus CDATA #REQUIRED
    dataInicio CDATA #REQUIRED
    dataFim CDATA #IMPLIED
    quem CDATA #REQUIRED
    quando CDATA #REQUIRED
>

<!ELEMENT EXAM_STUDENT EMPTY>
<!ATTLIST EXAM_STUDENT
    ID_INTERNAL CDATA #REQUIRED
    KEY_EVALUATION CDATA #REQUIRED
    KEY_STUDENT CDATA #REQUIRED
>

<!ELEMENT EXAM_ROOM EMPTY>
<!ATTLIST EXAM_ROOM
    ID_INTERNAL CDATA #REQUIRED
    KEY_EVALUATION CDATA #REQUIRED
    KEY_ROOM CDATA #REQUIRED
>

<!ELEMENT CREDITS EMPTY>
<!ATTLIST CREDITS
    ID_INTERNAL CDATA #REQUIRED
    KEY_EXECUTION_PERIOD CDATA #REQUIRED
    KEY_TEACHER CDATA #REQUIRED
    TFC_STUDENTS_NUMBER CDATA #REQUIRED
    CREDITS CDATA #IMPLIED
    ADDITIONAL_CREDITS CDATA #IMPLIED
    ADDITIONAL_CREDITS_JUSTIFICATION CDATA #IMPLIED
>

<!ELEMENT COUNTRY EMPTY>
<!ATTLIST COUNTRY
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #REQUIRED
    NATIONALITY CDATA #REQUIRED
    CODE CDATA #REQUIRED
>

<!ELEMENT ROLE EMPTY>
<!ATTLIST ROLE
    ID_INTERNAL CDATA #REQUIRED
    ROLE_TYPE CDATA #REQUIRED
    PORTAL_SUB_APPLICATION CDATA #IMPLIED
    PAGE CDATA #IMPLIED
    PAGE_NAME_PROPERTY CDATA #IMPLIED
>

<!ELEMENT TEACHER_SHIFT_PERCENTAGE EMPTY>
<!ATTLIST TEACHER_SHIFT_PERCENTAGE
    ID_INTERNAL CDATA #REQUIRED
    KEY_PROFESSOR_SHIP CDATA #REQUIRED
    KEY_SHIFT CDATA #REQUIRED
    PERCENTAGE CDATA #REQUIRED
>

<!ELEMENT posgrad_curso_mestrado EMPTY>
<!ATTLIST posgrad_curso_mestrado
    codigoInterno CDATA #REQUIRED
    nomeMestrado CDATA #REQUIRED
    anoLectivo CDATA #REQUIRED
>

<!ELEMENT TEST_QUESTION EMPTY>
<!ATTLIST TEST_QUESTION
    ID_INTERNAL CDATA #REQUIRED
    TEST_QUESTION_ORDER CDATA #REQUIRED
    TEST_QUESTION_VALUE CDATA #REQUIRED
    KEY_XML_DOCUMENT CDATA #REQUIRED
    KEY_TEST CDATA #REQUIRED
>

<!ELEMENT EXECUTION_DEGREE EMPTY>
<!ATTLIST EXECUTION_DEGREE
    ID_INTERNAL CDATA #REQUIRED
    ACADEMIC_YEAR CDATA #REQUIRED
    KEY_DEGREE_CURRICULAR_PLAN CDATA #REQUIRED
    KEY_TEACHER CDATA #IMPLIED
    TEMPORARY_EXAM_MAP CDATA #IMPLIED
>

<!ELEMENT ass_STATUS EMPTY>
<!ATTLIST ass_STATUS
    codigoInterno CDATA #REQUIRED
    sigla CDATA #REQUIRED
    designacao CDATA #REQUIRED
    estado CDATA #REQUIRED
    assiduidade CDATA #REQUIRED
>

<!ELEMENT ass_PARAM_REGULARIZACAO EMPTY>
<!ATTLIST ass_PARAM_REGULARIZACAO
    codigoInterno CDATA #REQUIRED
    sigla CDATA #REQUIRED
    descricao CDATA #REQUIRED
    quem CDATA #REQUIRED
    quando CDATA #REQUIRED
>

<!ELEMENT MASTER_DEGREE_CANDIDATE EMPTY>
<!ATTLIST MASTER_DEGREE_CANDIDATE
    ID_INTERNAL CDATA #REQUIRED
    PERSON_KEY CDATA #REQUIRED
    EXECUTION_DEGREE_KEY CDATA #REQUIRED
    CANDIDATE_NUMBER CDATA #IMPLIED
    SPECIALIZATION CDATA #REQUIRED
    MAJOR_DEGREE CDATA #IMPLIED
    MAJOR_DEGREE_SCHOOL CDATA #IMPLIED
    MAJOR_DEGREE_YEAR CDATA #IMPLIED
    AVERAGE CDATA #IMPLIED
    SPECIALIZATION_AREA CDATA #IMPLIED
    SUBSTITUTE_ORDER CDATA #IMPLIED
    GIVEN_CREDITS CDATA #IMPLIED
    GIVEN_CREDITS_REMARKS CDATA #IMPLIED
>

<!ELEMENT OJB_DLIST EMPTY>
<!ATTLIST OJB_DLIST
    ID CDATA #REQUIRED
    SIZE_ CDATA #IMPLIED
>

<!ELEMENT mw_AVERAGE EMPTY>
<!ATTLIST mw_AVERAGE
    number CDATA #REQUIRED
    numberOfCoursesEnrolled CDATA #IMPLIED
    numberOfCoursesApproved CDATA #IMPLIED
    sum CDATA #IMPLIED
    average CDATA #IMPLIED
>

<!ELEMENT ass_FERIAS EMPTY>
<!ATTLIST ass_FERIAS
    codigoInterno CDATA #REQUIRED
    chaveFuncionario CDATA #REQUIRED
    anoCorrente CDATA #REQUIRED
    diasNormais CDATA #REQUIRED
    diasEpocaBaixa CDATA #REQUIRED
    diasHorasExtras CDATA #REQUIRED
    diasAntiguidade CDATA #REQUIRED
    diasMeioDia CDATA #REQUIRED
    diasDispensaServico CDATA #REQUIRED
    diasTolerancia CDATA #REQUIRED
    diasTransferidos CDATA #REQUIRED
    diasTransHorasExtras CDATA #REQUIRED
    diasTransAntiguidade CDATA #REQUIRED
>

<!ELEMENT plano_curricular_2003final EMPTY>
<!ATTLIST plano_curricular_2003final
    Id_Internal CDATA #REQUIRED
    Ano_Lectivo CDATA #IMPLIED
    Codigo_Lic CDATA #IMPLIED
    Codigo_Ramo CDATA #IMPLIED
    Ano_Curricular CDATA #IMPLIED
    Semestre CDATA #IMPLIED
    Codigo_Disc CDATA #IMPLIED
    Nome_Disc CDATA #IMPLIED
    ciencia_base CDATA #IMPLIED
    ender_web CDATA #IMPLIED
    Objectivos CDATA #IMPLIED
    Progr_Res CDATA #IMPLIED
    bib_princ_1 CDATA #IMPLIED
    bib_princ_2 CDATA #IMPLIED
    bib_princ_3 CDATA #IMPLIED
    bib_sec_1 CDATA #IMPLIED
    bib_sec_2 CDATA #IMPLIED
    bib_sec_3 CDATA #IMPLIED
    Crit_Av CDATA #IMPLIED
    data_act CDATA #IMPLIED
    Ingles_Nome_Disc CDATA #IMPLIED
    Ingles_Objectivos CDATA #IMPLIED
    Ingles_Progr_Res CDATA #IMPLIED
    Ingles_Crit_Av CDATA #IMPLIED
    Ingles_relatorio CDATA #IMPLIED
    Ingles_data_act CDATA #IMPLIED
>

<!ELEMENT EXAM_EXECUTION_COURSE EMPTY>
<!ATTLIST EXAM_EXECUTION_COURSE
    ID_INTERNAL CDATA #REQUIRED
    KEY_EVALUATION CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
>

<!ELEMENT AtribuicaoDisciplinas EMPTY>
<!ATTLIST AtribuicaoDisciplinas
    NumEpoca CDATA #IMPLIED
    Turma CDATA #IMPLIED
    Disciplina CDATA #IMPLIED
    TipoAula CDATA #IMPLIED
    NumDivisao CDATA #IMPLIED
    HorasMax CDATA #IMPLIED
    HorasDadas CDATA #IMPLIED
    HorasAula CDATA #IMPLIED
    AlunosDivisao CDATA #IMPLIED
    SalaPreferencial CDATA #IMPLIED
>

<!ELEMENT SHIFT EMPTY>
<!ATTLIST SHIFT
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
    TYPE CDATA #REQUIRED
    CAPACITY CDATA #REQUIRED
    AVAILLABILITY_FINAL CDATA #IMPLIED
>

<!ELEMENT ass_CARGO EMPTY>
<!ATTLIST ass_CARGO
    chaveCargo CDATA #REQUIRED
    cargo CDATA #REQUIRED
>

<!ELEMENT ROOM EMPTY>
<!ATTLIST ROOM
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #REQUIRED
    BUILDING CDATA #REQUIRED
    FLOOR CDATA #REQUIRED
    TYPE CDATA #REQUIRED
    NORMAL_CAPACITY CDATA #REQUIRED
    EXAM_CAPACITY CDATA #REQUIRED
>

<!ELEMENT CLASS EMPTY>
<!ATTLIST CLASS
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #REQUIRED
    SEMESTER CDATA #IMPLIED
    CURRICULAR_YEAR CDATA #REQUIRED
    KEY_EXECUTION_DEGREE CDATA #REQUIRED
    KEY_DEGREE CDATA #IMPLIED
    KEY_EXECUTION_PERIOD CDATA #REQUIRED
>

<!ELEMENT mw_BRANCH EMPTY>
<!ATTLIST mw_BRANCH
    degreeCode CDATA #IMPLIED
    branchCode CDATA #IMPLIED
    orientationCode CDATA #IMPLIED
    description CDATA #IMPLIED
    id_internal CDATA #REQUIRED
>

<!ELEMENT ass_HORARIOEXCEPCAO_REGIME EMPTY>
<!ATTLIST ass_HORARIOEXCEPCAO_REGIME
    chaveHorario CDATA #REQUIRED
    chaveRegime CDATA #REQUIRED
>

<!ELEMENT DEPARTMENT EMPTY>
<!ATTLIST DEPARTMENT
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #REQUIRED
    CODE CDATA #REQUIRED
>

<!ELEMENT SEMINARY_THEME EMPTY>
<!ATTLIST SEMINARY_THEME
    id_internal CDATA #REQUIRED
    name CDATA #REQUIRED
    short_name CDATA #IMPLIED
    description CDATA #IMPLIED
>

<!ELEMENT mw_COURSE EMPTY>
<!ATTLIST mw_COURSE
    courseCode CDATA #REQUIRED
    courseName CDATA #IMPLIED
    universityCode CDATA #IMPLIED
>

<!ELEMENT XML_DOCUMENTS EMPTY>
<!ATTLIST XML_DOCUMENTS
    ID_INTERNAL CDATA #REQUIRED
    XML_FILE CDATA #REQUIRED
    XML_FILE_NAME CDATA #REQUIRED
    KEY_METADATA CDATA #REQUIRED
>

<!ELEMENT QUALIFICATION EMPTY>
<!ATTLIST QUALIFICATION
    ID_INTERNAL CDATA #REQUIRED
    KEY_PERSON CDATA #REQUIRED
    YEAR CDATA #IMPLIED
    MARK CDATA #IMPLIED
    SCHOOL CDATA #IMPLIED
    TITLE CDATA #IMPLIED
>

<!ELEMENT STUDENT_TEST_QUESTION EMPTY>
<!ATTLIST STUDENT_TEST_QUESTION
    ID_INTERNAL CDATA #REQUIRED
    KEY_STUDENT CDATA #REQUIRED
    KEY_DISTRIBUTED_TEST CDATA #REQUIRED
    KEY_XML_DOCUMENT CDATA #REQUIRED
    TEST_QUESTION_ORDER CDATA #REQUIRED
    TEST_QUESTION_VALUE CDATA #REQUIRED
    RESPONSE CDATA #REQUIRED
    OPTION_SHUFFLE CDATA #IMPLIED
>

<!ELEMENT MARK EMPTY>
<!ATTLIST MARK
    ID_INTERNAL CDATA #REQUIRED
    MARK CDATA #IMPLIED
    PUBLISHED_MARK CDATA #IMPLIED
    KEY_EVALUATION CDATA #REQUIRED
    KEY_ATTEND CDATA #REQUIRED
>

<!ELEMENT ass_HORARIO_REGIME EMPTY>
<!ATTLIST ass_HORARIO_REGIME
    chaveHorario CDATA #REQUIRED
    chaveRegime CDATA #REQUIRED
>

<!ELEMENT OJB_SEQ EMPTY>
<!ATTLIST OJB_SEQ
    TABLENAME CDATA #REQUIRED
    FIELDNAME CDATA #REQUIRED
    LAST_NUM CDATA #IMPLIED
>

<!ELEMENT SECTION EMPTY>
<!ATTLIST SECTION
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #IMPLIED
    SECTION_ORDER CDATA #IMPLIED
    KEY_SITE CDATA #REQUIRED
    KEY_SUPERIOR_SECTION CDATA #IMPLIED
    LAST_MODIFIED_DATE CDATA #IMPLIED
>

<!ELEMENT EVALUATION_METHOD EMPTY>
<!ATTLIST EVALUATION_METHOD
    ID_INTERNAL CDATA #REQUIRED
    KEY_CURRICULAR_COURSE CDATA #IMPLIED
    EVALUATION_ELEMENTS CDATA #IMPLIED
    EVALUATION_ELEMENTS_EN CDATA #IMPLIED
>

<!ELEMENT almeida_inscricoes EMPTY>
<!ATTLIST almeida_inscricoes
    codInt CDATA #REQUIRED
    numero CDATA #IMPLIED
    ano CDATA #IMPLIED
    semestre CDATA #IMPLIED
    codDis CDATA #IMPLIED
    anoInscricao CDATA #IMPLIED
    curso CDATA #IMPLIED
    ramo CDATA #IMPLIED
>

<!ELEMENT EXECUTION_COURSE EMPTY>
<!ATTLIST EXECUTION_COURSE
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #IMPLIED
    CODE CDATA #REQUIRED
    THEORETICAL_HOURS CDATA #IMPLIED
    PRATICAL_HOURS CDATA #IMPLIED
    THEO_PRAT_HOURS CDATA #IMPLIED
    LAB_HOURS CDATA #IMPLIED
    SEMESTER CDATA #IMPLIED
    KEY_EXECUTION_PERIOD CDATA #REQUIRED
    COMMENT CDATA #REQUIRED
>

<!ELEMENT responsavel EMPTY>
<!ATTLIST responsavel
    Id_Internal CDATA #REQUIRED
    Ano_Lectivo CDATA #IMPLIED
    Cod_Curso CDATA #IMPLIED
    Ano_Curr CDATA #IMPLIED
    Semestre CDATA #IMPLIED
    Cod_Ramo CDATA #IMPLIED
    Cod_Disc CDATA #IMPLIED
    No_Mec CDATA #IMPLIED
    Data_act CDATA #IMPLIED
    Observacoes CDATA #IMPLIED
    depto CDATA #IMPLIED
>

<!ELEMENT SHIFT_STUDENT EMPTY>
<!ATTLIST SHIFT_STUDENT
    ID_INTERNAL CDATA #REQUIRED
    KEY_SHIFT CDATA #REQUIRED
    KEY_STUDENT CDATA #REQUIRED
>

<!ELEMENT EVALUATION EMPTY>
<!ATTLIST EVALUATION
    ID_INTERNAL CDATA #REQUIRED
    CLASS_NAME CDATA #REQUIRED
    DAY CDATA #IMPLIED
    BEGINNING CDATA #IMPLIED
    END CDATA #IMPLIED
    SEASON CDATA #REQUIRED
    ENROLLMENT_BEGIN_DAY CDATA #IMPLIED
    ENROLLMENT_BEGIN_TIME CDATA #IMPLIED
    ENROLLMENT_END_DAY CDATA #IMPLIED
    ENROLLMENT_END_TIME CDATA #IMPLIED
    PUBLISHMENT_MESSAGE CDATA #IMPLIED
>

<!ELEMENT CONTRIBUTOR EMPTY>
<!ATTLIST CONTRIBUTOR
    ID_INTERNAL CDATA #REQUIRED
    CONTRIBUTOR_NUMBER CDATA #REQUIRED
    CONTRIBUTOR_NAME CDATA #REQUIRED
    CONTRIBUTOR_ADDRESS CDATA #REQUIRED
>

<!ELEMENT CLASS_SHIFT EMPTY>
<!ATTLIST CLASS_SHIFT
    ID_INTERNAL CDATA #REQUIRED
    KEY_CLASS CDATA #REQUIRED
    KEY_SHIFT CDATA #REQUIRED
>

<!ELEMENT ADVISORY EMPTY>
<!ATTLIST ADVISORY
    ID_INTERNAL CDATA #REQUIRED
    SENDER CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    SUBJECT CDATA #REQUIRED
    MESSAGE CDATA #REQUIRED
    EXPIRES CDATA #REQUIRED
    ONLY_SHOW_ONCE CDATA #REQUIRED
>

<!ELEMENT LESSON EMPTY>
<!ATTLIST LESSON
    ID_INTERNAL CDATA #REQUIRED
    WEEKDAY CDATA #REQUIRED
    START_TIME CDATA #REQUIRED
    END_TIME CDATA #REQUIRED
    KEY_ROOM CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
    TYPE CDATA #REQUIRED
    KEY_EXECUTION_PERIOD CDATA #REQUIRED
>

<!ELEMENT STUDENT_KIND EMPTY>
<!ATTLIST STUDENT_KIND
    ID_INTERNAL CDATA #REQUIRED
    STUDENT_TYPE CDATA #REQUIRED
    MIN_COURSES_TO_ENROL CDATA #REQUIRED
    MAX_COURSES_TO_ENROL CDATA #REQUIRED
    MAX_NAC_TO_ENROL CDATA #REQUIRED
>

<!ELEMENT SHIFT_LESSON EMPTY>
<!ATTLIST SHIFT_LESSON
    ID_INTERNAL CDATA #REQUIRED
    KEY_SHIFT CDATA #REQUIRED
    KEY_LESSON CDATA #REQUIRED
>

<!ELEMENT STUDENT_GROUP_INFO EMPTY>
<!ATTLIST STUDENT_GROUP_INFO
    ID_INTERNAL CDATA #REQUIRED
    STUDENT_TYPE CDATA #REQUIRED
    MIN_COURSES_TO_ENROL CDATA #REQUIRED
    MAX_COURSES_TO_ENROL CDATA #REQUIRED
    MAX_NAC_TO_ENROL CDATA #REQUIRED
>

<!ELEMENT EXECUTION_YEAR EMPTY>
<!ATTLIST EXECUTION_YEAR
    ID_INTERNAL CDATA #REQUIRED
    YEAR CDATA #REQUIRED
    STATE CDATA #REQUIRED
>

<!ELEMENT PERSON_ROLE EMPTY>
<!ATTLIST PERSON_ROLE
    ID_INTERNAL CDATA #REQUIRED
    KEY_ROLE CDATA #REQUIRED
    KEY_PERSON CDATA #REQUIRED
>

<!ELEMENT EXAM_STUDENT_ROOM EMPTY>
<!ATTLIST EXAM_STUDENT_ROOM
    ID_INTERNAL CDATA #REQUIRED
    KEY_EVALUATION CDATA #REQUIRED
    KEY_STUDENT CDATA #REQUIRED
    KEY_ROOM CDATA #IMPLIED
>

<!ELEMENT STUDENT_GROUP_ATTEND EMPTY>
<!ATTLIST STUDENT_GROUP_ATTEND
    ID_INTERNAL CDATA #REQUIRED
    KEY_ATTEND CDATA #REQUIRED
    KEY_STUDENT_GROUP CDATA #REQUIRED
>

<!ELEMENT BIBLIOGRAPHIC_REFERENCE EMPTY>
<!ATTLIST BIBLIOGRAPHIC_REFERENCE
    ID_INTERNAL CDATA #REQUIRED
    TITLE CDATA #REQUIRED
    AUTHORS CDATA #REQUIRED
    REFERENCE CDATA #REQUIRED
    YEAR CDATA #REQUIRED
    OPTIONAL CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
>

<!ELEMENT CURRICULAR_COURSE_SCOPE EMPTY>
<!ATTLIST CURRICULAR_COURSE_SCOPE
    ID_INTERNAL CDATA #REQUIRED
    KEY_CURRICULAR_SEMESTER CDATA #REQUIRED
    KEY_CURRICULAR_COURSE CDATA #REQUIRED
    KEY_BRANCH CDATA #REQUIRED
    THEORETICAL_HOURS CDATA #IMPLIED
    PRATICAL_HOURS CDATA #IMPLIED
    THEO_PRAT_HOURS CDATA #IMPLIED
    LAB_HOURS CDATA #IMPLIED
    SCOPE_TYPE CDATA #REQUIRED
    MAX_INCREMENT_NAC CDATA #IMPLIED
    MIN_INCREMENT_NAC CDATA #IMPLIED
    WEIGTH CDATA #IMPLIED
    CREDITS CDATA #IMPLIED
>

<!ELEMENT OJB_DLIST_ENTRIES EMPTY>
<!ATTLIST OJB_DLIST_ENTRIES
    ID CDATA #REQUIRED
    DLIST_ID CDATA #REQUIRED
    POSITION_ CDATA #IMPLIED
    OID_ CDATA #IMPLIED
>

<!ELEMENT STUDENT_TEST_LOG EMPTY>
<!ATTLIST STUDENT_TEST_LOG
    ID_INTERNAL CDATA #REQUIRED
    KEY_STUDENT CDATA #REQUIRED
    KEY_DISTRIBUTED_TEST CDATA #REQUIRED
    DATE CDATA #IMPLIED
    EVENT CDATA #IMPLIED
>

<!ELEMENT ENROLMENT_EVALUATION EMPTY>
<!ATTLIST ENROLMENT_EVALUATION
    ID_INTERNAL CDATA #REQUIRED
    GRADE CDATA #IMPLIED
    EVALUATION_TYPE CDATA #REQUIRED
    EXAM_DATE CDATA #IMPLIED
    GRADE_AVAILABLE_DATE CDATA #IMPLIED
    RESPONSIBLE_PERSON CDATA #IMPLIED
    STATE CDATA #REQUIRED
    KEY_ENROLMENT CDATA #REQUIRED
    KEY_EMPLOYEE CDATA #IMPLIED
    WHEN_ALTER CDATA #IMPLIED
    CHECKSUM CDATA #IMPLIED
    OBSERVATION CDATA #IMPLIED
>

<!ELEMENT ass_REGULARIZACAO_MARCACAO EMPTY>
<!ATTLIST ass_REGULARIZACAO_MARCACAO
    codigoInterno CDATA #REQUIRED
    chaveMarcacaoPonto CDATA #REQUIRED
    chaveParamRegularizacao CDATA #REQUIRED
    quem CDATA #REQUIRED
    quando CDATA #REQUIRED
>

<!ELEMENT SEMINARYCANDIDACY_SEMINARYCASESTUDY EMPTY>
<!ATTLIST SEMINARYCANDIDACY_SEMINARYCASESTUDY
    candidacy_id_internal CDATA #REQUIRED
    casestudy_id_internal CDATA #REQUIRED
    preference_order CDATA #REQUIRED
>

<!ELEMENT mw_CURRICULAR_COURSE EMPTY>
<!ATTLIST mw_CURRICULAR_COURSE
    courseCode CDATA #REQUIRED
    courseName CDATA #REQUIRED
    universityCode CDATA #IMPLIED
>

<!ELEMENT ass_URL EMPTY>
<!ATTLIST ass_URL
    chaveUrl CDATA #REQUIRED
    url CDATA #REQUIRED
>

<!ELEMENT almeida_disc EMPTY>
<!ATTLIST almeida_disc
    codInt CDATA #REQUIRED
    codCur CDATA #IMPLIED
    codRam CDATA #IMPLIED
    anoDis CDATA #IMPLIED
    semDis CDATA #IMPLIED
    codDis CDATA #IMPLIED
    tipo CDATA #IMPLIED
    teo CDATA #IMPLIED
    pra CDATA #IMPLIED
    lab CDATA #IMPLIED
    teoPra CDATA #IMPLIED
    nomeDis CDATA #IMPLIED
>

<!ELEMENT almeida_coddisc EMPTY>
<!ATTLIST almeida_coddisc
    codint CDATA #REQUIRED
    coddis CDATA #IMPLIED
    nomedis CDATA #IMPLIED
>

<!ELEMENT OJB_NRM EMPTY>
<!ATTLIST OJB_NRM
    NAME CDATA #REQUIRED
    OID_ CDATA #IMPLIED
>

<!ELEMENT SEMINARY_CANDIDACY EMPTY>
<!ATTLIST SEMINARY_CANDIDACY
    id_internal CDATA #REQUIRED
    student_id_internal CDATA #REQUIRED
    curricular_course_id_internal CDATA #REQUIRED
    seminary_id_internal CDATA #REQUIRED
    seminary_theme_id_internal CDATA #IMPLIED
    seminary_modality_id_internal CDATA #REQUIRED
    motivation CDATA #REQUIRED
    APPROVED CDATA #IMPLIED
>

<!ELEMENT ass_HORARIO_TIPO EMPTY>
<!ATTLIST ass_HORARIO_TIPO
    codigoInterno CDATA #REQUIRED
    sigla CDATA #REQUIRED
    modalidade CDATA #REQUIRED
    duracaoSemanal CDATA #REQUIRED
    inicioPF1 CDATA #IMPLIED
    fimPF1 CDATA #IMPLIED
    inicioPF2 CDATA #IMPLIED
    fimPF2 CDATA #IMPLIED
    inicioHN1 CDATA #REQUIRED
    fimHN1 CDATA #REQUIRED
    inicioHN2 CDATA #IMPLIED
    fimHN2 CDATA #IMPLIED
    inicioRefeicao CDATA #IMPLIED
    fimRefeicao CDATA #IMPLIED
    descontoObrigatorio CDATA #IMPLIED
    descontoMinimo CDATA #IMPLIED
    inicioExpediente CDATA #IMPLIED
    fimExpediente CDATA #IMPLIED
>

<!ELEMENT OJB_LOCKENTRY EMPTY>
<!ATTLIST OJB_LOCKENTRY
    OID_ CDATA #REQUIRED
    TX_ID CDATA #REQUIRED
    TIMESTAMP_ CDATA #IMPLIED
    ISOLATIONLEVEL CDATA #IMPLIED
    LOCKTYPE CDATA #IMPLIED
>

<!ELEMENT EQUIVALENCE EMPTY>
<!ATTLIST EQUIVALENCE
    ID_INTERNAL CDATA #REQUIRED
    KEY_EQUIVALENT_ENROLMENT CDATA #REQUIRED
    KEY_ENROLMENT CDATA #REQUIRED
    EQUIVALENCE_TYPE CDATA #REQUIRED
>

<!ELEMENT PRECEDENCE EMPTY>
<!ATTLIST PRECEDENCE
    ID_INTERNAL CDATA #REQUIRED
    KEY_CURRICULAR_COURSE CDATA #REQUIRED
    SCOPE_TO_APPLY CDATA #REQUIRED
>

<!ELEMENT posgrad_disc_area_aluno EMPTY>
<!ATTLIST posgrad_disc_area_aluno
    codigoInterno CDATA #REQUIRED
    codigoAluno CDATA #REQUIRED
    codigoAreaDisciplina CDATA #REQUIRED
    dataExame CDATA #IMPLIED
    dataLancamento CDATA #IMPLIED
    nota CDATA #IMPLIED
    equivalencia CDATA #IMPLIED
    creditos CDATA #IMPLIED
>

<!ELEMENT mw_CURRICULAR_COURSE_SCOPE EMPTY>
<!ATTLIST mw_CURRICULAR_COURSE_SCOPE
    executionYear CDATA #REQUIRED
    courseCode CDATA #REQUIRED
    degreeCode CDATA #REQUIRED
    branchCode CDATA #REQUIRED
    curricularYear CDATA #IMPLIED
    curricularSemester CDATA #IMPLIED
    courseType CDATA #IMPLIED
    theoreticalHours CDATA #IMPLIED
    praticaHours CDATA #IMPLIED
    labHours CDATA #IMPLIED
    theoPratHours CDATA #IMPLIED
    credits CDATA #IMPLIED
    orientation CDATA #IMPLIED
>

<!ELEMENT ass_HORARIO EMPTY>
<!ATTLIST ass_HORARIO
    codigoInterno CDATA #REQUIRED
    chaveHorarioTipo CDATA #REQUIRED
    chaveFuncionario CDATA #REQUIRED
    sigla CDATA #IMPLIED
    modalidade CDATA #IMPLIED
    duracaoSemanal CDATA #IMPLIED
    inicioPF1 CDATA #IMPLIED
    fimPF1 CDATA #IMPLIED
    inicioPF2 CDATA #IMPLIED
    fimPF2 CDATA #IMPLIED
    inicioHN1 CDATA #IMPLIED
    fimHN1 CDATA #IMPLIED
    inicioHN2 CDATA #IMPLIED
    fimHN2 CDATA #IMPLIED
    inicioRefeicao CDATA #IMPLIED
    fimRefeicao CDATA #IMPLIED
    descontoObrigatorio CDATA #IMPLIED
    descontoMinimo CDATA #IMPLIED
    inicioExpediente CDATA #IMPLIED
    fimExpediente CDATA #IMPLIED
    dataInicio CDATA #REQUIRED
    dataFim CDATA #IMPLIED
    numDias CDATA #IMPLIED
    posicao CDATA #IMPLIED
    quem CDATA #REQUIRED
    quando CDATA #REQUIRED
>

<!ELEMENT ass_PESSOA_CARGO EMPTY>
<!ATTLIST ass_PESSOA_CARGO
    chavePessoa CDATA #REQUIRED
    chaveCargo CDATA #REQUIRED
>

<!ELEMENT CANDIDATE_SITUATION EMPTY>
<!ATTLIST CANDIDATE_SITUATION
    ID_INTERNAL CDATA #REQUIRED
    DATE CDATA #REQUIRED
    REMARKS CDATA #IMPLIED
    VALIDATION CDATA #REQUIRED
    CANDIDATE_KEY CDATA #REQUIRED
    SITUATION CDATA #REQUIRED
>

<!ELEMENT branch_20032004 EMPTY>
<!ATTLIST branch_20032004
    ID_INTERNAL CDATA #REQUIRED
    BRANCH_CODE CDATA #REQUIRED
    BRANCH_NAME CDATA #REQUIRED
    KEY_DEGREE_CURRICULAR_PLAN CDATA #REQUIRED
>

