metadata/dtds/fenix-database.dtd

<!ELEMENT dataset (
    OJB_NRM*,
    ass_PARAM_FERIAS*,
    ass_CARGO_URL*,
    SUMMARY*,
    OJB_LOCKENTRY*,
    RESPONSIBLEFOR*,
    almeida_aluno*,
    posgrad_situacao*,
    SHIFT_STUDENT*,
    CONTRIBUTOR*,
    STUDENT_GROUP_ATTEND*,
    DEGREE_INFO*,
    posgrad_pagamento_guia*,
    posgrad_area_cientifica*,
    almeida_disc*,
    ANNOUNCEMENT*,
    EXAM_ROOM*,
    DISTRIBUTED_TESTS*,
    COURSE_REPORT*,
    posgrad_guia_tabela*,
    ADVISORY*,
    ass_PARAM_JUSTIFICACAO*,
    EXECUTION_YEAR*,
    conversaoLocalDistrito*,
    MASTER_DEGREE_THESIS*,
    almeida_nacionalidade*,
    Concelho*,
    SEMINARY_CANDIDACY*,
    ass_CENTRO_CUSTO*,
    ass_HORARIO*,
    MASTER_DEGREE_THESIS_DATA_VERSION_EXTERNAL_ASSISTENT_GUIDER*,
    posgrad_tabela_precos*,
    ass_FERIAS*,
    CREDITS*,
    MASTER_DEGREE_THESIS_DATA_VERSION_GUIDER*,
    ass_HORARIO_REGIME*,
    EVALUATION_METHOD*,
    posgrad_cargo*,
    SEMINARY_MODALITY*,
    ass_REGIME*,
    TEACHER_SHIFT_PERCENTAGE*,
    ass_MODALIDADE*,
    ass_CARGO*,
    TEACHER*,
    PERSON_ROLE*,
    SUPPORT_LESSONS_TIMETABLE*,
    Distrito*,
    BIBLIOGRAPHIC_REFERENCE*,
    EXAM_STUDENT*,
    posgrad_guia*,
    TESTS*,
    OJB_HL_SEQ*,
    almeida_curram*,
    MASTER_DEGREE_THESIS_DATA_VERSION_ASSISTENT_GUIDER*,
    OJB_SEQ*,
    DEPARTMENT*,
    QUALIFICATION*,
    SITE*,
    SHIFT*,
    CANDIDATE_SITUATION*,
    Freguesia*,
    CLASS_SHIFT*,
    almeida_inscricoes*,
    SHIFT_LESSON*,
    BRANCH*,
    ass_CARTAO*,
    CURRICULAR_SEMESTER*,
    CURRICULAR_COURSE_SCOPE*,
    PRICE*,
    ass_FUNCIONARIO_HISTORICO*,
    MASTER_DEGREE_CANDIDATE*,
    CURRICULAR_COURSE_EQUIVALENCE_RESTRICTION*,
    posgrad_candidato_mestrado*,
    ass_PARAM_REGULARIZACAO*,
    EXECUTION_PERIOD*,
    ass_FERIADO*,
    Abreviaturas*,
    OJB_DSET_ENTRIES*,
    PRECEDENCE*,
    OJB_DLIST_ENTRIES*,
    SECTION*,
    STUDENT_TEST_LOG*,
    MARK*,
    EXAM_STUDENT_ROOM*,
    STUDENT_TEST_QUESTION*,
    posgrad_disc_area*,
    paisExpansao*,
    CURRICULAR_COURSE_EQUIVALENCE*,
    OJB_DSET*,
    ass_FUNCIONARIO*,
    ENROLMENT_EVALUATION*,
    OJB_DMAP_ENTRIES*,
    PaisNaturalidade*,
    EQUIVALENCY_THEME*,
    DEGREE*,
    PERSON*,
    DEGREE_OBJECTIVES*,
    ATTEND*,
    PROFESSORSHIPS*,
    posgrad_disc_area_aluno*,
    CANDIDATE_ENROLMENT*,
    MASTER_DEGREE_PROOF_VERSION*,
    GUIDE_SITUATION*,
    LESSON*,
    CURRICULAR_COURSE_EXECUTION_COURSE*,
    ass_JUSTIFICACAO*,
    ass_UNIDADE_MARCACAO*,
    XML_DOCUMENTS*,
    ENROLMENT_EQUIVALENCE*,
    SEMINARY_CURRICULARCOURSE*,
    GRATUITY*,
    RESTRICTION*,
    conversaoCidadePais*,
    ass_PERIODO_FERIAS*,
    SEMINARY_THEME*,
    ENROLMENT*,
    COORDINATOR*,
    concelhoExpansao*,
    EXECUTION_COURSE*,
    ENROLMENT_PERIOD*,
    WEBSITE_ITEM*,
    GUIDE*,
    EXAM_EXECUTION_COURSE*,
    METADATA*,
    ass_HORARIO_EXCEPCAO*,
    ass_MARCACAO_PONTO*,
    ass_HORARIOTIPO_REGIME*,
    CREDITS_MANAGER_DEPARTMENT*,
    EVALUATION*,
    ass_HORARIOEXCEPCAO_REGIME*,
    STUDENT_GROUP*,
    EXTERNAL_PERSON*,
    PERSON_ADVISORY*,
    ass_URL*,
    STUDENT_KIND*,
    GRANT_OWNER*,
    MASTER_DEGREE_PROOF_VERSION_JURY*,
    posgrad_aluno_mestrado*,
    ass_PESSOA_CARGO*,
    ass_STATUS*,
    DEGREE_CURRICULAR_PLAN*,
    WEBSITE*,
    ass_FUNC_NAO_DOCENTE*,
    posgrad_docente*,
    SEMINARY_CASESTUDY*,
    CURRICULUM*,
    GUIDE_ENTRY*,
    DEPARTMENT_COURSE*,
    CURRICULAR_YEAR*,
    STUDENT_CURRICULAR_PLAN*,
    TEST_QUESTION*,
    posgrad_pessoa*,
    STUDENT*,
    posgrad_curso_mestrado*,
    UNIVERSITY*,
    CATEGORY*,
    posgrad_pessoa_cargo*,
    ITEM*,
    ROOM*,
    posgrad_candidato_situacao*,
    CURRICULAR_COURSE*,
    freguesiaExpansao*,
    MASTER_DEGREE_THESIS_DATA_VERSION*,
    TopWords*,
    CLASS*,
    posgrad_disciplina*,
    EQUIVALENT_ENROLMENT_FOR_ENROLMENT_EQUIVALENCE*,
    COUNTRY*,
    OJB_DLIST*,
    conversaoLocalConcelho*,
    WEBSITE_SECTION*,
    GROUP_PROPERTIES*,
    EXECUTION_DEGREE*,
    POSSIBLE_CURRICULAR_COURSE_FOR_OPTIONAL_CURRICULAR_COURSE*,
    SEMINARYCANDIDACY_SEMINARYCASESTUDY*,
    OJB_DMAP*,
    ass_REGULARIZACAO_MARCACAO*,
    ass_HORARIO_TIPO*,
    ROLE*,
    SEMINARY*)>

<!ELEMENT OJB_NRM EMPTY>
<!ATTLIST OJB_NRM
    NAME CDATA #REQUIRED
    OID_ CDATA #IMPLIED
>

<!ELEMENT ass_PARAM_FERIAS EMPTY>
<!ATTLIST ass_PARAM_FERIAS
    codigoInterno CDATA #REQUIRED
    sigla CDATA #REQUIRED
    designacao CDATA #REQUIRED
>

<!ELEMENT ass_CARGO_URL EMPTY>
<!ATTLIST ass_CARGO_URL
    chaveCargo CDATA #REQUIRED
    chaveUrl CDATA #REQUIRED
>

<!ELEMENT SUMMARY EMPTY>
<!ATTLIST SUMMARY
    ID_INTERNAL CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
    TITLE CDATA #IMPLIED
    SUMMARY_DATE CDATA #IMPLIED
    SUMMARY_HOUR CDATA #IMPLIED
    LAST_MODIFICATION_DATE CDATA #IMPLIED
    SUMMARY_TEXT CDATA #IMPLIED
    SUMMARY_TYPE CDATA #IMPLIED
>

<!ELEMENT OJB_LOCKENTRY EMPTY>
<!ATTLIST OJB_LOCKENTRY
    OID_ CDATA #REQUIRED
    TX_ID CDATA #REQUIRED
    TIMESTAMP_ CDATA #IMPLIED
    ISOLATIONLEVEL CDATA #IMPLIED
    LOCKTYPE CDATA #IMPLIED
>

<!ELEMENT RESPONSIBLEFOR EMPTY>
<!ATTLIST RESPONSIBLEFOR
    INTERNAL_CODE CDATA #REQUIRED
    KEY_TEACHER CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
>

<!ELEMENT almeida_aluno EMPTY>
<!ATTLIST almeida_aluno
    numero CDATA #REQUIRED
    nome CDATA #IMPLIED
    nascimento CDATA #IMPLIED
    bi CDATA #IMPLIED
    curso CDATA #IMPLIED
    ramo CDATA #IMPLIED
    sexo CDATA #IMPLIED
    nacionalidade CDATA #IMPLIED
    freguesia CDATA #IMPLIED
    concelho CDATA #IMPLIED
    distrito CDATA #IMPLIED
    nomePai CDATA #IMPLIED
    nomeMae CDATA #IMPLIED
    morada CDATA #IMPLIED
    localidadeMorada CDATA #IMPLIED
    cp CDATA #IMPLIED
    localidadeCP CDATA #IMPLIED
    telefone CDATA #IMPLIED
    email CDATA #IMPLIED
>

<!ELEMENT posgrad_situacao EMPTY>
<!ATTLIST posgrad_situacao
    codigoInterno CDATA #REQUIRED
    situacao CDATA #REQUIRED
>

<!ELEMENT SHIFT_STUDENT EMPTY>
<!ATTLIST SHIFT_STUDENT
    ID_INTERNAL CDATA #REQUIRED
    KEY_SHIFT CDATA #REQUIRED
    KEY_STUDENT CDATA #REQUIRED
>

<!ELEMENT CONTRIBUTOR EMPTY>
<!ATTLIST CONTRIBUTOR
    ID_INTERNAL CDATA #REQUIRED
    CONTRIBUTOR_NUMBER CDATA #REQUIRED
    CONTRIBUTOR_NAME CDATA #REQUIRED
    CONTRIBUTOR_ADDRESS CDATA #REQUIRED
>

<!ELEMENT STUDENT_GROUP_ATTEND EMPTY>
<!ATTLIST STUDENT_GROUP_ATTEND
    ID_INTERNAL CDATA #REQUIRED
    KEY_ATTEND CDATA #REQUIRED
    KEY_STUDENT_GROUP CDATA #REQUIRED
>

<!ELEMENT DEGREE_INFO EMPTY>
<!ATTLIST DEGREE_INFO
    ID_INTERNAL CDATA #REQUIRED
    KEY_DEGREE CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    OBJECTIVES CDATA #IMPLIED
    HISTORY CDATA #IMPLIED
    PROFESSIONAL_EXITS CDATA #IMPLIED
    ADDITIONAL_INFO CDATA #IMPLIED
    LINKS CDATA #IMPLIED
    TEST_INGRESSION CDATA #IMPLIED
    DRIFTS_INITIAL CDATA #IMPLIED
    DRIFTS_FIRST CDATA #IMPLIED
    DRIFTS_SECOND CDATA #IMPLIED
    CLASSIFICATIONS CDATA #IMPLIED
    MARK_MIN CDATA #IMPLIED
    MARK_MAX CDATA #IMPLIED
    MARK_AVERAGE CDATA #IMPLIED
    DESCRIPTION_EN CDATA #IMPLIED
    OBJECTIVES_EN CDATA #IMPLIED
    HISTORY_EN CDATA #IMPLIED
    PROFESSIONAL_EXITS_EN CDATA #IMPLIED
    ADDITIONAL_INFO_EN CDATA #IMPLIED
    LINKS_EN CDATA #IMPLIED
    TEST_INGRESSION_EN CDATA #IMPLIED
    CLASSIFICATIONS_EN CDATA #IMPLIED
    LAST_MODIFICATION_DATE CDATA #IMPLIED
>

<!ELEMENT posgrad_pagamento_guia EMPTY>
<!ATTLIST posgrad_pagamento_guia
    codigoInterno CDATA #REQUIRED
    codigoGuia CDATA #REQUIRED
    dataPagamento CDATA #REQUIRED
    montante CDATA #REQUIRED
    numeroPrestacao CDATA #REQUIRED
>

<!ELEMENT posgrad_area_cientifica EMPTY>
<!ATTLIST posgrad_area_cientifica
    codigoInterno CDATA #REQUIRED
    nome CDATA #REQUIRED
    codigoCursoMestrado CDATA #REQUIRED
    anoLectivo CDATA #REQUIRED
>

<!ELEMENT almeida_disc EMPTY>
<!ATTLIST almeida_disc
    codInt CDATA #REQUIRED
    codCur CDATA #IMPLIED
    codRam CDATA #IMPLIED
    anoDis CDATA #IMPLIED
    semDis CDATA #IMPLIED
    codDis CDATA #IMPLIED
    tipo CDATA #IMPLIED
    teo CDATA #IMPLIED
    pra CDATA #IMPLIED
    lab CDATA #IMPLIED
    teoPra CDATA #IMPLIED
    nomeDis CDATA #IMPLIED
>

<!ELEMENT ANNOUNCEMENT EMPTY>
<!ATTLIST ANNOUNCEMENT
    ID_INTERNAL CDATA #REQUIRED
    TITLE CDATA #IMPLIED
    CREATION_DATE CDATA #IMPLIED
    LAST_MODIFICATION_DATE CDATA #IMPLIED
    INFORMATION CDATA #IMPLIED
    KEY_SITE CDATA #REQUIRED
>

<!ELEMENT EXAM_ROOM EMPTY>
<!ATTLIST EXAM_ROOM
    ID_INTERNAL CDATA #REQUIRED
    KEY_EVALUATION CDATA #REQUIRED
    KEY_ROOM CDATA #REQUIRED
>

<!ELEMENT DISTRIBUTED_TESTS EMPTY>
<!ATTLIST DISTRIBUTED_TESTS
    ID_INTERNAL CDATA #REQUIRED
    TITLE CDATA #REQUIRED
    TEST_INFORMATION CDATA #IMPLIED
    TEST_BEGIN_DATE CDATA #IMPLIED
    TEST_BEGIN_HOUR CDATA #IMPLIED
    TEST_END_DATE CDATA #IMPLIED
    TEST_END_HOUR CDATA #IMPLIED
    TEST_TYPE CDATA #REQUIRED
    CORRECTION_AVAILABILITY CDATA #REQUIRED
    STUDENT_FEEDBACK CDATA #REQUIRED
    NUMBER_OF_QUESTIONS CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
>

<!ELEMENT COURSE_REPORT EMPTY>
<!ATTLIST COURSE_REPORT
    ID_INTERNAL CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
    REPORT CDATA #IMPLIED
>

<!ELEMENT posgrad_guia_tabela EMPTY>
<!ATTLIST posgrad_guia_tabela
    codigoInterno CDATA #REQUIRED
    codigoGuia CDATA #REQUIRED
    codigoTabela CDATA #REQUIRED
>

<!ELEMENT ADVISORY EMPTY>
<!ATTLIST ADVISORY
    ID_INTERNAL CDATA #REQUIRED
    SENDER CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    SUBJECT CDATA #REQUIRED
    MESSAGE CDATA #REQUIRED
    EXPIRES CDATA #REQUIRED
    ONLY_SHOW_ONCE CDATA #REQUIRED
>

<!ELEMENT ass_PARAM_JUSTIFICACAO EMPTY>
<!ATTLIST ass_PARAM_JUSTIFICACAO
    codigoInterno CDATA #REQUIRED
    sigla CDATA #REQUIRED
    descricao CDATA #REQUIRED
    tipo CDATA #REQUIRED
    tipoDias CDATA #REQUIRED
    grupo CDATA #IMPLIED
    quem CDATA #REQUIRED
    quando CDATA #REQUIRED
>

<!ELEMENT EXECUTION_YEAR EMPTY>
<!ATTLIST EXECUTION_YEAR
    ID_INTERNAL CDATA #REQUIRED
    YEAR CDATA #REQUIRED
    STATE CDATA #REQUIRED
    BEGIN_DATE CDATA #REQUIRED
    END_DATE CDATA #REQUIRED
>

<!ELEMENT conversaoLocalDistrito EMPTY>
<!ATTLIST conversaoLocalDistrito
    localidade CDATA #IMPLIED
    distrito CDATA #IMPLIED
>

<!ELEMENT MASTER_DEGREE_THESIS EMPTY>
<!ATTLIST MASTER_DEGREE_THESIS
    ID_INTERNAL CDATA #REQUIRED
    KEY_STUDENT_CURRICULAR_PLAN CDATA #REQUIRED
>

<!ELEMENT almeida_nacionalidade EMPTY>
<!ATTLIST almeida_nacionalidade
    numero CDATA #REQUIRED
    nome CDATA #IMPLIED
>

<!ELEMENT Concelho EMPTY>
<!ATTLIST Concelho
    Chave CDATA #REQUIRED
    chaveDistrito CDATA #REQUIRED
    Designacao CDATA #REQUIRED
>

<!ELEMENT SEMINARY_CANDIDACY EMPTY>
<!ATTLIST SEMINARY_CANDIDACY
    id_internal CDATA #REQUIRED
    student_id_internal CDATA #REQUIRED
    curricular_course_id_internal CDATA #REQUIRED
    seminary_id_internal CDATA #REQUIRED
    seminary_theme_id_internal CDATA #IMPLIED
    seminary_modality_id_internal CDATA #REQUIRED
    motivation CDATA #REQUIRED
>

<!ELEMENT ass_CENTRO_CUSTO EMPTY>
<!ATTLIST ass_CENTRO_CUSTO
    codigoInterno CDATA #REQUIRED
    sigla CDATA #REQUIRED
    departamento CDATA #IMPLIED
    seccao1 CDATA #IMPLIED
    seccao2 CDATA #IMPLIED
>

<!ELEMENT ass_HORARIO EMPTY>
<!ATTLIST ass_HORARIO
    codigoInterno CDATA #REQUIRED
    chaveHorarioTipo CDATA #REQUIRED
    chaveFuncionario CDATA #REQUIRED
    sigla CDATA #IMPLIED
    modalidade CDATA #IMPLIED
    duracaoSemanal CDATA #IMPLIED
    inicioPF1 CDATA #IMPLIED
    fimPF1 CDATA #IMPLIED
    inicioPF2 CDATA #IMPLIED
    fimPF2 CDATA #IMPLIED
    inicioHN1 CDATA #IMPLIED
    fimHN1 CDATA #IMPLIED
    inicioHN2 CDATA #IMPLIED
    fimHN2 CDATA #IMPLIED
    inicioRefeicao CDATA #IMPLIED
    fimRefeicao CDATA #IMPLIED
    descontoObrigatorio CDATA #IMPLIED
    descontoMinimo CDATA #IMPLIED
    inicioExpediente CDATA #IMPLIED
    fimExpediente CDATA #IMPLIED
    dataInicio CDATA #REQUIRED
    dataFim CDATA #IMPLIED
    numDias CDATA #IMPLIED
    posicao CDATA #IMPLIED
    trabalhoConsecutivo CDATA #IMPLIED
    quem CDATA #REQUIRED
    quando CDATA #REQUIRED
>

<!ELEMENT MASTER_DEGREE_THESIS_DATA_VERSION_EXTERNAL_ASSISTENT_GUIDER EMPTY>
<!ATTLIST MASTER_DEGREE_THESIS_DATA_VERSION_EXTERNAL_ASSISTENT_GUIDER
    ID_INTERNAL CDATA #REQUIRED
    KEY_MASTER_DEGREE_THESIS_DATA_VERSION CDATA #REQUIRED
    KEY_EXTERNAL_PERSON CDATA #REQUIRED
>

<!ELEMENT posgrad_tabela_precos EMPTY>
<!ATTLIST posgrad_tabela_precos
    codigoInterno CDATA #REQUIRED
    tipo CDATA #REQUIRED
    designacao CDATA #REQUIRED
    montante CDATA #REQUIRED
    valido CDATA #REQUIRED
>

<!ELEMENT ass_FERIAS EMPTY>
<!ATTLIST ass_FERIAS
    codigoInterno CDATA #REQUIRED
    chaveFuncionario CDATA #REQUIRED
    anoCorrente CDATA #REQUIRED
    diasNormais CDATA #REQUIRED
    diasEpocaBaixa CDATA #REQUIRED
    diasHorasExtras CDATA #REQUIRED
    diasAntiguidade CDATA #REQUIRED
    diasMeioDia CDATA #REQUIRED
    diasDispensaServico CDATA #REQUIRED
    diasTolerancia CDATA #REQUIRED
    diasTransferidos CDATA #REQUIRED
    diasTransHorasExtras CDATA #REQUIRED
    diasTransAntiguidade CDATA #REQUIRED
>

<!ELEMENT CREDITS EMPTY>
<!ATTLIST CREDITS
    ID_INTERNAL CDATA #REQUIRED
    KEY_EXECUTION_PERIOD CDATA #REQUIRED
    KEY_TEACHER CDATA #REQUIRED
    TFC_STUDENTS_NUMBER CDATA #REQUIRED
    CREDITS CDATA #IMPLIED
    ADDITIONAL_CREDITS CDATA #IMPLIED
    ADDITIONAL_CREDITS_JUSTIFICATION CDATA #IMPLIED
>

<!ELEMENT MASTER_DEGREE_THESIS_DATA_VERSION_GUIDER EMPTY>
<!ATTLIST MASTER_DEGREE_THESIS_DATA_VERSION_GUIDER
    ID_INTERNAL CDATA #REQUIRED
    KEY_MASTER_DEGREE_THESIS_DATA_VERSION CDATA #REQUIRED
    KEY_TEACHER CDATA #REQUIRED
>

<!ELEMENT ass_HORARIO_REGIME EMPTY>
<!ATTLIST ass_HORARIO_REGIME
    chaveHorario CDATA #REQUIRED
    chaveRegime CDATA #REQUIRED
>

<!ELEMENT EVALUATION_METHOD EMPTY>
<!ATTLIST EVALUATION_METHOD
    ID_INTERNAL CDATA #REQUIRED
    KEY_CURRICULAR_COURSE CDATA #REQUIRED
    EVALUATION_ELEMENTS CDATA #IMPLIED
    EVALUATION_ELEMENTS_EN CDATA #IMPLIED
>

<!ELEMENT posgrad_cargo EMPTY>
<!ATTLIST posgrad_cargo
    codigoInterno CDATA #REQUIRED
    cargoNome CDATA #REQUIRED
>

<!ELEMENT SEMINARY_MODALITY EMPTY>
<!ATTLIST SEMINARY_MODALITY
    id_internal CDATA #REQUIRED
    name CDATA #REQUIRED
    description CDATA #IMPLIED
>

<!ELEMENT ass_REGIME EMPTY>
<!ATTLIST ass_REGIME
    codigoInterno CDATA #REQUIRED
    designacao CDATA #REQUIRED
>

<!ELEMENT TEACHER_SHIFT_PERCENTAGE EMPTY>
<!ATTLIST TEACHER_SHIFT_PERCENTAGE
    ID_INTERNAL CDATA #REQUIRED
    KEY_PROFESSOR_SHIP CDATA #REQUIRED
    KEY_SHIFT CDATA #REQUIRED
    PERCENTAGE CDATA #REQUIRED
>

<!ELEMENT ass_MODALIDADE EMPTY>
<!ATTLIST ass_MODALIDADE
    codigoInterno CDATA #REQUIRED
    designacao CDATA #REQUIRED
>

<!ELEMENT ass_CARGO EMPTY>
<!ATTLIST ass_CARGO
    chaveCargo CDATA #REQUIRED
    cargo CDATA #REQUIRED
>

<!ELEMENT TEACHER EMPTY>
<!ATTLIST TEACHER
    ID_INTERNAL CDATA #REQUIRED
    TEACHER_NUMBER CDATA #IMPLIED
    KEY_PERSON CDATA #REQUIRED
    KEY_CATEGORY CDATA #IMPLIED
>

<!ELEMENT PERSON_ROLE EMPTY>
<!ATTLIST PERSON_ROLE
    ID_INTERNAL CDATA #REQUIRED
    KEY_ROLE CDATA #REQUIRED
    KEY_PERSON CDATA #REQUIRED
>

<!ELEMENT SUPPORT_LESSONS_TIMETABLE EMPTY>
<!ATTLIST SUPPORT_LESSONS_TIMETABLE
    ID_INTERNAL CDATA #REQUIRED
    WEEKDAY CDATA #REQUIRED
    START_TIME CDATA #REQUIRED
    END_TIME CDATA #REQUIRED
    PLACE CDATA #REQUIRED
    KEY_TEACHER CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
>

<!ELEMENT Distrito EMPTY>
<!ATTLIST Distrito
    Chave CDATA #REQUIRED
    Designacao CDATA #REQUIRED
>

<!ELEMENT BIBLIOGRAPHIC_REFERENCE EMPTY>
<!ATTLIST BIBLIOGRAPHIC_REFERENCE
    ID_INTERNAL CDATA #REQUIRED
    TITLE CDATA #REQUIRED
    AUTHORS CDATA #REQUIRED
    REFERENCE CDATA #REQUIRED
    YEAR CDATA #REQUIRED
    OPTIONAL CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
>

<!ELEMENT EXAM_STUDENT EMPTY>
<!ATTLIST EXAM_STUDENT
    ID_INTERNAL CDATA #REQUIRED
    KEY_EVALUATION CDATA #REQUIRED
    KEY_STUDENT CDATA #REQUIRED
>

<!ELEMENT posgrad_guia EMPTY>
<!ATTLIST posgrad_guia
    codigoInterno CDATA #REQUIRED
    numeroGuia CDATA #REQUIRED
    dataEmissao CDATA #REQUIRED
    anoGuia CDATA #REQUIRED
    situacao CDATA #REQUIRED
    entidadeContribuinte CDATA #REQUIRED
    entidadeNome CDATA #REQUIRED
    entidadeMorada CDATA #REQUIRED
    numeroAluno CDATA #REQUIRED
    tipoAluno CDATA #REQUIRED
    codigoCursoMestrado CDATA #REQUIRED
    total CDATA #REQUIRED
    observacoes CDATA #IMPLIED
>

<!ELEMENT TESTS EMPTY>
<!ATTLIST TESTS
    ID_INTERNAL CDATA #REQUIRED
    TITLE CDATA #REQUIRED
    INFORMATION CDATA #IMPLIED
    NUMBER_OF_QUESTIONS CDATA #REQUIRED
    CREATION_DATE CDATA #IMPLIED
    LAST_MODIFICATION_DATE CDATA #IMPLIED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
>

<!ELEMENT OJB_HL_SEQ EMPTY>
<!ATTLIST OJB_HL_SEQ
    TABLENAME CDATA #REQUIRED
    FIELDNAME CDATA #REQUIRED
    MAX_KEY CDATA #IMPLIED
    GRAB_SIZE CDATA #IMPLIED
>

<!ELEMENT almeida_curram EMPTY>
<!ATTLIST almeida_curram
    codInt CDATA #REQUIRED
    codCur CDATA #IMPLIED
    codRam CDATA #IMPLIED
    codOrien CDATA #IMPLIED
    descri CDATA #IMPLIED
>

<!ELEMENT MASTER_DEGREE_THESIS_DATA_VERSION_ASSISTENT_GUIDER EMPTY>
<!ATTLIST MASTER_DEGREE_THESIS_DATA_VERSION_ASSISTENT_GUIDER
    ID_INTERNAL CDATA #REQUIRED
    KEY_MASTER_DEGREE_THESIS_DATA_VERSION CDATA #REQUIRED
    KEY_TEACHER CDATA #REQUIRED
>

<!ELEMENT OJB_SEQ EMPTY>
<!ATTLIST OJB_SEQ
    TABLENAME CDATA #REQUIRED
    FIELDNAME CDATA #REQUIRED
    LAST_NUM CDATA #IMPLIED
>

<!ELEMENT DEPARTMENT EMPTY>
<!ATTLIST DEPARTMENT
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #REQUIRED
    CODE CDATA #REQUIRED
>

<!ELEMENT QUALIFICATION EMPTY>
<!ATTLIST QUALIFICATION
    ID_INTERNAL CDATA #REQUIRED
    KEY_PERSON CDATA #REQUIRED
    YEAR CDATA #IMPLIED
    MARK CDATA #IMPLIED
    SCHOOL CDATA #IMPLIED
    TITLE CDATA #IMPLIED
>

<!ELEMENT SITE EMPTY>
<!ATTLIST SITE
    ID_INTERNAL CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
    KEY_INITIAL_SECTION CDATA #IMPLIED
    ALTERNATIVE_SITE CDATA #IMPLIED
    MAIL CDATA #IMPLIED
    INITIAL_STATEMENT CDATA #IMPLIED
    INTRODUCTION CDATA #IMPLIED
    STYLE CDATA #IMPLIED
>

<!ELEMENT SHIFT EMPTY>
<!ATTLIST SHIFT
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
    TYPE CDATA #REQUIRED
    CAPACITY CDATA #REQUIRED
    AVAILLABILITY_FINAL CDATA #IMPLIED
>

<!ELEMENT CANDIDATE_SITUATION EMPTY>
<!ATTLIST CANDIDATE_SITUATION
    ID_INTERNAL CDATA #REQUIRED
    DATE CDATA #REQUIRED
    REMARKS CDATA #IMPLIED
    VALIDATION CDATA #REQUIRED
    CANDIDATE_KEY CDATA #REQUIRED
    SITUATION CDATA #REQUIRED
>

<!ELEMENT Freguesia EMPTY>
<!ATTLIST Freguesia
    Chave CDATA #REQUIRED
    chaveDistrito CDATA #REQUIRED
    chaveConcelho CDATA #REQUIRED
    Designacao CDATA #REQUIRED
>

<!ELEMENT CLASS_SHIFT EMPTY>
<!ATTLIST CLASS_SHIFT
    ID_INTERNAL CDATA #REQUIRED
    KEY_CLASS CDATA #REQUIRED
    KEY_SHIFT CDATA #REQUIRED
>

<!ELEMENT almeida_inscricoes EMPTY>
<!ATTLIST almeida_inscricoes
    codInt CDATA #REQUIRED
    numero CDATA #IMPLIED
    ano CDATA #IMPLIED
    semestre CDATA #IMPLIED
    codDis CDATA #IMPLIED
    anoInscricao CDATA #IMPLIED
    curso CDATA #IMPLIED
    ramo CDATA #IMPLIED
>

<!ELEMENT SHIFT_LESSON EMPTY>
<!ATTLIST SHIFT_LESSON
    ID_INTERNAL CDATA #REQUIRED
    KEY_SHIFT CDATA #REQUIRED
    KEY_LESSON CDATA #REQUIRED
>

<!ELEMENT BRANCH EMPTY>
<!ATTLIST BRANCH
    ID_INTERNAL CDATA #REQUIRED
    BRANCH_CODE CDATA #REQUIRED
    BRANCH_NAME CDATA #REQUIRED
    KEY_DEGREE_CURRICULAR_PLAN CDATA #REQUIRED
>

<!ELEMENT ass_CARTAO EMPTY>
<!ATTLIST ass_CARTAO
    codigoInterno CDATA #REQUIRED
    numCartao CDATA #REQUIRED
    chaveFuncionario CDATA #REQUIRED
    dataInicio CDATA #REQUIRED
    dataFim CDATA #IMPLIED
    quem CDATA #REQUIRED
    quando CDATA #REQUIRED
    estado CDATA #REQUIRED
>

<!ELEMENT CURRICULAR_SEMESTER EMPTY>
<!ATTLIST CURRICULAR_SEMESTER
    ID_INTERNAL CDATA #REQUIRED
    KEY_CURRICULAR_YEAR CDATA #REQUIRED
    SEMESTER CDATA #REQUIRED
>

<!ELEMENT CURRICULAR_COURSE_SCOPE EMPTY>
<!ATTLIST CURRICULAR_COURSE_SCOPE
    ID_INTERNAL CDATA #REQUIRED
    KEY_CURRICULAR_SEMESTER CDATA #REQUIRED
    KEY_CURRICULAR_COURSE CDATA #REQUIRED
    KEY_BRANCH CDATA #REQUIRED
    THEORETICAL_HOURS CDATA #IMPLIED
    PRATICAL_HOURS CDATA #IMPLIED
    THEO_PRAT_HOURS CDATA #IMPLIED
    LAB_HOURS CDATA #IMPLIED
    MAX_INCREMENT_NAC CDATA #REQUIRED
    MIN_INCREMENT_NAC CDATA #REQUIRED
    WEIGTH CDATA #REQUIRED
    CREDITS CDATA #IMPLIED
    ECTS_CREDITS CDATA #IMPLIED
    BEGIN_DATE CDATA #REQUIRED
    END_DATE CDATA #IMPLIED
>

<!ELEMENT PRICE EMPTY>
<!ATTLIST PRICE
    ID_INTERNAL CDATA #REQUIRED
    GRADUATION_TYPE CDATA #REQUIRED
    DOCUMENT_TYPE CDATA #REQUIRED
    DESCRIPTION CDATA #REQUIRED
    PRICE CDATA #REQUIRED
>

<!ELEMENT ass_FUNCIONARIO_HISTORICO EMPTY>
<!ATTLIST ass_FUNCIONARIO_HISTORICO
    codigoInterno CDATA #REQUIRED
    chaveFuncionario CDATA #REQUIRED
    chaveFuncResponsavel CDATA #IMPLIED
    chaveCCLocalTrabalho CDATA #IMPLIED
    chaveCCCorrespondencia CDATA #IMPLIED
    chaveCCVencimento CDATA #IMPLIED
    calendario CDATA #IMPLIED
    chaveStatus CDATA #IMPLIED
    dataInicio CDATA #REQUIRED
    dataFim CDATA #IMPLIED
    quem CDATA #REQUIRED
    quando CDATA #REQUIRED
>

<!ELEMENT MASTER_DEGREE_CANDIDATE EMPTY>
<!ATTLIST MASTER_DEGREE_CANDIDATE
    ID_INTERNAL CDATA #REQUIRED
    PERSON_KEY CDATA #REQUIRED
    EXECUTION_DEGREE_KEY CDATA #REQUIRED
    CANDIDATE_NUMBER CDATA #IMPLIED
    SPECIALIZATION CDATA #REQUIRED
    MAJOR_DEGREE CDATA #IMPLIED
    MAJOR_DEGREE_SCHOOL CDATA #IMPLIED
    MAJOR_DEGREE_YEAR CDATA #IMPLIED
    AVERAGE CDATA #IMPLIED
    SPECIALIZATION_AREA CDATA #IMPLIED
    SUBSTITUTE_ORDER CDATA #IMPLIED
    GIVEN_CREDITS CDATA #IMPLIED
    GIVEN_CREDITS_REMARKS CDATA #IMPLIED
>

<!ELEMENT CURRICULAR_COURSE_EQUIVALENCE_RESTRICTION EMPTY>
<!ATTLIST CURRICULAR_COURSE_EQUIVALENCE_RESTRICTION
    ID_INTERNAL CDATA #REQUIRED
    KEY_CURRICULAR_COURSE_EQUIVALENCE CDATA #REQUIRED
    KEY_EQUIVALENT_CURRICULAR_COURSE CDATA #REQUIRED
    YEAR_OF_EQUIVALENCE CDATA #REQUIRED
>

<!ELEMENT posgrad_candidato_mestrado EMPTY>
<!ATTLIST posgrad_candidato_mestrado
    codigoInterno CDATA #REQUIRED
    numeroDocumentoIdentificacao CDATA #IMPLIED
    tipoDocumentoIdentificacao CDATA #IMPLIED
    localEmissaoDocumentoIdentificacao CDATA #IMPLIED
    dataEmissaoDocumentoIdentificacao CDATA #IMPLIED
    nome CDATA #IMPLIED
    sexo CDATA #IMPLIED
    estadoCivil CDATA #IMPLIED
    nascimento CDATA #IMPLIED
    nomePai CDATA #IMPLIED
    nomeMae CDATA #IMPLIED
    nacionalidade CDATA #IMPLIED
    freguesiaNaturalidade CDATA #IMPLIED
    concelhoNaturalidade CDATA #IMPLIED
    distritoNaturalidade CDATA #IMPLIED
    morada CDATA #IMPLIED
    localidade CDATA #IMPLIED
    codigoPostal CDATA #IMPLIED
    freguesiaMorada CDATA #IMPLIED
    concelhoMorada CDATA #IMPLIED
    distritoMorada CDATA #IMPLIED
    telefone CDATA #IMPLIED
    telemovel CDATA #IMPLIED
    email CDATA #IMPLIED
    enderecoWeb CDATA #IMPLIED
    numContribuinte CDATA #IMPLIED
    profissao CDATA #IMPLIED
    licenciatura CDATA #IMPLIED
    username CDATA #IMPLIED
    password CDATA #IMPLIED
    codigoCursoMestrado CDATA #IMPLIED
    numeroCandidato CDATA #IMPLIED
    anoCandidatura CDATA #IMPLIED
    especializacao CDATA #IMPLIED
    escolaLicenciatura CDATA #IMPLIED
    anoLicenciatura CDATA #IMPLIED
    media CDATA #IMPLIED
>

<!ELEMENT ass_PARAM_REGULARIZACAO EMPTY>
<!ATTLIST ass_PARAM_REGULARIZACAO
    codigoInterno CDATA #REQUIRED
    sigla CDATA #REQUIRED
    descricao CDATA #REQUIRED
    quem CDATA #REQUIRED
    quando CDATA #REQUIRED
>

<!ELEMENT EXECUTION_PERIOD EMPTY>
<!ATTLIST EXECUTION_PERIOD
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #REQUIRED
    KEY_EXECUTION_YEAR CDATA #REQUIRED
    STATE CDATA #REQUIRED
    SEMESTER CDATA #REQUIRED
    BEGIN_DATE CDATA #REQUIRED
    END_DATE CDATA #REQUIRED
>

<!ELEMENT ass_FERIADO EMPTY>
<!ATTLIST ass_FERIADO
    codigoInterno CDATA #REQUIRED
    tipoFeriado CDATA #REQUIRED
    descricao CDATA #IMPLIED
    data CDATA #IMPLIED
>

<!ELEMENT Abreviaturas EMPTY>
<!ATTLIST Abreviaturas
    abrv CDATA #IMPLIED
    expansao CDATA #IMPLIED
>

<!ELEMENT OJB_DSET_ENTRIES EMPTY>
<!ATTLIST OJB_DSET_ENTRIES
    ID CDATA #REQUIRED
    DLIST_ID CDATA #REQUIRED
    POSITION_ CDATA #IMPLIED
    OID_ CDATA #IMPLIED
>

<!ELEMENT PRECEDENCE EMPTY>
<!ATTLIST PRECEDENCE
    ID_INTERNAL CDATA #REQUIRED
    KEY_CURRICULAR_COURSE CDATA #REQUIRED
    SCOPE_TO_APPLY CDATA #REQUIRED
>

<!ELEMENT OJB_DLIST_ENTRIES EMPTY>
<!ATTLIST OJB_DLIST_ENTRIES
    ID CDATA #REQUIRED
    DLIST_ID CDATA #REQUIRED
    POSITION_ CDATA #IMPLIED
    OID_ CDATA #IMPLIED
>

<!ELEMENT SECTION EMPTY>
<!ATTLIST SECTION
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #IMPLIED
    SECTION_ORDER CDATA #IMPLIED
    KEY_SITE CDATA #REQUIRED
    KEY_SUPERIOR_SECTION CDATA #IMPLIED
    LAST_MODIFIED_DATE CDATA #IMPLIED
>

<!ELEMENT STUDENT_TEST_LOG EMPTY>
<!ATTLIST STUDENT_TEST_LOG
    ID_INTERNAL CDATA #REQUIRED
    KEY_STUDENT CDATA #REQUIRED
    KEY_DISTRIBUTED_TEST CDATA #REQUIRED
    DATE CDATA #IMPLIED
    EVENT CDATA #IMPLIED
>

<!ELEMENT MARK EMPTY>
<!ATTLIST MARK
    ID_INTERNAL CDATA #REQUIRED
    MARK CDATA #IMPLIED
    PUBLISHED_MARK CDATA #IMPLIED
    KEY_EVALUATION CDATA #REQUIRED
    KEY_ATTEND CDATA #REQUIRED
>

<!ELEMENT EXAM_STUDENT_ROOM EMPTY>
<!ATTLIST EXAM_STUDENT_ROOM
    ID_INTERNAL CDATA #REQUIRED
    KEY_EVALUATION CDATA #REQUIRED
    KEY_STUDENT CDATA #REQUIRED
    KEY_ROOM CDATA #IMPLIED
>

<!ELEMENT STUDENT_TEST_QUESTION EMPTY>
<!ATTLIST STUDENT_TEST_QUESTION
    ID_INTERNAL CDATA #REQUIRED
    KEY_STUDENT CDATA #REQUIRED
    KEY_DISTRIBUTED_TEST CDATA #REQUIRED
    KEY_XML_DOCUMENT CDATA #REQUIRED
    TEST_QUESTION_ORDER CDATA #REQUIRED
    TEST_QUESTION_VALUE CDATA #REQUIRED
    TEST_QUESTION_MARK CDATA #REQUIRED
    RESPONSE CDATA #REQUIRED
    OPTION_SHUFFLE CDATA #IMPLIED
>

<!ELEMENT posgrad_disc_area EMPTY>
<!ATTLIST posgrad_disc_area
    codigoInterno CDATA #REQUIRED
    codigoAreaCientifica CDATA #REQUIRED
    codigoDisciplina CDATA #REQUIRED
    anoLectivo CDATA #REQUIRED
>

<!ELEMENT paisExpansao EMPTY>
<!ATTLIST paisExpansao
    descr1 CDATA #REQUIRED
    descr2 CDATA #REQUIRED
>

<!ELEMENT CURRICULAR_COURSE_EQUIVALENCE EMPTY>
<!ATTLIST CURRICULAR_COURSE_EQUIVALENCE
    ID_INTERNAL CDATA #REQUIRED
    KEY_CURRICULAR_COURSE CDATA #REQUIRED
>

<!ELEMENT OJB_DSET EMPTY>
<!ATTLIST OJB_DSET
    ID CDATA #REQUIRED
    SIZE_ CDATA #IMPLIED
>

<!ELEMENT ass_FUNCIONARIO EMPTY>
<!ATTLIST ass_FUNCIONARIO
    codigoInterno CDATA #REQUIRED
    chavePessoa CDATA #REQUIRED
    numeroMecanografico CDATA #REQUIRED
    chaveHorarioActual CDATA #REQUIRED
    antiguidade CDATA #REQUIRED
>

<!ELEMENT ENROLMENT_EVALUATION EMPTY>
<!ATTLIST ENROLMENT_EVALUATION
    ID_INTERNAL CDATA #REQUIRED
    GRADE CDATA #IMPLIED
    EVALUATION_TYPE CDATA #REQUIRED
    EXAM_DATE CDATA #IMPLIED
    GRADE_AVAILABLE_DATE CDATA #IMPLIED
    RESPONSIBLE_PERSON CDATA #IMPLIED
    STATE CDATA #REQUIRED
    KEY_ENROLMENT CDATA #REQUIRED
    WHEN_ALTER CDATA #IMPLIED
    CHECKSUM CDATA #IMPLIED
    KEY_EMPLOYEE CDATA #IMPLIED
    OBSERVATION CDATA #IMPLIED
>

<!ELEMENT OJB_DMAP_ENTRIES EMPTY>
<!ATTLIST OJB_DMAP_ENTRIES
    ID CDATA #REQUIRED
    DMAP_ID CDATA #REQUIRED
    KEY_OID CDATA #IMPLIED
    VALUE_OID CDATA #IMPLIED
>

<!ELEMENT PaisNaturalidade EMPTY>
<!ATTLIST PaisNaturalidade
    Cod CDATA #REQUIRED
    Origem CDATA #REQUIRED
>

<!ELEMENT EQUIVALENCY_THEME EMPTY>
<!ATTLIST EQUIVALENCY_THEME
    theme_id CDATA #REQUIRED
    equivalency_id CDATA #REQUIRED
>

<!ELEMENT DEGREE EMPTY>
<!ATTLIST DEGREE
    ID_INTERNAL CDATA #REQUIRED
    CODE CDATA #REQUIRED
    NAME CDATA #REQUIRED
    TYPE_DEGREE CDATA #REQUIRED
>

<!ELEMENT PERSON EMPTY>
<!ATTLIST PERSON
    ID_INTERNAL CDATA #REQUIRED
    DOCUMENT_ID_NUMBER CDATA #REQUIRED
    EMISSION_LOCATION_OF_DOCUMENT_ID CDATA #IMPLIED
    EMISSION_DATE_OF_DOCUMENT_ID CDATA #IMPLIED
    EXPERATION_DATE_OF_DOCUMENT_ID CDATA #IMPLIED
    NAME CDATA #IMPLIED
    DATE_OF_BIRTH CDATA #IMPLIED
    NAME_OF_FATHER CDATA #IMPLIED
    NAME_OF_MOTHER CDATA #IMPLIED
    NATIONALITY CDATA #IMPLIED
    PARISH_OF_BIRTH CDATA #IMPLIED
    DISTRICT_SUBDIVISION_OF_BIRTH CDATA #IMPLIED
    DISTRICT_OF_BIRTH CDATA #IMPLIED
    ADDRESS CDATA #IMPLIED
    AREA CDATA #IMPLIED
    AREA_CODE CDATA #IMPLIED
    AREA_OF_AREA_CODE CDATA #IMPLIED
    PARISH_OF_RESIDENCE CDATA #IMPLIED
    DISTRICT_SUBDIVISION_OF_RESIDENCE CDATA #IMPLIED
    DISTRICT_OF_RESIDENCE CDATA #IMPLIED
    PHONE CDATA #IMPLIED
    MOBILE CDATA #IMPLIED
    EMAIL CDATA #IMPLIED
    WEB_ADRDRESS CDATA #IMPLIED
    SOCIAL_SECURITY_NUMBER CDATA #IMPLIED
    PROFESSION CDATA #IMPLIED
    USERNAME CDATA #REQUIRED
    PASSWD CDATA #IMPLIED
    KEY_COUNTRY CDATA #IMPLIED
    FISCAL_CODE CDATA #IMPLIED
    TYPE_ID_DOCUMENT CDATA #REQUIRED
    SEX CDATA #IMPLIED
    MARITAL_STATUS CDATA #IMPLIED
>

<!ELEMENT DEGREE_OBJECTIVES EMPTY>
<!ATTLIST DEGREE_OBJECTIVES
    ID_INTERNAL CDATA #REQUIRED
    KEY_DEGREE CDATA #REQUIRED
    GENERAL_OBJECTIVES CDATA #IMPLIED
    OPERACIONAL_OBJECTIVES CDATA #IMPLIED
    STARTING_DATE CDATA #IMPLIED
    END_DATE CDATA #IMPLIED
>

<!ELEMENT ATTEND EMPTY>
<!ATTLIST ATTEND
    ID_INTERNAL CDATA #REQUIRED
    KEY_STUDENT CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
    KEY_ENROLMENT CDATA #IMPLIED
>

<!ELEMENT PROFESSORSHIPS EMPTY>
<!ATTLIST PROFESSORSHIPS
    INTERNAL_CODE CDATA #REQUIRED
    KEY_TEACHER CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
>

<!ELEMENT posgrad_disc_area_aluno EMPTY>
<!ATTLIST posgrad_disc_area_aluno
    codigoInterno CDATA #REQUIRED
    codigoAluno CDATA #REQUIRED
    codigoAreaDisciplina CDATA #REQUIRED
    dataExame CDATA #IMPLIED
    dataLancamento CDATA #IMPLIED
    nota CDATA #IMPLIED
    equivalencia CDATA #IMPLIED
    creditos CDATA #IMPLIED
>

<!ELEMENT CANDIDATE_ENROLMENT EMPTY>
<!ATTLIST CANDIDATE_ENROLMENT
    ID_INTERNAL CDATA #REQUIRED
    KEY_MASTER_DEGREE_CANDIDATE CDATA #REQUIRED
    KEY_CURRICULAR_COURSE_SCOPE CDATA #REQUIRED
>

<!ELEMENT MASTER_DEGREE_PROOF_VERSION EMPTY>
<!ATTLIST MASTER_DEGREE_PROOF_VERSION
    ID_INTERNAL CDATA #REQUIRED
    KEY_MASTER_DEGREE_THESIS CDATA #REQUIRED
    KEY_EMPLOYEE CDATA #REQUIRED
    PROOF_DATE CDATA #IMPLIED
    THESIS_DELIVERY_DATE CDATA #IMPLIED
    FINAL_RESULT CDATA #REQUIRED
    ATTACHED_COPIES_NUMBER CDATA #IMPLIED
    LAST_MODIFICATION CDATA #IMPLIED
    CURRENT_STATE CDATA #REQUIRED
>

<!ELEMENT GUIDE_SITUATION EMPTY>
<!ATTLIST GUIDE_SITUATION
    ID_INTERNAL CDATA #REQUIRED
    KEY_GUIDE CDATA #REQUIRED
    SITUATION CDATA #REQUIRED
    DATE CDATA #REQUIRED
    REMARKS CDATA #IMPLIED
    STATE CDATA #REQUIRED
>

<!ELEMENT LESSON EMPTY>
<!ATTLIST LESSON
    ID_INTERNAL CDATA #REQUIRED
    WEEKDAY CDATA #REQUIRED
    START_TIME CDATA #REQUIRED
    END_TIME CDATA #REQUIRED
    KEY_ROOM CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
    TYPE CDATA #REQUIRED
    KEY_EXECUTION_PERIOD CDATA #REQUIRED
>

<!ELEMENT CURRICULAR_COURSE_EXECUTION_COURSE EMPTY>
<!ATTLIST CURRICULAR_COURSE_EXECUTION_COURSE
    INTERNAL_CODE CDATA #REQUIRED
    KEY_CURRICULAR_COURSE CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
>

<!ELEMENT ass_JUSTIFICACAO EMPTY>
<!ATTLIST ass_JUSTIFICACAO
    codigoInterno CDATA #REQUIRED
    chaveParamJustificacao CDATA #REQUIRED
    chaveFuncionario CDATA #REQUIRED
    diaInicio CDATA #REQUIRED
    horaInicio CDATA #IMPLIED
    diaFim CDATA #IMPLIED
    horaFim CDATA #IMPLIED
    observacao CDATA #IMPLIED
    quem CDATA #REQUIRED
    quando CDATA #REQUIRED
>

<!ELEMENT ass_UNIDADE_MARCACAO EMPTY>
<!ATTLIST ass_UNIDADE_MARCACAO
    codigoInterno CDATA #REQUIRED
    sigla CDATA #REQUIRED
    descricao CDATA #REQUIRED
    id CDATA #REQUIRED
>

<!ELEMENT XML_DOCUMENTS EMPTY>
<!ATTLIST XML_DOCUMENTS
    ID_INTERNAL CDATA #REQUIRED
    XML_FILE CDATA #REQUIRED
    XML_FILE_NAME CDATA #REQUIRED
    KEY_METADATA CDATA #REQUIRED
    VISIBILITY CDATA #REQUIRED
>

<!ELEMENT ENROLMENT_EQUIVALENCE EMPTY>
<!ATTLIST ENROLMENT_EQUIVALENCE
    ID_INTERNAL CDATA #REQUIRED
    KEY_ENROLMENT CDATA #REQUIRED
>

<!ELEMENT SEMINARY_CURRICULARCOURSE EMPTY>
<!ATTLIST SEMINARY_CURRICULARCOURSE
    id_internal CDATA #REQUIRED
    seminary_id_internal CDATA #REQUIRED
    curricular_course_id_internal CDATA #REQUIRED
    modality_id_internal CDATA #REQUIRED
>

<!ELEMENT GRATUITY EMPTY>
<!ATTLIST GRATUITY
    ID_INTERNAL CDATA #REQUIRED
    KEY_STUDENT_CURRICULAR_PLAN CDATA #REQUIRED
    STATE CDATA #IMPLIED
    GRATUITY_STATE CDATA #IMPLIED
    DATE CDATA #IMPLIED
    REMARKS CDATA #IMPLIED
>

<!ELEMENT RESTRICTION EMPTY>
<!ATTLIST RESTRICTION
    ID_INTERNAL CDATA #REQUIRED
    CLASS_NAME CDATA #REQUIRED
    KEY_PRECEDENCE CDATA #REQUIRED
    KEY_CURRICULAR_COURSE CDATA #IMPLIED
    NUMBER_OF_CURRICULAR_COURSE_DONE CDATA #IMPLIED
>

<!ELEMENT conversaoCidadePais EMPTY>
<!ATTLIST conversaoCidadePais
    descr1 CDATA #IMPLIED
    descr2 CDATA #IMPLIED
>

<!ELEMENT ass_PERIODO_FERIAS EMPTY>
<!ATTLIST ass_PERIODO_FERIAS
    codigoInterno CDATA #REQUIRED
    chaveFuncionario CDATA #REQUIRED
    dataInicio CDATA #REQUIRED
    dataFim CDATA #IMPLIED
    numDiasUteis CDATA #REQUIRED
    tipoFerias CDATA #REQUIRED
    quem CDATA #REQUIRED
    quando CDATA #REQUIRED
>

<!ELEMENT SEMINARY_THEME EMPTY>
<!ATTLIST SEMINARY_THEME
    id_internal CDATA #REQUIRED
    name CDATA #REQUIRED
    short_name CDATA #IMPLIED
    description CDATA #IMPLIED
>

<!ELEMENT ENROLMENT EMPTY>
<!ATTLIST ENROLMENT
    ID_INTERNAL CDATA #REQUIRED
    KEY_STUDENT_CURRICULAR_PLAN CDATA #REQUIRED
    KEY_CURRICULAR_COURSE_SCOPE CDATA #REQUIRED
    KEY_EXECUTION_PERIOD CDATA #REQUIRED
    STATE CDATA #REQUIRED
    CLASS_NAME CDATA #REQUIRED
    KEY_CURRICULAR_COURSE_FOR_OPTION CDATA #IMPLIED
    EVALUATION_TYPE CDATA #REQUIRED
>

<!ELEMENT COORDINATOR EMPTY>
<!ATTLIST COORDINATOR
    ID_INTERNAL CDATA #REQUIRED
    KEY_EXECUTION_DEGREE CDATA #REQUIRED
    KEY_TEACHER CDATA #REQUIRED
    RESPONSIBLE CDATA #REQUIRED
>

<!ELEMENT concelhoExpansao EMPTY>
<!ATTLIST concelhoExpansao
    descr1 CDATA #IMPLIED
    descr2 CDATA #IMPLIED
>

<!ELEMENT EXECUTION_COURSE EMPTY>
<!ATTLIST EXECUTION_COURSE
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #IMPLIED
    CODE CDATA #REQUIRED
    THEORETICAL_HOURS CDATA #IMPLIED
    PRATICAL_HOURS CDATA #IMPLIED
    THEO_PRAT_HOURS CDATA #IMPLIED
    LAB_HOURS CDATA #IMPLIED
    SEMESTER CDATA #IMPLIED
    KEY_EXECUTION_PERIOD CDATA #REQUIRED
    COMMENT CDATA #IMPLIED
>

<!ELEMENT ENROLMENT_PERIOD EMPTY>
<!ATTLIST ENROLMENT_PERIOD
    ID_INTERNAL CDATA #REQUIRED
    KEY_DEGREE_CURRICULAR_PLAN CDATA #REQUIRED
    KEY_EXECUTION_PERIOD CDATA #REQUIRED
    START_DATE CDATA #REQUIRED
    END_DATE CDATA #REQUIRED
>

<!ELEMENT WEBSITE_ITEM EMPTY>
<!ATTLIST WEBSITE_ITEM
    ID_INTERNAL CDATA #REQUIRED
    TITLE CDATA #REQUIRED
    MAIN_ENTRY_TEXT CDATA #REQUIRED
    EXCERPT CDATA #IMPLIED
    PUBLISHED CDATA #REQUIRED
    CREATION_DATE CDATA #REQUIRED
    KEY_EDITOR CDATA #REQUIRED
    AUTHOR_NAME CDATA #REQUIRED
    AUTHOR_EMAIL CDATA #REQUIRED
    KEYWORDS CDATA #REQUIRED
    ONLINE_BEGIN_DAY CDATA #REQUIRED
    ONLINE_END_DAY CDATA #REQUIRED
    ITEM_BEGIN_DAY CDATA #IMPLIED
    ITEM_END_DAY CDATA #IMPLIED
    KEY_WEBSITE_SECTION CDATA #REQUIRED
>

<!ELEMENT GUIDE EMPTY>
<!ATTLIST GUIDE
    ID_INTERNAL CDATA #REQUIRED
    NUMBER CDATA #REQUIRED
    YEAR CDATA #REQUIRED
    KEY_CONTRIBUTOR CDATA #REQUIRED
    KEY_PERSON CDATA #REQUIRED
    TOTAL CDATA #REQUIRED
    REMARKS CDATA #IMPLIED
    GUIDE_REQUESTER CDATA #REQUIRED
    KEY_EXECUTION_DEGREE CDATA #REQUIRED
    PAYMENT_TYPE CDATA #IMPLIED
    CREATION_DATE CDATA #REQUIRED
    VERSION CDATA #REQUIRED
    PAYMENT_DATE CDATA #IMPLIED
>

<!ELEMENT EXAM_EXECUTION_COURSE EMPTY>
<!ATTLIST EXAM_EXECUTION_COURSE
    ID_INTERNAL CDATA #REQUIRED
    KEY_EVALUATION CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
>

<!ELEMENT METADATA EMPTY>
<!ATTLIST METADATA
    ID_INTERNAL CDATA #REQUIRED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
    METADATA_FILE CDATA #REQUIRED
    VISIBILITY CDATA #REQUIRED
>

<!ELEMENT ass_HORARIO_EXCEPCAO EMPTY>
<!ATTLIST ass_HORARIO_EXCEPCAO
    codigoInterno CDATA #REQUIRED
    chaveHorarioTipo CDATA #REQUIRED
    chaveFuncionario CDATA #REQUIRED
    sigla CDATA #IMPLIED
    modalidade CDATA #IMPLIED
    duracaoSemanal CDATA #IMPLIED
    inicioPF1 CDATA #IMPLIED
    fimPF1 CDATA #IMPLIED
    inicioPF2 CDATA #IMPLIED
    fimPF2 CDATA #IMPLIED
    inicioHN1 CDATA #IMPLIED
    fimHN1 CDATA #IMPLIED
    inicioHN2 CDATA #IMPLIED
    fimHN2 CDATA #IMPLIED
    inicioRefeicao CDATA #IMPLIED
    fimRefeicao CDATA #IMPLIED
    descontoObrigatorio CDATA #IMPLIED
    descontoMinimo CDATA #IMPLIED
    inicioExpediente CDATA #IMPLIED
    fimExpediente CDATA #IMPLIED
    dataInicio CDATA #REQUIRED
    dataFim CDATA #IMPLIED
    numDias CDATA #IMPLIED
    posicao CDATA #IMPLIED
    trabalhoConsecutivo CDATA #IMPLIED
    quem CDATA #REQUIRED
    quando CDATA #REQUIRED
>

<!ELEMENT ass_MARCACAO_PONTO EMPTY>
<!ATTLIST ass_MARCACAO_PONTO
    codigoInterno CDATA #REQUIRED
    unidade CDATA #IMPLIED
    siglaUnidade CDATA #IMPLIED
    dataMarcacao CDATA #IMPLIED
    numCartao CDATA #IMPLIED
    numFuncionario CDATA #IMPLIED
    estado CDATA #IMPLIED
>

<!ELEMENT ass_HORARIOTIPO_REGIME EMPTY>
<!ATTLIST ass_HORARIOTIPO_REGIME
    chaveHorarioTipo CDATA #REQUIRED
    chaveRegime CDATA #REQUIRED
>

<!ELEMENT CREDITS_MANAGER_DEPARTMENT EMPTY>
<!ATTLIST CREDITS_MANAGER_DEPARTMENT
    ID_INTERNAL CDATA #REQUIRED
    KEY_PERSON CDATA #REQUIRED
    KEY_DEPARTMENT CDATA #REQUIRED
>

<!ELEMENT EVALUATION EMPTY>
<!ATTLIST EVALUATION
    ID_INTERNAL CDATA #REQUIRED
    CLASS_NAME CDATA #REQUIRED
    DAY CDATA #IMPLIED
    BEGINNING CDATA #IMPLIED
    END CDATA #IMPLIED
    SEASON CDATA #REQUIRED
    ENROLLMENT_BEGIN_DAY CDATA #IMPLIED
    ENROLLMENT_BEGIN_TIME CDATA #IMPLIED
    ENROLLMENT_END_DAY CDATA #IMPLIED
    ENROLLMENT_END_TIME CDATA #IMPLIED
    PUBLISHMENT_MESSAGE CDATA #IMPLIED
>

<!ELEMENT ass_HORARIOEXCEPCAO_REGIME EMPTY>
<!ATTLIST ass_HORARIOEXCEPCAO_REGIME
    chaveHorario CDATA #REQUIRED
    chaveRegime CDATA #REQUIRED
>

<!ELEMENT STUDENT_GROUP EMPTY>
<!ATTLIST STUDENT_GROUP
    ID_INTERNAL CDATA #REQUIRED
    GROUP_NUMBER CDATA #REQUIRED
    KEY_SHIFT CDATA #REQUIRED
    KEY_GROUP_PROPERTIES CDATA #REQUIRED
>

<!ELEMENT EXTERNAL_PERSON EMPTY>
<!ATTLIST EXTERNAL_PERSON
    ID_INTERNAL CDATA #REQUIRED
    WORK_LOCATION CDATA #REQUIRED
    KEY_PERSON CDATA #REQUIRED
>

<!ELEMENT PERSON_ADVISORY EMPTY>
<!ATTLIST PERSON_ADVISORY
    ID_INTERNAL CDATA #REQUIRED
    KEY_PERSON CDATA #REQUIRED
    KEY_ADVISORY CDATA #REQUIRED
>

<!ELEMENT ass_URL EMPTY>
<!ATTLIST ass_URL
    chaveUrl CDATA #REQUIRED
    url CDATA #REQUIRED
>

<!ELEMENT STUDENT_KIND EMPTY>
<!ATTLIST STUDENT_KIND
    ID_INTERNAL CDATA #REQUIRED
    STUDENT_TYPE CDATA #REQUIRED
    MIN_COURSES_TO_ENROL CDATA #REQUIRED
    MAX_COURSES_TO_ENROL CDATA #REQUIRED
    MAX_NAC_TO_ENROL CDATA #REQUIRED
>

<!ELEMENT GRANT_OWNER EMPTY>
<!ATTLIST GRANT_OWNER
    ID_INTERNAL CDATA #REQUIRED
    KEY_PERSON CDATA #REQUIRED
    NUMBER CDATA #REQUIRED
    DATE_SEND_CGD CDATA #IMPLIED
    CARD_COPY_NUMBER CDATA #IMPLIED
>

<!ELEMENT MASTER_DEGREE_PROOF_VERSION_JURY EMPTY>
<!ATTLIST MASTER_DEGREE_PROOF_VERSION_JURY
    ID_INTERNAL CDATA #REQUIRED
    KEY_MASTER_DEGREE_PROOF_VERSION CDATA #REQUIRED
    KEY_TEACHER CDATA #REQUIRED
>

<!ELEMENT posgrad_aluno_mestrado EMPTY>
<!ATTLIST posgrad_aluno_mestrado
    codigoInterno CDATA #REQUIRED
    numero CDATA #REQUIRED
    codigoPessoa CDATA #REQUIRED
    codigoCursoMestrado CDATA #REQUIRED
    especializacao CDATA #REQUIRED
    anoCandidatura CDATA #REQUIRED
    escolaLicenciatura CDATA #IMPLIED
    anoLicenciatura CDATA #IMPLIED
    media CDATA #IMPLIED
    creditos CDATA #IMPLIED
    observacoes CDATA #IMPLIED
>

<!ELEMENT ass_PESSOA_CARGO EMPTY>
<!ATTLIST ass_PESSOA_CARGO
    chavePessoa CDATA #REQUIRED
    chaveCargo CDATA #REQUIRED
>

<!ELEMENT ass_STATUS EMPTY>
<!ATTLIST ass_STATUS
    codigoInterno CDATA #REQUIRED
    sigla CDATA #REQUIRED
    designacao CDATA #REQUIRED
    estado CDATA #REQUIRED
    assiduidade CDATA #REQUIRED
    quem CDATA #REQUIRED
    quando CDATA #REQUIRED
>

<!ELEMENT DEGREE_CURRICULAR_PLAN EMPTY>
<!ATTLIST DEGREE_CURRICULAR_PLAN
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #REQUIRED
    KEY_DEGREE CDATA #REQUIRED
    STATE CDATA #REQUIRED
    INITIAL_DATE CDATA #IMPLIED
    END_DATE CDATA #IMPLIED
    DEGREE_DURATION CDATA #REQUIRED
    MINIMAL_YEAR_FOR_OPTIONAL_COURSES CDATA #REQUIRED
    MARK_TYPE CDATA #REQUIRED
    NEEDED_CREDITS CDATA #IMPLIED
    NUMERUS_CLAUSUS CDATA #IMPLIED
>

<!ELEMENT WEBSITE EMPTY>
<!ATTLIST WEBSITE
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #REQUIRED
    MAIL CDATA #IMPLIED
    STYLE CDATA #IMPLIED
    CLASS_NAME CDATA #IMPLIED
>

<!ELEMENT ass_FUNC_NAO_DOCENTE EMPTY>
<!ATTLIST ass_FUNC_NAO_DOCENTE
    codigoInterno CDATA #REQUIRED
    chaveFuncionario CDATA #REQUIRED
>

<!ELEMENT posgrad_docente EMPTY>
<!ATTLIST posgrad_docente
    codigoInterno CDATA #REQUIRED
    cat CDATA #IMPLIED
    numdec CDATA #REQUIRED
    bi CDATA #IMPLIED
    cont CDATA #IMPLIED
    nome CDATA #REQUIRED
>

<!ELEMENT SEMINARY_CASESTUDY EMPTY>
<!ATTLIST SEMINARY_CASESTUDY
    id_internal CDATA #REQUIRED
    name CDATA #REQUIRED
    description CDATA #IMPLIED
    code CDATA #REQUIRED
    seminary_theme_Id_Internal CDATA #IMPLIED
>

<!ELEMENT CURRICULUM EMPTY>
<!ATTLIST CURRICULUM
    ID_INTERNAL CDATA #REQUIRED
    KEY_CURRICULAR_COURSE CDATA #REQUIRED
    GENERAL_OBJECTIVES CDATA #IMPLIED
    OPERACIONAL_OBJECTIVES CDATA #IMPLIED
    PROGRAM CDATA #IMPLIED
    GENERAL_OBJECTIVES_EN CDATA #IMPLIED
    OPERACIONAL_OBJECTIVES_EN CDATA #IMPLIED
    PROGRAM_EN CDATA #IMPLIED
    EVALUATION_ELEMENTS CDATA #IMPLIED
    EVALUATION_ELEMENTS_EN CDATA #IMPLIED
    LAST_MODIFICATION_DATE CDATA #IMPLIED
>

<!ELEMENT GUIDE_ENTRY EMPTY>
<!ATTLIST GUIDE_ENTRY
    ID_INTERNAL CDATA #REQUIRED
    KEY_GUIDE CDATA #REQUIRED
    GRADUATION_TYPE CDATA #IMPLIED
    DOCUMENT_TYPE CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    PRICE CDATA #REQUIRED
    QUANTITY CDATA #REQUIRED
>

<!ELEMENT DEPARTMENT_COURSE EMPTY>
<!ATTLIST DEPARTMENT_COURSE
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #REQUIRED
    CODE CDATA #REQUIRED
    KEY_DEPARTMENT CDATA #REQUIRED
>

<!ELEMENT CURRICULAR_YEAR EMPTY>
<!ATTLIST CURRICULAR_YEAR
    ID_INTERNAL CDATA #REQUIRED
    YEAR CDATA #REQUIRED
>

<!ELEMENT STUDENT_CURRICULAR_PLAN EMPTY>
<!ATTLIST STUDENT_CURRICULAR_PLAN
    ID_INTERNAL CDATA #REQUIRED
    KEY_STUDENT CDATA #REQUIRED
    KEY_DEGREE_CURRICULAR_PLAN CDATA #REQUIRED
    CURRENT_STATE CDATA #REQUIRED
    START_DATE CDATA #REQUIRED
    KEY_BRANCH CDATA #REQUIRED
    SPECIALIZATION CDATA #IMPLIED
    GIVEN_CREDITS CDATA #IMPLIED
    COMPLETED_COURSES CDATA #IMPLIED
    ENROLLED_COURSES CDATA #IMPLIED
    CLASSIFICATION CDATA #IMPLIED
    OBSERVATIONS CDATA #IMPLIED
    KEY_EMPLOYEE CDATA #IMPLIED
    WHEN_ALTER CDATA #IMPLIED
>

<!ELEMENT TEST_QUESTION EMPTY>
<!ATTLIST TEST_QUESTION
    ID_INTERNAL CDATA #REQUIRED
    TEST_QUESTION_ORDER CDATA #REQUIRED
    TEST_QUESTION_VALUE CDATA #REQUIRED
    KEY_XML_DOCUMENT CDATA #REQUIRED
    KEY_TEST CDATA #REQUIRED
>

<!ELEMENT posgrad_pessoa EMPTY>
<!ATTLIST posgrad_pessoa
    codigoInterno CDATA #REQUIRED
    numeroDocumentoIdentificacao CDATA #IMPLIED
    tipoDocumentoIdentificacao CDATA #IMPLIED
    localEmissaoDocumentoIdentificacao CDATA #IMPLIED
    dataEmissaoDocumentoIdentificacao CDATA #IMPLIED
    nome CDATA #IMPLIED
    sexo CDATA #IMPLIED
    estadoCivil CDATA #IMPLIED
    nascimento CDATA #IMPLIED
    nomePai CDATA #IMPLIED
    nomeMae CDATA #IMPLIED
    nacionalidade CDATA #IMPLIED
    freguesiaNaturalidade CDATA #IMPLIED
    concelhoNaturalidade CDATA #IMPLIED
    distritoNaturalidade CDATA #IMPLIED
    morada CDATA #IMPLIED
    localidade CDATA #IMPLIED
    codigoPostal CDATA #IMPLIED
    freguesiaMorada CDATA #IMPLIED
    concelhoMorada CDATA #IMPLIED
    distritoMorada CDATA #IMPLIED
    telefone CDATA #IMPLIED
    telemovel CDATA #IMPLIED
    email CDATA #IMPLIED
    enderecoWeb CDATA #IMPLIED
    numContribuinte CDATA #IMPLIED
    profissao CDATA #IMPLIED
    username CDATA #IMPLIED
    password CDATA #IMPLIED
>

<!ELEMENT STUDENT EMPTY>
<!ATTLIST STUDENT
    ID_INTERNAL CDATA #REQUIRED
    NUMBER CDATA #REQUIRED
    KEY_PERSON CDATA #REQUIRED
    STATE CDATA #REQUIRED
    DEGREE_TYPE CDATA #REQUIRED
    KEY_STUDENT_KIND CDATA #REQUIRED
>

<!ELEMENT posgrad_curso_mestrado EMPTY>
<!ATTLIST posgrad_curso_mestrado
    codigoInterno CDATA #REQUIRED
    nomeMestrado CDATA #REQUIRED
    anoLectivo CDATA #REQUIRED
>

<!ELEMENT UNIVERSITY EMPTY>
<!ATTLIST UNIVERSITY
    ID_INTERNAL CDATA #REQUIRED
    CODE CDATA #REQUIRED
    NAME CDATA #REQUIRED
>

<!ELEMENT CATEGORY EMPTY>
<!ATTLIST CATEGORY
    ID_INTERNAL CDATA #REQUIRED
    CODE CDATA #REQUIRED
    LONG_NAME CDATA #REQUIRED
    SHORT_NAME CDATA #REQUIRED
>

<!ELEMENT posgrad_pessoa_cargo EMPTY>
<!ATTLIST posgrad_pessoa_cargo
    codigoInterno CDATA #REQUIRED
    codigoPessoa CDATA #REQUIRED
    codigoCargo CDATA #REQUIRED
    data CDATA #REQUIRED
>

<!ELEMENT ITEM EMPTY>
<!ATTLIST ITEM
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #IMPLIED
    ITEM_ORDER CDATA #IMPLIED
    INFORMATION CDATA #IMPLIED
    URGENT CDATA #IMPLIED
    KEY_SECTION CDATA #REQUIRED
>

<!ELEMENT ROOM EMPTY>
<!ATTLIST ROOM
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #REQUIRED
    BUILDING CDATA #REQUIRED
    FLOOR CDATA #REQUIRED
    TYPE CDATA #REQUIRED
    NORMAL_CAPACITY CDATA #REQUIRED
    EXAM_CAPACITY CDATA #REQUIRED
>

<!ELEMENT posgrad_candidato_situacao EMPTY>
<!ATTLIST posgrad_candidato_situacao
    codigoInterno CDATA #REQUIRED
    codigoCandidato CDATA #REQUIRED
    codigoSituacao CDATA #REQUIRED
    data CDATA #REQUIRED
    observacoes CDATA #IMPLIED
    valido CDATA #REQUIRED
>

<!ELEMENT CURRICULAR_COURSE EMPTY>
<!ATTLIST CURRICULAR_COURSE
    ID_INTERNAL CDATA #REQUIRED
    KEY_DEPARTMENT_COURSE CDATA #IMPLIED
    KEY_DEGREE_CURRICULAR_PLAN CDATA #REQUIRED
    CREDITS CDATA #IMPLIED
    THEORETICAL_HOURS CDATA #IMPLIED
    PRATICAL_HOURS CDATA #IMPLIED
    THEO_PRAT_HOURS CDATA #IMPLIED
    LAB_HOURS CDATA #IMPLIED
    NAME CDATA #REQUIRED
    CODE CDATA #REQUIRED
    TYPE CDATA #REQUIRED
    EXECUTION_SCOPE CDATA #IMPLIED
    MANDATORY CDATA #REQUIRED
    KEY_UNIVERSITY CDATA #IMPLIED
    BASIC CDATA #REQUIRED
>

<!ELEMENT freguesiaExpansao EMPTY>
<!ATTLIST freguesiaExpansao
    descr1 CDATA #IMPLIED
    descr2 CDATA #IMPLIED
>

<!ELEMENT MASTER_DEGREE_THESIS_DATA_VERSION EMPTY>
<!ATTLIST MASTER_DEGREE_THESIS_DATA_VERSION
    ID_INTERNAL CDATA #REQUIRED
    KEY_MASTER_DEGREE_THESIS CDATA #REQUIRED
    KEY_EMPLOYEE CDATA #REQUIRED
    DISSERTATION_TITLE CDATA #REQUIRED
    LAST_MODIFICATION CDATA #IMPLIED
    CURRENT_STATE CDATA #REQUIRED
>

<!ELEMENT TopWords EMPTY>
<!ATTLIST TopWords
    Palavra CDATA #REQUIRED
>

<!ELEMENT CLASS EMPTY>
<!ATTLIST CLASS
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #REQUIRED
    SEMESTER CDATA #IMPLIED
    CURRICULAR_YEAR CDATA #REQUIRED
    KEY_EXECUTION_DEGREE CDATA #REQUIRED
    KEY_DEGREE CDATA #IMPLIED
    KEY_EXECUTION_PERIOD CDATA #REQUIRED
>

<!ELEMENT posgrad_disciplina EMPTY>
<!ATTLIST posgrad_disciplina
    codigoInterno CDATA #REQUIRED
    nome CDATA #REQUIRED
    codigoCursoMestrado CDATA #REQUIRED
>

<!ELEMENT EQUIVALENT_ENROLMENT_FOR_ENROLMENT_EQUIVALENCE EMPTY>
<!ATTLIST EQUIVALENT_ENROLMENT_FOR_ENROLMENT_EQUIVALENCE
    ID_INTERNAL CDATA #REQUIRED
    KEY_ENROLMENT_EQUIVALENCE CDATA #REQUIRED
    KEY_EQUIVALENT_ENROLMENT CDATA #REQUIRED
>

<!ELEMENT COUNTRY EMPTY>
<!ATTLIST COUNTRY
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #REQUIRED
    NATIONALITY CDATA #REQUIRED
    CODE CDATA #REQUIRED
>

<!ELEMENT OJB_DLIST EMPTY>
<!ATTLIST OJB_DLIST
    ID CDATA #REQUIRED
    SIZE_ CDATA #IMPLIED
>

<!ELEMENT conversaoLocalConcelho EMPTY>
<!ATTLIST conversaoLocalConcelho
    localidade CDATA #IMPLIED
    concelho CDATA #IMPLIED
>

<!ELEMENT WEBSITE_SECTION EMPTY>
<!ATTLIST WEBSITE_SECTION
    ID_INTERNAL CDATA #REQUIRED
    NAME CDATA #REQUIRED
    SIZE CDATA #REQUIRED
    SORTING_ORDER CDATA #IMPLIED
    EXCERPT_SIZE CDATA #IMPLIED
    KEY_WEBSITE CDATA #REQUIRED
>

<!ELEMENT GROUP_PROPERTIES EMPTY>
<!ATTLIST GROUP_PROPERTIES
    ID_INTERNAL CDATA #REQUIRED
    MAXIMUM_CAPACITY CDATA #IMPLIED
    MINIMUM_CAPACITY CDATA #IMPLIED
    IDEAL_CAPACITY CDATA #IMPLIED
    ENROLMENT_POLICY CDATA #IMPLIED
    GROUP_MAXIMUM_NUMBER CDATA #IMPLIED
    NAME CDATA #REQUIRED
    SHIFT_TYPE CDATA #IMPLIED
    ENROLMENT_BEGIN_DAY CDATA #IMPLIED
    ENROLMENT_END_DAY CDATA #IMPLIED
    PROJECT_DESCRIPTION CDATA #IMPLIED
    KEY_EXECUTION_COURSE CDATA #REQUIRED
>

<!ELEMENT EXECUTION_DEGREE EMPTY>
<!ATTLIST EXECUTION_DEGREE
    ID_INTERNAL CDATA #REQUIRED
    ACADEMIC_YEAR CDATA #REQUIRED
    KEY_DEGREE_CURRICULAR_PLAN CDATA #REQUIRED
    KEY_TEACHER CDATA #REQUIRED
    TEMPORARY_EXAM_MAP CDATA #REQUIRED
>

<!ELEMENT POSSIBLE_CURRICULAR_COURSE_FOR_OPTIONAL_CURRICULAR_COURSE EMPTY>
<!ATTLIST POSSIBLE_CURRICULAR_COURSE_FOR_OPTIONAL_CURRICULAR_COURSE
    ID_INTERNAL CDATA #REQUIRED
    KEY_POSSIBLE_CURRICULAR_COURSE CDATA #REQUIRED
    KEY_OPTIONAL_CURRICULAR_COURSE CDATA #REQUIRED
>

<!ELEMENT SEMINARYCANDIDACY_SEMINARYCASESTUDY EMPTY>
<!ATTLIST SEMINARYCANDIDACY_SEMINARYCASESTUDY
    candidacy_id_internal CDATA #REQUIRED
    casestudy_id_internal CDATA #REQUIRED
    preference_order CDATA #REQUIRED
>

<!ELEMENT OJB_DMAP EMPTY>
<!ATTLIST OJB_DMAP
    ID CDATA #REQUIRED
    SIZE_ CDATA #IMPLIED
>

<!ELEMENT ass_REGULARIZACAO_MARCACAO EMPTY>
<!ATTLIST ass_REGULARIZACAO_MARCACAO
    codigoInterno CDATA #REQUIRED
    chaveMarcacaoPonto CDATA #REQUIRED
    chaveParamRegularizacao CDATA #REQUIRED
    quem CDATA #REQUIRED
    quando CDATA #REQUIRED
>

<!ELEMENT ass_HORARIO_TIPO EMPTY>
<!ATTLIST ass_HORARIO_TIPO
    codigoInterno CDATA #REQUIRED
    sigla CDATA #REQUIRED
    modalidade CDATA #REQUIRED
    duracaoSemanal CDATA #REQUIRED
    inicioPF1 CDATA #IMPLIED
    fimPF1 CDATA #IMPLIED
    inicioPF2 CDATA #IMPLIED
    fimPF2 CDATA #IMPLIED
    inicioHN1 CDATA #REQUIRED
    fimHN1 CDATA #REQUIRED
    inicioHN2 CDATA #IMPLIED
    fimHN2 CDATA #IMPLIED
    inicioRefeicao CDATA #IMPLIED
    fimRefeicao CDATA #IMPLIED
    descontoObrigatorio CDATA #IMPLIED
    descontoMinimo CDATA #IMPLIED
    inicioExpediente CDATA #IMPLIED
    fimExpediente CDATA #IMPLIED
    trabalhoConsecutivo CDATA #IMPLIED
>

<!ELEMENT ROLE EMPTY>
<!ATTLIST ROLE
    ID_INTERNAL CDATA #REQUIRED
    ROLE_TYPE CDATA #REQUIRED
    PORTAL_SUB_APPLICATION CDATA #IMPLIED
    PAGE CDATA #IMPLIED
    PAGE_NAME_PROPERTY CDATA #IMPLIED
>

<!ELEMENT SEMINARY EMPTY>
<!ATTLIST SEMINARY
    id_internal CDATA #REQUIRED
    name CDATA #REQUIRED
    description CDATA #IMPLIED
    allowed_candidacies_per_student CDATA #IMPLIED
>

